#* @vtlvariable name="displayManager" type="org.nrg.xdat.display.DisplayManager" *#
#* @vtlvariable name="siteConfig" type="java.util.Properties" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="project" type="org.nrg.xdat.om.XnatProjectdata" *#
<script type="text/javascript" src="$content.getURI("scripts/settingsManager.js")"></script>	
#if($turbineUtils.toBoolean($siteConfig.getProperty("UI.allow-quarantine","true")))
 <table id="quarantine_table">
  <tr>
   <td colspan="2" class="highlighted" id="quarantine_container">
#set($quar=$project.getArcSpecification().getQuarantineCode())
## #if($quar=="")
#if(!$quar)
#set($quar=0)
#end
	 <DIV style="font-weight:700;">&nbsp;Define Quarantine Settings</DIV>
       <TABLE cellpadding="5" cellspacing="0">
            <TR><TD NOWRAP><input id="yes_quarantine" type="radio" name="quarantine" value="1" #if($!quar==1)CHECKED#end/> YES</TD><TD>All new experiments (and modified experiments) are placed into a quarantine state and must be specifically activated.</TD></TR>
            <TR><TD NOWRAP><input id="no_quarantine"  type="radio" name="quarantine" value="0" #if($!quar==0)CHECKED#end /> NO</TD><TD>New and modified experiments will not be placed in Quarantine.</TD></TR>
            <TR><TD COLSPAN="2"><input type="button" id="project_quarantine_save" value="Save" disabled="true"/></TD></TR>
       </TABLE>
  </td>
 </tr>
</table>
<script>
window.quarantine=(new RadioSettingsManager(document.getElementById('quarantine_container'),{'URI':serverRoot+'/REST/projects/$project.getId()/quarantine_code/','radio_ids':['yes_quarantine','no_quarantine'],'current_value':'$quar','button':'project_quarantine_save'}));
</script>		
	<br/>
#end
<table id="prearchive_table">
 <tr>
  <td colspan="2" class="highlighted" id="prearchive_container">
#set($prearc=$project.getArcSpecification().getPrearchiveCode())
## #if($prearc=="")
#if(!$prearc)
#set($prearc=0)
#end
	<DIV style="font-weight:700;">&nbsp;Define Prearchive Settings</DIV>
       <TABLE cellpadding="5" cellspacing="0">
            <TR><TD NOWRAP><input id="0_prearchive" type="radio" name="prearchive" value="0" #if($prearc==0)CHECKED#end/></TD><TD>All image data should be placed in a temporary location (prearchive) before being manually transferred into the permanent archive.</TD></TR>
            <TR><TD NOWRAP><input id="4_prearchive"  type="radio" name="prearchive" value="4" #if($prearc==4)CHECKED#end /></TD><TD>All image data will be placed into the archive automatically, but anything matching existing files will be rejected.  Data which doesn't match a pre-existing $displayManager.getSingularDisplayNameForProject().toLowerCase() will be placed in an 'Unassigned' $displayManager.getSingularDisplayNameForProject().toLowerCase().</TD></TR>
            <TR><TD NOWRAP><input id="5_prearchive"  type="radio" name="prearchive" value="5" #if($prearc==5)CHECKED#end /></TD><TD>All image data will be placed into the archive automatically and will overwrite existing files.  Data which doesn't match a pre-existing $displayManager.getSingularDisplayNameForProject().toLowerCase() will be placed in an 'Unassigned' $displayManager.getSingularDisplayNameForProject().toLowerCase().</TD></TR>
            <TR><TD COLSPAN="2"><input type="button" id="project_prearchive_save" value="Save" disabled="true"/></TD></TR>
       </TABLE>
  </td>
 </tr>
</table>
<script>
window.prearchive=(new RadioSettingsManager(document.getElementById('prearchive_container'),{'URI':serverRoot+'/REST/projects/$project.getId()/prearchive_code/','radio_ids':['0_prearchive','4_prearchive','5_prearchive'],'current_value':'$prearc','button':'project_prearchive_save'}));
</script>
<table id="script_table">
  <tr>
    <td colspan="2" class="highlighted" id="script_container">
      <DIV style="font-weight:700;">Anonymization Script</DIV>
      <TABLE>
	<TR><TD><input id="enable_anon_script" type="radio" name="anon_script" value="true"/></TD><TD>Enable</TD></TR>
	<TR><TD><input id="disable_anon_script" type="radio" name="anon_script" value="false"/></TD><TD>Disable</TD></TR>
	<TR><TD></TD><TD><textarea id="script_text_area" rows="20" cols="80"></textarea></TD></TR>
	<TR><TD COLSPAN="2"><input type="button" id="anon_script_save" value="Save" disabled="true"/></TD></TR>
      </TABLE>      
    </td>
  </tr>
</table>
<script>
  var sg = new scriptGet(document.getElementById('script_container'),
            { 
	       'getStatus' : serverRoot + '/data/config/edit/projects/$project.getId()/image/dicom/status?format=json',
	       'putStatus' : serverRoot + '/data/config/edit/projects/$project.getId()/image/dicom/status?activate=',
	       'getScript' : serverRoot + '/data/config/edit/projects/$project.getId()/image/dicom/script?format=json',
	       'putScript' : serverRoot + '/data/config/edit/projects/$project.getId()/image/dicom/script?inbody=true',
	       'project' : '$project.getId()',
	       'enable_radio' : 'enable_anon_script',
	       'disable_radio' : 'disable_anon_script',
	       'script_text_area' : 'script_text_area',
	       'save_button' : 'anon_script_save'
	    });
  sg.get();	    
</script>
<table id="series_import_filter_table">
    <tr>
        <td colspan="2" class="highlighted" id="series_import_filter_container">
            <div style="font-weight:700;">Series Import Filters</div>
            <table>
                <tr>
                    <td><label for="enable_series_import_filter">Enable Filter</label></td>
                    <td><input type="checkbox" name="enable_series_import_filter" id="enable_series_import_filter" /></td>
                </tr>
                <tr>
                    <td><label for="series_import_filter_mode_list">Mode</label></td>
                    <td>
                        <select name="series_import_filter_mode_list" id="series_import_filter_mode_list" disabled placeholder="Enter white- or blacklisted series filters separated by newlines, e.g. <b>localizer</b> for localizer series.">
                            <option value="whitelist">Whitelist</option>
                            <option value="blacklist">Blacklist</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><textarea id="series_import_filter_text_area" rows="20" cols="80" disabled="disabled"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" id="series_import_filter_save" value="Save" disabled="disabled"/></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<script>
    var filtersGet = new seriesImportFiltersGet(
            {
                'container': document.getElementById('series_import_filter_container'),
                'project': '$project.getId()',
                'enable_checkbox': 'enable_series_import_filter',
                'mode_list': 'series_import_filter_mode_list',
                'filters_text_area': 'series_import_filter_text_area',
                'save_button': 'series_import_filter_save'
            });
    filtersGet.get();
</script>
#if($turbineUtils.toBoolean($siteConfig.getProperty("enableProjectAppletScript", "false")))
<table id="applet_script_table">
  <tr>
    <td colspan="2" class="highlighted" id="applet_script_container">
      <DIV style="font-weight:700;">Applet Configuration Script</DIV>
      <TABLE>
	<TR><TD><input id="enable_applet_script" type="radio" name="applet_script" value="true"/></TD><TD>Enable</TD></TR>
	<TR><TD><input id="disable_applet_script" type="radio" name="applet_script" value="false"/></TD><TD>Disable</TD></TR>
	<TR><TD></TD><TD><textarea id="applet_script_text_area" rows="20" cols="80"></textarea></TD></TR>
	<TR><TD COLSPAN="2"><input type="button" id="applet_script_save" value="Save" disabled="true"/></TD></TR>
      </TABLE>      
    </td>
  </tr>
</table>
<script>
  var sgApplet = new scriptGet(document.getElementById('applet_script_container'),
            { 
	       'getStatus' : serverRoot + '/data/projects/$project.getId()/config/applet/settings?format=json',
	       'putStatus' : serverRoot + '/data/projects/$project.getId()/config/applet/settings?status=',
	       'getScript' : serverRoot + '/data/projects/$project.getId()/config/applet/settings?format=json',
	       'putScript' : serverRoot + '/data/projects/$project.getId()/config/applet/settings?inbody=true',
	       'project' : '$project.getId()',
	       'enable_radio' : 'enable_applet_script',
	       'disable_radio' : 'disable_applet_script',
	       'script_text_area' : 'applet_script_text_area',
	       'save_button' : 'applet_script_save'
	    });
  sgApplet.get();
</script>
#end
#addCustomScreens($project.getXSIType() "report/manage_tab")