<!-- title: RIIS -->
<script type="text/javascript" src="$content.getURI("scripts/project/riisConfigMgmt.js")"></script>

<style type="text/css">
.riisHidden{
   display: none;
}

span.riisError{
   color: red;
}

#riis_threshold_display{
   padding-top: 5px;
   padding-left: 2px;
   font-weight: bold;
}

div.riis_critical_error{
   text-align: center;
   width: 100%;
   padding-left: 0px;
   padding-right: 0px;
   margin-top: 5px;
   margin-bottom: 2px;
}

#riisUser, #riisThreshold{
   margin-bottom: 3px;
}

#riis_login_records{
   margin-top: 3px;
   margin-bottom: 3px;
   width: 100%;
}

h4.riis_header{
   margin-bottom: 0px;
}
</style>

<div id="riis_critical_err_holder" class="riisHidden"></div>
<table id="mgmt_container">
   <tr>
      <td valign="top">
         <div id="riis_mgmt_div"></div>
      </td>
      <td valign="top">
         <div id="riis_add_div">
            <table>
               <tr>
                  <td colspan="3">
                     <h4 class="riis_header">Add Riis User</h4>
                     <span>Add users that are allowed to post to the riis service.</span>
                  </td>
               </tr>
               <tr>
                  <td colspan="3" nowrap>
                     <input type="text" name="riisUser" id="riisUser"/>
                     <input type="button" value="Add" name="eventSubmit_doPerform" id="add_riis_user_btn" onclick="window.riisConfigManager.addUser();"/>
                     <span id="userAddError" class="riisHidden riisError"></span>
                  </td>
               </tr>
               <tr>
                  <td colspan="3">
                     <h4 class="riis_header">Set the Riis Threshold</h4>
                     <span>Enter the threshold value. (minutes)</span>
                  </td>
               </tr>
               <tr>
                  <td colspan="3" nowrap>
                     <input type="text" name="riisThreshold" id="riisThreshold" size=3 maxlength=4 />
                     <input type="button" value="Set" name="eventSubmit_doPerform" id="set_riis_threshold" onclick="window.riisConfigManager.setThreshold();"/>
                     <span id="thresholdError" class="riisHidden riisError"></span>
                  </td>
               </tr>
               <tr>
                  <td>
                     <div><input type="button" value="View Recent Login Records" id="view_login_records" onclick="window.riisConfigManager.loadLoginRecords();" />
                  </td>
               </tr>
            </table>
         </div>
      </td>
   </tr>
</table>
<div id = "riis_login_records"></div>

<script>
function configurationRiisTabChange(obj) {
    if(obj.newValue.get("href")=="#riisConfig") {
        if(window.riisConfigManager==undefined) {
            window.riisConfigManager = new RiisConfigManager();
        }
    }
}

function addRiisMgmtMonitor(){
    if(window.configurationTabView.get("activeTab").get("href")=="#riisConfig") {
        if(window.riisConfigManager==undefined) {
            window.riisConfigManager = new RiisConfigManager();
        }
    } else {
        window.configurationTabView.subscribe("activeTabChange", configurationRiisTabChange);
    }
}

YAHOO.util.Event.onDOMReady(addRiisMgmtMonitor);
</script>