
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>Read Span QC Status</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("READSPAN_QC_STATUS"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T1_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T1_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T2_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T2_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T3_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T3_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T4_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T4_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T5_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T5_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T6_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T6_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T7_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T7_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T8_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T8_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T9_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T9_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T10_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T10_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T11_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T11_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T12_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T12_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T13_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T13_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T14_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T14_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T15_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T15_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T16_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T16_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T17_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T17_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T18_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T18_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T19_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T19_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T20_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T20_RESPONSE"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T21_ACCURACY"))
		</TD>
		
		<TD>response</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("T21_RESPONSE"))
		</TD>
		
	</TR>
	<TR>
		<TD>readspan</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("READINGSPAN_SCORE_READSPAN"))
		</TD>
		
		<TD>readtot</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("READINGSPAN_SCORE_READTOT"))
		</TD>
		
	</TR>
</TABLE>
