
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>CVOE QC Status</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOE_QC_STATUS"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT1_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT1_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT2_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT2_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT3_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT3_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT4_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT4_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT5_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT5_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT6_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT6_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT7_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT7_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT8_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT8_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT9_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT9_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT10_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT10_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT11_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT11_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT12_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT12_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT13_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT13_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT14_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT14_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT15_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT15_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT16_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT16_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT17_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT17_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT18_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT18_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT19_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT19_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT20_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT20_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT21_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT21_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT22_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT22_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT23_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT23_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT24_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT24_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT25_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT25_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT26_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT26_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT27_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT27_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT28_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT28_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT29_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT29_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT30_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT30_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT31_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT31_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT32_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT32_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT33_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT33_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT34_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT34_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT35_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT35_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT36_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT36_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT37_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT37_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT38_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT38_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT39_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT39_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT40_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVT40_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET1_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET1_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET2_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET2_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET3_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET3_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET4_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET4_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET5_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET5_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET6_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET6_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET7_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET7_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET8_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET8_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET9_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET9_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET10_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET10_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET11_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET11_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET12_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET12_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET13_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET13_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET14_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET14_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET15_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET15_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET16_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET16_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET17_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET17_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET18_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET18_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET19_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET19_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET20_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET20_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET21_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET21_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET22_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET22_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET23_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET23_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET24_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET24_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET25_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET25_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET26_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET26_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET27_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET27_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET28_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET28_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET29_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET29_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET30_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET30_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET31_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET31_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET32_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET32_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET33_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET33_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET34_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET34_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET35_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET35_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET36_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET36_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET37_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET37_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET38_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET38_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET39_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET39_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET40_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OET40_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET1_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET1_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET2_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET2_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET3_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET3_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET4_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET4_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET5_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET5_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET6_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET6_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET7_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET7_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET8_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET8_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET9_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET9_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET10_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET10_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET11_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET11_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET12_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET12_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET13_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET13_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET14_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET14_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET15_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET15_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET16_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET16_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET17_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET17_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET18_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET18_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET19_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET19_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET20_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET20_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET21_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET21_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET22_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET22_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET23_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET23_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET24_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET24_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET25_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET25_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET26_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET26_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET27_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET27_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET28_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET28_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET29_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET29_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET30_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET30_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET31_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET31_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET32_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET32_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET33_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET33_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET34_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET34_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET35_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET35_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET36_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET36_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET37_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET37_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET38_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET38_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET39_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET39_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET40_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET40_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET41_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET41_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET42_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET42_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET43_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET43_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET44_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET44_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET45_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET45_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET46_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET46_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET47_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET47_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET48_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET48_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET49_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET49_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET50_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET50_RESPONSETIME"))
		</TD>
		
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET51_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET51_RESPONSETIME"))
		</TD>
		
	</TR>
	<TR>
		<TD>accuracy</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET52_ACCURACY"))
		</TD>
		
		<TD>responseTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOET52_RESPONSETIME"))
		</TD>
		
		<TD>switch</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVOE_SCORE"))
		</TD>
		
	</TR>
</TABLE>
