
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>letter</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_LETTER"))
		</TD>
		
	</TR>
	<TR>
		<TD>ball</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_BALL"))
		</TD>
		
		<TD>racquet</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_RACQUET"))
		</TD>
		
		<TD>broom</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_BROOM"))
		</TD>
		
		<TD>shovel</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_SHOVEL"))
		</TD>
		
	</TR>
	<TR>
		<TD>match</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_MATCH"))
		</TD>
		
		<TD>scissors</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_SCISSORS"))
		</TD>
		
		<TD>thread</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_THREAD"))
		</TD>
		
		<TD>cards</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_CARDS"))
		</TD>
		
	</TR>
	<TR>
		<TD>hammer</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_HAMMER"))
		</TD>
		
		<TD>toothbrush</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_TOOTHBRUSH"))
		</TD>
		
		<TD>jar</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_PREFS_JAR"))
		</TD>
		
		<TD>mother</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PARENTS_LEFT_MOTHER"))
		</TD>
		
	</TR>
	<TR>
		<TD>father</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PARENTS_LEFT_FATHER"))
		</TD>
		
		<TD>count</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIBLINGS_MALE_COUNT"))
		</TD>
		
		<TD>left_handed</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIBLINGS_MALE_LEFT_HANDED"))
		</TD>
		
		<TD>count</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIBLINGS_FEMALE_COUNT"))
		</TD>
		
	</TR>
	<TR>
		<TD>left_handed</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIBLINGS_FEMALE_LEFT_HANDED"))
		</TD>
		
	</TR>
</TABLE>
