
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>SCANDONE</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANDONE"))
		</TD>
		
		<TD>SCANDATE</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANDATE"))
		</TD>
		
		<TD>NDREASON</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NDREASON"))
		</TD>
		
	</TR>
	<TR>
		<TD>NDOTHER</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NDOTHER"))
		</TD>
		
	</TR>
</TABLE>
