
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>Enrollment Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ENROLLMENTDATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Initial Diagnosis</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALDIAGNOSIS"))
		</TD>
		
		<TD>Initial Diagnosis Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALDIAGNOSISDATE"))
		</TD>
		
		<TD>Exit Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXITDATE"))
		</TD>
		
		<TD>Exit Reason</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXITREASON"))
		</TD>
		
	</TR>
	<TR>
		<TD>Exit Notes</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXITNOTES"))
		</TD>
		
		<TD>Death Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEATHDATE"))
		</TD>
		
		<TD>Autopsied</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AUTOPSIED"))
		</TD>
		
		<TD>Autopsied</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AUTOPSIEDOPTIONS"))
		</TD>
		
	</TR>
	<TR>
		<TD>Autopsy Notes</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AUTOPSYNOTES"))
		</TD>
		
	</TR>
</TABLE>
