
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>REFER</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("REFER"))
		</TD>
		
		<TD>REFERX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("REFERX"))
		</TD>
		
		<TD>PRESTAT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRESTAT"))
		</TD>
		
	</TR>
	<TR>
		<TD>BIRTHMO</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BIRTHMO"))
		</TD>
		
		<TD>BIRTHYR</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("BIRTHYR"))
		</TD>
		
		<TD>SEX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SEX"))
		</TD>
		
		<TD>HISPANIC</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HISPANIC"))
		</TD>
		
	</TR>
	<TR>
		<TD>HISPOR</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HISPOR"))
		</TD>
		
		<TD>HISPORX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HISPORX"))
		</TD>
		
		<TD>RACE</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACE"))
		</TD>
		
		<TD>RACEX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACEX"))
		</TD>
		
	</TR>
	<TR>
		<TD>RACESEC</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACESEC"))
		</TD>
		
		<TD>RACESECX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACESECX"))
		</TD>
		
		<TD>RACETER</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACETER"))
		</TD>
		
		<TD>RACETERX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACETERX"))
		</TD>
		
	</TR>
	<TR>
		<TD>PRIMLANG</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRIMLANG"))
		</TD>
		
		<TD>PRIMLANX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRIMLANX"))
		</TD>
		
		<TD>LIVSIT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("LIVSIT"))
		</TD>
		
		<TD>LIVSITX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("LIVSITX"))
		</TD>
		
	</TR>
	<TR>
		<TD>INDEPEND</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INDEPEND"))
		</TD>
		
		<TD>RESIDENC</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RESIDENC"))
		</TD>
		
		<TD>RESIDENX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("RESIDENX"))
		</TD>
		
		<TD>ZIP</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ZIP"))
		</TD>
		
	</TR>
	<TR>
		<TD>MARISTAT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MARISTAT"))
		</TD>
		
		<TD>MARISTAX</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MARISTAX"))
		</TD>
		
		<TD>HANDED</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDED"))
		</TD>
		
	</TR>
</TABLE>
