
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>Subject</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
		</TD>
		
		<TD>Date</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
		</TD>
		
		<TD>Visit</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
		</TD>
		
	</TR>
	<TR>
		<TD>Note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>Age</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
		</TD>
		
		<TD>Project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
	</TR>
	<TR>
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
		<TD>INITIALS</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALS"))
		</TD>
		
		<TD>MEMORY</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEMORY"))
		</TD>
		
		<TD>ORIENT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ORIENT"))
		</TD>
		
	</TR>
	<TR>
		<TD>JUDGMENT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("JUDGMENT"))
		</TD>
		
		<TD>COMMUN</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMMUN"))
		</TD>
		
		<TD>HOMEHOBB</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("HOMEHOBB"))
		</TD>
		
		<TD>PERSCARE</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PERSCARE"))
		</TD>
		
	</TR>
	<TR>
		<TD>CDRSUM</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDRSUM"))
		</TD>
		
		<TD>CDRGLOB</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDRGLOB"))
		</TD>
		
		<TD>COMPORT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMPORT"))
		</TD>
		
		<TD>CDRLANG</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDRLANG"))
		</TD>
		
	</TR>
	<TR>
		<TD>CDRSUPP</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDRSUPP"))
		</TD>
		
		<TD>CDRTOT</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDRTOT"))
		</TD>
		
	</TR>
</TABLE>
