<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("AAOEVAL Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>AAOEVAL Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:aaoevalData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:aaoevalData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("dian:aaoevalData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("dian:aaoevalData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("dian:aaoevalData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:aaoevalData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("dian:aaoevalData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:aaoevalData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:aaoevalData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("dian:aaoevalData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("dian:aaoevalData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:aaoevalData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("dian:aaoevalData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:aaoevalData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("dian:aaoevalData/label")</TD></TR>
							<TR><TD>EVALDATE</TD><TD>$!item.getProperty("dian:aaoevalData/EVALDATE")</TD></TR>
							<TR><TD>INFORMID</TD><TD>$!item.getStringProperty("dian:aaoevalData/INFORMID")</TD></TR>
							<TR><TD>PROXY</TD><TD>$!item.getStringProperty("dian:aaoevalData/PROXY")</TD></TR>
							<TR><TD>PARENTID</TD><TD>$!item.getStringProperty("dian:aaoevalData/PARENTID")</TD></TR>
							<TR><TD>NORMALYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/NORMALYR")</TD></TR>
							<TR><TD>SYMPTOMYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/SYMPTOMYR")</TD></TR>
							<TR><TD>MEMCOGYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/MEMCOGYR")</TD></TR>
							<TR><TD>BEHAVYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/BEHAVYR")</TD></TR>
							<TR><TD>MOTORYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/MOTORYR")</TD></TR>
							<TR><TD>ALZYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/ALZYR")</TD></TR>
							<TR><TD>DEATHYR</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/DEATHYR")</TD></TR>
							<TR><TD>DEATHCS</TD><TD>$!item.getStringProperty("dian:aaoevalData/DEATHCS")</TD></TR>
							<TR><TD>AUTOPSY</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/AUTOPSY")</TD></TR>
							<TR><TD>DEATHCDR</TD><TD>$!item.getDoubleProperty("dian:aaoevalData/DEATHCDR")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:aaoevalData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("dian:aaoevalData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:aaoevalData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:aaoevalData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:aaoevalData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:aaoevalData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:aaoevalData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:aaoevalData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:aaoevalData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("dian:aaoevalData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("dian:aaoevalData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("dian:aaoevalData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("dian:aaoevalData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("dian:aaoevalData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:aaoevalData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("dian:aaoevalData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:aaoevalData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("dian:aaoevalData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN dian:aaoevalData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:aaoevalData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("dian:aaoevalData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("dian:aaoevalData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:aaoevalData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END dian:aaoevalData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
