<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("VisualSpatialTest1 Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>VisualSpatialTest1 Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("cbat:visualSpatialTest1/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cbat:visualSpatialTest1/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cbat:visualSpatialTest1/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cbat:visualSpatialTest1/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/label")</TD></TR>
							<TR><TD>T1/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T1/accuracy")</TD></TR>
							<TR><TD>T2/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T2/accuracy")</TD></TR>
							<TR><TD>T3/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T3/accuracy")</TD></TR>
							<TR><TD>T4/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T4/accuracy")</TD></TR>
							<TR><TD>T5/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T5/accuracy")</TD></TR>
							<TR><TD>T6/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T6/accuracy")</TD></TR>
							<TR><TD>T7/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T7/accuracy")</TD></TR>
							<TR><TD>T8/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T8/accuracy")</TD></TR>
							<TR><TD>T9/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T9/accuracy")</TD></TR>
							<TR><TD>T10/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T10/accuracy")</TD></TR>
							<TR><TD>T11/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T11/accuracy")</TD></TR>
							<TR><TD>T12/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T12/accuracy")</TD></TR>
							<TR><TD>T13/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T13/accuracy")</TD></TR>
							<TR><TD>T14/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T14/accuracy")</TD></TR>
							<TR><TD>T15/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T15/accuracy")</TD></TR>
							<TR><TD>T16/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T16/accuracy")</TD></TR>
							<TR><TD>T17/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T17/accuracy")</TD></TR>
							<TR><TD>T18/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T18/accuracy")</TD></TR>
							<TR><TD>T19/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T19/accuracy")</TD></TR>
							<TR><TD>T20/accuracy</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T20/accuracy")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cbat:visualSpatialTest1 -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("cbat:visualSpatialTest1/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cbat:visualSpatialTest1/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:visualSpatialTest1/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:visualSpatialTest1/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:visualSpatialTest1/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:visualSpatialTest1/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:visualSpatialTest1/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cbat:visualSpatialTest1/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:visualSpatialTest1/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("cbat:visualSpatialTest1/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cbat:visualSpatialTest1/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("cbat:visualSpatialTest1/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN cbat:visualSpatialTest1/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:visualSpatialTest1/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cbat:visualSpatialTest1/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END cbat:visualSpatialTest1 -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
