<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADOS2001Module3 Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("ados:ados2001Module3Data/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("ados:ados2001Module3Data/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("ados:ados2001Module3Data/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("ados:ados2001Module3Data/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("ados:ados2001Module3Data/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("ados:ados2001Module3Data/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("ados:ados2001Module3Data/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("ados:ados2001Module3Data/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("ados:ados2001Module3Data/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("ados:ados2001Module3Data/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("ados:ados2001Module3Data/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("ados:ados2001Module3Data/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("ados:ados2001Module3Data/label" $item "" $vr)</TD></TR>
							<TR><TD>commtot</TD><TD>#xdatTextBox("ados:ados2001Module3Data/commtot" $item "" $vr)</TD></TR>
							<TR><TD>commtot_note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/commtot_note" $item "" $vr)</TD></TR>
							<TR><TD>scintot</TD><TD>#xdatTextBox("ados:ados2001Module3Data/scintot" $item "" $vr)</TD></TR>
							<TR><TD>scintot_note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/scintot_note" $item "" $vr)</TD></TR>
							<TR><TD>cmsitot</TD><TD>#xdatTextBox("ados:ados2001Module3Data/cmsitot" $item "" $vr)</TD></TR>
							<TR><TD>cmsitot_note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/cmsitot_note" $item "" $vr)</TD></TR>
							<TR><TD>playtot</TD><TD>#xdatTextBox("ados:ados2001Module3Data/playtot" $item "" $vr)</TD></TR>
							<TR><TD>playtot_note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/playtot_note" $item "" $vr)</TD></TR>
							<TR><TD>imaginetot</TD><TD>#xdatTextBox("ados:ados2001Module3Data/imaginetot" $item "" $vr)</TD></TR>
							<TR><TD>imaginetot_note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/imaginetot_note" $item "" $vr)</TD></TR>
							<TR><TD>sbritot</TD><TD>#xdatTextBox("ados:ados2001Module3Data/sbritot" $item "" $vr)</TD></TR>
							<TR><TD>sbritot_note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/sbritot_note" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/diagnosis/adosclas</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/diagnosis/adosclas" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/diagnosis/overallDiag</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/diagnosis/overallDiag" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/constrTask</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/constrTask" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/makeBelieve</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/makeBelieve" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/jointPlay</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/jointPlay" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/demonst</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/demonst" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/descPicture</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/descPicture" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/tellStory</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/tellStory" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/cartoons</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/cartoons" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/convsReport</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/convsReport" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/emotions</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/emotions" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/socDiffAnnoy</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/socDiffAnnoy" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/break</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/break" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/friendMarrg</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/friendMarrg" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/loneliness</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/loneliness" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/observation/createStory</TD><TD>#xdatStringBox("ados:ados2001Module3Data/ScoreForm/observation/createStory" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/nonechoedLang</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/nonechoedLang" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/speechAbnorm</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/speechAbnorm" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/immedEcholalia</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/immedEcholalia" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/stIdiosyncWords</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/stIdiosyncWords" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/offInform</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/offInform" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/askInform</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/askInform" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/reportEvents</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/reportEvents" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/conversation</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/conversation" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA/descInformGest</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionA/descInformGest" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/unuslEyeCont</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/unuslEyeCont" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/facExprOth</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/facExprOth" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/langProd</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/langProd" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/shareEnjoy</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/shareEnjoy" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/empathComm</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/empathComm" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/insight</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/insight" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/qualSocOverture</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/qualSocOverture" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/qualSocResp</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/qualSocResp" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/amtRecipSocComm</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/amtRecipSocComm" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB/overallQualRapp</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionB/overallQualRapp" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC/imagCreativ</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionC/imagCreativ" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/unuslSensInt</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionD/unuslSensInt" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/handFgrComplx</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionD/handFgrComplx" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/selfInjurBehav</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionD/selfInjurBehav" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/excessInterstUnusl</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionD/excessInterstUnusl" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/compulRitual</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionD/compulRitual" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionE/overactAgit</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionE/overactAgit" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionE/tantrmAgress</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionE/tantrmAgress" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionE/anxiety</TD><TD>#xdatTextBox("ados:ados2001Module3Data/ScoreForm/sectionE/anxiety" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN ados:ados2001Module3Data -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ados:ados2001Module3Data/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ados:ados2001Module3Data/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("ados:ados2001Module3Data/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ados:ados2001Module3Data/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ados:ados2001Module3Data/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ados:ados2001Module3Data/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ados:ados2001Module3Data/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("ados:ados2001Module3Data/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("ados:ados2001Module3Data/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("ados:ados2001Module3Data/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("ados:ados2001Module3Data/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("ados:ados2001Module3Data/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ados:ados2001Module3Data/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ados:ados2001Module3Data/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ados:ados2001Module3Data/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN ados:ados2001Module3Data/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ados:ados2001Module3Data/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ados:ados2001Module3Data/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("ados:ados2001Module3Data/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ados:ados2001Module3Data/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ados:ados2001Module3Data/fields/field -->
			</TABLE>
<!-- END ados:ados2001Module3Data -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
