<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("B3UPDRS Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>B3UPDRS Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("uds:b3updrsData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("uds:b3updrsData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("uds:b3updrsData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("uds:b3updrsData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("uds:b3updrsData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("uds:b3updrsData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("uds:b3updrsData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("uds:b3updrsData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:b3updrsData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("uds:b3updrsData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("uds:b3updrsData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:b3updrsData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("uds:b3updrsData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:b3updrsData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("uds:b3updrsData/label")</TD></TR>
							<TR><TD>INITIALS</TD><TD>$!item.getStringProperty("uds:b3updrsData/INITIALS")</TD></TR>
							<TR><TD>PDNORMAL</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/PDNORMAL")</TD></TR>
							<TR><TD>SPEECH</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/SPEECH")</TD></TR>
							<TR><TD>SPEECHX</TD><TD>$!item.getStringProperty("uds:b3updrsData/SPEECHX")</TD></TR>
							<TR><TD>FACEXP</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/FACEXP")</TD></TR>
							<TR><TD>FACEXPX</TD><TD>$!item.getStringProperty("uds:b3updrsData/FACEXPX")</TD></TR>
							<TR><TD>TRESTFAC</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRESTFAC")</TD></TR>
							<TR><TD>TRESTFAX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRESTFAX")</TD></TR>
							<TR><TD>TRESTRHD</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRESTRHD")</TD></TR>
							<TR><TD>TRESTRHX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRESTRHX")</TD></TR>
							<TR><TD>TRESTLHD</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRESTLHD")</TD></TR>
							<TR><TD>TRESTLHX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRESTLHX")</TD></TR>
							<TR><TD>TRESTRFT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRESTRFT")</TD></TR>
							<TR><TD>TRESTRFX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRESTRFX")</TD></TR>
							<TR><TD>TRESTLFT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRESTLFT")</TD></TR>
							<TR><TD>TRESTLFX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRESTLFX")</TD></TR>
							<TR><TD>TRACTRHD</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRACTRHD")</TD></TR>
							<TR><TD>TRACTRHX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRACTRHX")</TD></TR>
							<TR><TD>TRACTLHD</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TRACTLHD")</TD></TR>
							<TR><TD>TRACTLHX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TRACTLHX")</TD></TR>
							<TR><TD>RIGDNECK</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/RIGDNECK")</TD></TR>
							<TR><TD>RIGDNEX</TD><TD>$!item.getStringProperty("uds:b3updrsData/RIGDNEX")</TD></TR>
							<TR><TD>RIGDUPRT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/RIGDUPRT")</TD></TR>
							<TR><TD>RIGDUPRX</TD><TD>$!item.getStringProperty("uds:b3updrsData/RIGDUPRX")</TD></TR>
							<TR><TD>RIGDUPLF</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/RIGDUPLF")</TD></TR>
							<TR><TD>RIGDUPLX</TD><TD>$!item.getStringProperty("uds:b3updrsData/RIGDUPLX")</TD></TR>
							<TR><TD>RIGDLORT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/RIGDLORT")</TD></TR>
							<TR><TD>RIGDLORX</TD><TD>$!item.getStringProperty("uds:b3updrsData/RIGDLORX")</TD></TR>
							<TR><TD>RIGDLOLF</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/RIGDLOLF")</TD></TR>
							<TR><TD>RIGDLOLX</TD><TD>$!item.getStringProperty("uds:b3updrsData/RIGDLOLX")</TD></TR>
							<TR><TD>TAPSRT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TAPSRT")</TD></TR>
							<TR><TD>TAPSRTX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TAPSRTX")</TD></TR>
							<TR><TD>TAPSLF</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/TAPSLF")</TD></TR>
							<TR><TD>TAPSLFX</TD><TD>$!item.getStringProperty("uds:b3updrsData/TAPSLFX")</TD></TR>
							<TR><TD>HANDMOVR</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/HANDMOVR")</TD></TR>
							<TR><TD>HANDMVRX</TD><TD>$!item.getStringProperty("uds:b3updrsData/HANDMVRX")</TD></TR>
							<TR><TD>HANDMOVL</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/HANDMOVL")</TD></TR>
							<TR><TD>HANDMVLX</TD><TD>$!item.getStringProperty("uds:b3updrsData/HANDMVLX")</TD></TR>
							<TR><TD>HANDALTR</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/HANDALTR")</TD></TR>
							<TR><TD>HANDATRX</TD><TD>$!item.getStringProperty("uds:b3updrsData/HANDATRX")</TD></TR>
							<TR><TD>HANDALTL</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/HANDALTL")</TD></TR>
							<TR><TD>HANDATLX</TD><TD>$!item.getStringProperty("uds:b3updrsData/HANDATLX")</TD></TR>
							<TR><TD>LEGRT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/LEGRT")</TD></TR>
							<TR><TD>LEGRTX</TD><TD>$!item.getStringProperty("uds:b3updrsData/LEGRTX")</TD></TR>
							<TR><TD>LEGLF</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/LEGLF")</TD></TR>
							<TR><TD>LEGLFX</TD><TD>$!item.getStringProperty("uds:b3updrsData/LEGLFX")</TD></TR>
							<TR><TD>ARISING</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/ARISING")</TD></TR>
							<TR><TD>ARISINGX</TD><TD>$!item.getStringProperty("uds:b3updrsData/ARISINGX")</TD></TR>
							<TR><TD>POSTURE</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/POSTURE")</TD></TR>
							<TR><TD>POSTUREX</TD><TD>$!item.getStringProperty("uds:b3updrsData/POSTUREX")</TD></TR>
							<TR><TD>GAIT</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/GAIT")</TD></TR>
							<TR><TD>GAITX</TD><TD>$!item.getStringProperty("uds:b3updrsData/GAITX")</TD></TR>
							<TR><TD>POSSTAB</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/POSSTAB")</TD></TR>
							<TR><TD>POSSTABX</TD><TD>$!item.getStringProperty("uds:b3updrsData/POSSTABX")</TD></TR>
							<TR><TD>BRADYKIN</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/BRADYKIN")</TD></TR>
							<TR><TD>BRADYKIX</TD><TD>$!item.getStringProperty("uds:b3updrsData/BRADYKIX")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN uds:b3updrsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("uds:b3updrsData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:b3updrsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:b3updrsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:b3updrsData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:b3updrsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:b3updrsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("uds:b3updrsData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("uds:b3updrsData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("uds:b3updrsData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("uds:b3updrsData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("uds:b3updrsData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:b3updrsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("uds:b3updrsData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:b3updrsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("uds:b3updrsData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN uds:b3updrsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b3updrsData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("uds:b3updrsData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("uds:b3updrsData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:b3updrsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END uds:b3updrsData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
