<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("PLASMA Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>PLASMA Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:plasmaData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:plasmaData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("dian:plasmaData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("dian:plasmaData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("dian:plasmaData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:plasmaData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:plasmaData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("dian:plasmaData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:plasmaData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:plasmaData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("dian:plasmaData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("dian:plasmaData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:plasmaData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("dian:plasmaData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("dian:plasmaData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:plasmaData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("dian:plasmaData/label")</TD></TR>
							<TR><TD>bldCollSess</TD><TD>$!item.getStringProperty("dian:plasmaData/bldCollSess")</TD></TR>
							<TR><TD>Ab40</TD><TD>$!item.getDoubleProperty("dian:plasmaData/Ab40")</TD></TR>
							<TR><TD>Ab40Units</TD><TD>$!item.getStringProperty("dian:plasmaData/Ab40Units")</TD></TR>
							<TR><TD>Ab40Lot</TD><TD>$!item.getStringProperty("dian:plasmaData/Ab40Lot")</TD></TR>
							<TR><TD>Ab40Plate</TD><TD>$!item.getStringProperty("dian:plasmaData/Ab40Plate")</TD></TR>
							<TR><TD>Ab40AssayDate</TD><TD>$!item.getProperty("dian:plasmaData/Ab40AssayDate")</TD></TR>
							<TR><TD>Ab42</TD><TD>$!item.getDoubleProperty("dian:plasmaData/Ab42")</TD></TR>
							<TR><TD>Ab42Units</TD><TD>$!item.getStringProperty("dian:plasmaData/Ab42Units")</TD></TR>
							<TR><TD>Ab42Lot</TD><TD>$!item.getStringProperty("dian:plasmaData/Ab42Lot")</TD></TR>
							<TR><TD>Ab42Plate</TD><TD>$!item.getStringProperty("dian:plasmaData/Ab42Plate")</TD></TR>
							<TR><TD>Ab42AssayDate</TD><TD>$!item.getProperty("dian:plasmaData/Ab42AssayDate")</TD></TR>
							<TR><TD>Abx40</TD><TD>$!item.getDoubleProperty("dian:plasmaData/Abx40")</TD></TR>
							<TR><TD>Abx40Units</TD><TD>$!item.getStringProperty("dian:plasmaData/Abx40Units")</TD></TR>
							<TR><TD>Abx40Lot</TD><TD>$!item.getStringProperty("dian:plasmaData/Abx40Lot")</TD></TR>
							<TR><TD>Abx40Plate</TD><TD>$!item.getStringProperty("dian:plasmaData/Abx40Plate")</TD></TR>
							<TR><TD>Abx40AssayDate</TD><TD>$!item.getProperty("dian:plasmaData/Abx40AssayDate")</TD></TR>
							<TR><TD>Abx42</TD><TD>$!item.getDoubleProperty("dian:plasmaData/Abx42")</TD></TR>
							<TR><TD>Abx42Units</TD><TD>$!item.getStringProperty("dian:plasmaData/Abx42Units")</TD></TR>
							<TR><TD>Abx42Lot</TD><TD>$!item.getStringProperty("dian:plasmaData/Abx42Lot")</TD></TR>
							<TR><TD>Abx42Plate</TD><TD>$!item.getStringProperty("dian:plasmaData/Abx42Plate")</TD></TR>
							<TR><TD>Abx42AssayDate</TD><TD>$!item.getProperty("dian:plasmaData/Abx42AssayDate")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:plasmaData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("dian:plasmaData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:plasmaData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:plasmaData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:plasmaData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:plasmaData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:plasmaData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:plasmaData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:plasmaData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("dian:plasmaData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("dian:plasmaData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("dian:plasmaData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("dian:plasmaData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("dian:plasmaData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:plasmaData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("dian:plasmaData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:plasmaData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("dian:plasmaData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN dian:plasmaData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:plasmaData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("dian:plasmaData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("dian:plasmaData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:plasmaData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END dian:plasmaData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
