<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">TreatmentList Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("tx:treatmentList/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("tx:treatmentList/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("tx:treatmentList/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("tx:treatmentList/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("tx:treatmentList/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("tx:treatmentList/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("tx:treatmentList/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("tx:treatmentList/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("tx:treatmentList/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("tx:treatmentList/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("tx:treatmentList/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("tx:treatmentList/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("tx:treatmentList/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("tx:treatmentList/label" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN tx:treatmentList -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN tx:treatmentList/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:treatmentList/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("tx:treatmentList/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("tx:treatmentList/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("tx:treatmentList/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("tx:treatmentList/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("tx:treatmentList/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("tx:treatmentList/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("tx:treatmentList/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("tx:treatmentList/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("tx:treatmentList/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END tx:treatmentList/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN tx:treatmentList/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:treatmentList/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("tx:treatmentList/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("tx:treatmentList/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("tx:treatmentList/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("tx:treatmentList/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("tx:treatmentList/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("tx:treatmentList/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END tx:treatmentList/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END tx:treatmentList/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN tx:treatmentList/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:treatmentList/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("tx:treatmentList/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("tx:treatmentList/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END tx:treatmentList/fields/field -->
<!-- BEGIN tx:treatmentList/treatments/treatment -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:treatmentList/treatments/treatment</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>code</TD>
								<TD>codeType</TD>
								<TD>name</TD>
								<TD>status</TD>
								<TD>doseAmount</TD>
								<TD>doseUnit</TD>
								<TD>doseSchedule</TD>
								<TD>route</TD>
								<TD>indication</TD>
								<TD>startDate</TD>
								<TD>startDateDayNotReported</TD>
								<TD>startDateMonthNotReported</TD>
								<TD>startDateYearNotReported</TD>
								<TD>endDate</TD>
								<TD>endDateDayNotReported</TD>
								<TD>endDateMonthNotReported</TD>
								<TD>endDateYearNotReported</TD>
								<TD>clinicalTrialName</TD>
								<TD>clinicalTrialArm</TD>
								<TD>treatmentNotes</TD>
							</TR>
							#foreach($tx_treatment_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/code" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/codeType" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/name" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/status" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/doseAmount" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/doseUnit" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/doseSchedule" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/route" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/indication" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/startDate" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/startDateDayNotReported" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/startDateMonthNotReported" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/startDateYearNotReported" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/endDate" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/endDateDayNotReported" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/endDateMonthNotReported" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/endDateYearNotReported" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/clinicalTrialName" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/clinicalTrialArm" $item "" $vr)</TD>
									<TD>#xdatTextBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/treatmentNotes" $item "" $vr)</TD>
									#xdatHiddenBox("tx:treatmentList/treatments/treatment[$tx_treatment_4_COUNTER]/tx_treatment_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END tx:treatmentList/treatments/treatment -->
			</TABLE>
<!-- END tx:treatmentList -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
