<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ADRCClinical Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ADRCClinical Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("adrc:ADRCClinicalData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("adrc:ADRCClinicalData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("adrc:ADRCClinicalData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("adrc:ADRCClinicalData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("adrc:ADRCClinicalData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/label")</TD></TR>
							<TR><TD>mmse</TD><TD>$!item.getIntegerProperty("adrc:ADRCClinicalData/mmse")</TD></TR>
							<TR><TD>ageAtEntry</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/ageAtEntry")</TD></TR>
							<TR><TD>cdr</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/cdr")</TD></TR>
							<TR><TD>commun</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/commun")</TD></TR>
							<TR><TD>dx1</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/dx1")</TD></TR>
							<TR><TD>dx2</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/dx2")</TD></TR>
							<TR><TD>dx3</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/dx3")</TD></TR>
							<TR><TD>dx4</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/dx4")</TD></TR>
							<TR><TD>dx5</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/dx5")</TD></TR>
							<TR><TD>homehobb</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/homehobb")</TD></TR>
							<TR><TD>judgment</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/judgment")</TD></TR>
							<TR><TD>memory</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/memory")</TD></TR>
							<TR><TD>orient</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/orient")</TD></TR>
							<TR><TD>perscare</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/perscare")</TD></TR>
							<TR><TD>apoe</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/apoe")</TD></TR>
							<TR><TD>sumbox</TD><TD>$!item.getDoubleProperty("adrc:ADRCClinicalData/sumbox")</TD></TR>
							<TR><TD>acsparnt</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/acsparnt")</TD></TR>
							<TR><TD>height</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/height")</TD></TR>
							<TR><TD>weight</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/weight")</TD></TR>
							<TR><TD>primStudy</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/primStudy")</TD></TR>
							<TR><TD>acsStudy</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/acsStudy")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN adrc:ADRCClinicalData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("adrc:ADRCClinicalData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END adrc:ADRCClinicalData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adrc:ADRCClinicalData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adrc:ADRCClinicalData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adrc:ADRCClinicalData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("adrc:ADRCClinicalData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adrc:ADRCClinicalData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("adrc:ADRCClinicalData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("adrc:ADRCClinicalData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END adrc:ADRCClinicalData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
