<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">A2INFDEMO Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("uds:a2infdemoData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("uds:a2infdemoData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("uds:a2infdemoData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("uds:a2infdemoData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("uds:a2infdemoData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("uds:a2infdemoData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("uds:a2infdemoData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("uds:a2infdemoData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("uds:a2infdemoData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("uds:a2infdemoData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("uds:a2infdemoData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("uds:a2infdemoData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("uds:a2infdemoData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("uds:a2infdemoData/label" $item "" $vr)</TD></TR>
							<TR><TD>EXAMDATE</TD><TD>#xdatDateBox("uds:a2infdemoData/EXAMDATE" $item $vr $years)</TD></TR>
							<TR><TD>INBIRMO</TD><TD>#xdatTextBox("uds:a2infdemoData/INBIRMO" $item "" $vr)</TD></TR>
							<TR><TD>INBIRYR</TD><TD>#xdatTextBox("uds:a2infdemoData/INBIRYR" $item "" $vr)</TD></TR>
							<TR><TD>INSEX</TD><TD>#xdatTextBox("uds:a2infdemoData/INSEX" $item "" $vr)</TD></TR>
							<TR><TD>NEWINF</TD><TD>#xdatTextBox("uds:a2infdemoData/NEWINF" $item "" $vr)</TD></TR>
							<TR><TD>INHISP</TD><TD>#xdatTextBox("uds:a2infdemoData/INHISP" $item "" $vr)</TD></TR>
							<TR><TD>INHISPOR</TD><TD>#xdatTextBox("uds:a2infdemoData/INHISPOR" $item "" $vr)</TD></TR>
							<TR><TD>INHISPOX</TD><TD>#xdatStringBox("uds:a2infdemoData/INHISPOX" $item "" $vr)</TD></TR>
							<TR><TD>INRACE</TD><TD>#xdatTextBox("uds:a2infdemoData/INRACE" $item "" $vr)</TD></TR>
							<TR><TD>INRACEX</TD><TD>#xdatStringBox("uds:a2infdemoData/INRACEX" $item "" $vr)</TD></TR>
							<TR><TD>INRASEC</TD><TD>#xdatTextBox("uds:a2infdemoData/INRASEC" $item "" $vr)</TD></TR>
							<TR><TD>INRASECX</TD><TD>#xdatStringBox("uds:a2infdemoData/INRASECX" $item "" $vr)</TD></TR>
							<TR><TD>INRATER</TD><TD>#xdatTextBox("uds:a2infdemoData/INRATER" $item "" $vr)</TD></TR>
							<TR><TD>INRATERX</TD><TD>#xdatStringBox("uds:a2infdemoData/INRATERX" $item "" $vr)</TD></TR>
							<TR><TD>INEDUC</TD><TD>#xdatTextBox("uds:a2infdemoData/INEDUC" $item "" $vr)</TD></TR>
							<TR><TD>INRELTO</TD><TD>#xdatTextBox("uds:a2infdemoData/INRELTO" $item "" $vr)</TD></TR>
							<TR><TD>INRELTOX</TD><TD>#xdatStringBox("uds:a2infdemoData/INRELTOX" $item "" $vr)</TD></TR>
							<TR><TD>INLIVWTH</TD><TD>#xdatTextBox("uds:a2infdemoData/INLIVWTH" $item "" $vr)</TD></TR>
							<TR><TD>INVISITS</TD><TD>#xdatTextBox("uds:a2infdemoData/INVISITS" $item "" $vr)</TD></TR>
							<TR><TD>INCALLS</TD><TD>#xdatTextBox("uds:a2infdemoData/INCALLS" $item "" $vr)</TD></TR>
							<TR><TD>INRELY</TD><TD>#xdatTextBox("uds:a2infdemoData/INRELY" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN uds:a2infdemoData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:a2infdemoData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a2infdemoData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("uds:a2infdemoData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("uds:a2infdemoData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:a2infdemoData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:a2infdemoData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a2infdemoData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("uds:a2infdemoData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("uds:a2infdemoData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("uds:a2infdemoData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("uds:a2infdemoData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("uds:a2infdemoData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("uds:a2infdemoData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:a2infdemoData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END uds:a2infdemoData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN uds:a2infdemoData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a2infdemoData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("uds:a2infdemoData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("uds:a2infdemoData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("uds:a2infdemoData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END uds:a2infdemoData/fields/field -->
			</TABLE>
<!-- END uds:a2infdemoData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
