<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XCVScan Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>XCVScan Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>image_session_ID</TD><TD>$!item.getStringProperty("xnat:xcvScanData/image_session_ID")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:xcvScanData/note")</TD></TR>
							<TR><TD>quality</TD><TD>$!item.getStringProperty("xnat:xcvScanData/quality")</TD></TR>
							<TR><TD>condition</TD><TD>$!item.getStringProperty("xnat:xcvScanData/condition")</TD></TR>
							<TR><TD>series_description</TD><TD>$!item.getStringProperty("xnat:xcvScanData/series_description")</TD></TR>
							<TR><TD>documentation</TD><TD>$!item.getStringProperty("xnat:xcvScanData/documentation")</TD></TR>
							<TR><TD>scanner</TD><TD>$!item.getStringProperty("xnat:xcvScanData/scanner")</TD></TR>
							<TR><TD>scanner/manufacturer</TD><TD>$!item.getStringProperty("xnat:xcvScanData/scanner/manufacturer")</TD></TR>
							<TR><TD>scanner/model</TD><TD>$!item.getStringProperty("xnat:xcvScanData/scanner/model")</TD></TR>
							<TR><TD>modality</TD><TD>$!item.getStringProperty("xnat:xcvScanData/modality")</TD></TR>
							<TR><TD>frames</TD><TD>$!item.getIntegerProperty("xnat:xcvScanData/frames")</TD></TR>
							<TR><TD>operator</TD><TD>$!item.getStringProperty("xnat:xcvScanData/operator")</TD></TR>
							<TR><TD>startTime</TD><TD>$!item.getProperty("xnat:xcvScanData/startTime")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("xnat:xcvScanData/ID")</TD></TR>
							<TR><TD>type</TD><TD>$!item.getStringProperty("xnat:xcvScanData/type")</TD></TR>
							<TR><TD>UID</TD><TD>$!item.getStringProperty("xnat:xcvScanData/UID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:xcvScanData/project")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN xnat:xcvScanData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_imageScanData_share_1_NUM_ROWS=$item.getChildItems("xnat:xcvScanData/sharing/share").size() - 1)
							#if($xnat_imageScanData_share_1_NUM_ROWS>=0)
								#foreach($xnat_imageScanData_share_1_COUNTER in [0..$xnat_imageScanData_share_1_NUM_ROWS])
<!-- BEGIN xnat:xcvScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xcvScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("xnat:xcvScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:xcvScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("xnat:xcvScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER]/project")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:xcvScanData/sharing/share[$xnat_imageScanData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_2_NUM_ROWS=$item.getChildItems("xnat:xcvScanData/file").size() - 1)
							#if($xnat_abstractResource_2_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_2_COUNTER in [0..$xnat_abstractResource_2_NUM_ROWS])
<!-- BEGIN xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_3_NUM_ROWS=$item.getChildItems("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_3_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_3_COUNTER in [0..$xnat_abstractResource_tag_3_NUM_ROWS])
<!-- BEGIN xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END xnat:xcvScanData/file[$xnat_abstractResource_2_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN xnat:xcvScanData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">xnat:xcvScanData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("xnat:xcvScanData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("xnat:xcvScanData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("xnat:xcvScanData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("xnat:xcvScanData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("xnat:xcvScanData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END xnat:xcvScanData/validation -->
					</TD>
				</TR>
			</TABLE>
<!-- END xnat:xcvScanData -->
		</TD>
	</TR>
</TABLE>
