
<TABLE VALIGN="top" style="border-right:1px solid #6D99B6;border-left:1px solid #6D99B6;border-top:1px solid #6D99B6;border-bottom:1px solid #6D99B6;">
	<TR>
		<TD>image_session_ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("IMAGE_SESSION_ID"))
		</TD>
		
		<TD>note</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
		</TD>
		
		<TD>quality</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("QUALITY"))
		</TD>
		
		<TD>condition</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONDITION"))
		</TD>
		
	</TR>
	<TR>
		<TD>series_description</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SERIES_DESCRIPTION"))
		</TD>
		
		<TD>documentation</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("DOCUMENTATION"))
		</TD>
		
		<TD>scanner</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANNER"))
		</TD>
		
		<TD>manufacturer</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANNER_MANUFACTURER"))
		</TD>
		
	</TR>
	<TR>
		<TD>model</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANNER_MODEL"))
		</TD>
		
		<TD>modality</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("MODALITY"))
		</TD>
		
		<TD>frames</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("FRAMES"))
		</TD>
		
		<TD>operator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("OPERATOR"))
		</TD>
		
	</TR>
	<TR>
		<TD>startTime</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("STARTTIME"))
		</TD>
		
		<TD>ID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("ID"))
		</TD>
		
		<TD>type</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("TYPE"))
		</TD>
		
		<TD>UID</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("UID"))
		</TD>
		
	</TR>
	<TR>
		<TD>project</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
		</TD>
		
		<TD>Inserted</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
		</TD>
		
		<TD>Creator</TD>
		<TD>
			#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
		</TD>
		
	</TR>
</TABLE>
