/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.nrg-ui-dialog {
    position: absolute;
    outline: none; 
    background-color: black;
    color: white;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    border-radius: 5px;
    border-color: white;
    z-index: 10;
    overflow: hidden;
}


.nrg-ui-dialog-overlay {
    position:  absolute;
    left: 30%;
    top: 35%;
    width: 40%;
    height: 30%;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 201;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
}


.nrg-ui-dialog-background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, .6);
    z-index: 200;
    display: inline-block;
}


.nrg-ui-dialog-image {

}


.nrg-ui-dialog-text {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 100%;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
}


.nrg-ui-dialog-closebutton {
    position: absolute; 
    cursor: pointer;
    top: 2px;
    left: calc(100% - 12px);
    width: 10px;
    height: 10px;
    z-index: 103;
    background: none;
    outline: none;
}


.nrg-ui-dialog-closebutton-image {
    width: 10px;
    height: 10px;
}



.nrg-ui-dialog-title {
    background-color: rgb(60,60,60);
    height: 15px;
    padding: 0px;
    margin-top: -3px;
    width: 100%;
    border: none;
    color: white;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
}


.nrg-ui-dialog-content {
    background-color: none;
    background: none;
}


.nrg-ui-dialog-buttons {
    background-color: none;
    background: none;
}