/*
 * Standard styling for utils.ui.GenericSlider
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.nrg-ui-slider {
    position: absolute;
    outline: 0; /* removes chrome blue border */
}



.nrg-ui-slider-horizontal {
    width : 100%;
    height : 10px;
    top: calc(100% - 10px);
    left: 0px;
}



.nrg-ui-slider-vertical {
    width : 10px;
    height : 100%;
    top: 0px;
    left: 0px;
}


/*
 * TRACK
 */
.nrg-ui-slider-track {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color : rgba(100,100,100,0);
    
}


.nrg-ui-slider-track-hovered {
    box-sizing: border-box;
    background-color: rgb(50,50,50);
    border: solid 1px rgb(100,100,100);
}



/*
 * THUMB
 */
.nrg-ui-slider-thumb {
    position : absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(100,100,100);
    z-index: 2;
}


.nrg-ui-slider-thumb-horizontal {
    width: 30px;
    height: 100%;
}


.nrg-ui-slider-thumb-vertical {
    height : 30px;
    width: 100%;
    left: 0px;
}


.nrg-ui-slider-thumb-hovered {
    box-sizing: border-box;
    background-color: rgb(140,140,140);
    border: solid 1px rgb(100,100,100);
}
