/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.nrg-ui-infooverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}


.nrg-ui-infooverlay-text {
    position: absolute;
}