/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/

/* Copyright 2007 Google Inc.  All Rights Reserved. */
/**/



.nrg-ui-resizable-boundary {
  position: absolute;
  border: 1px dotted rgb(255,0,0);
  background-color: rgba(255, 120, 120, .5);
}
