/*
Use of this source code is governed by an Apache 2.0 License.
See the COPYING file for details.
*/


.nrg-ui-resizedragger {
  position: absolute;
  font-size: 0.1px;
  z-index: 1;
  /*background-color: rgba(255,20,20, 0);*/
}


/**
  RIGHT AND LEFT
*/
.nrg-ui-resizedraggerright, .nrg-ui-resizedraggerleft {
  position: absolute;
  width: 7px;
  height: 100%;
  cursor: ew-resize;
}

.nrg-ui-resizedraggerright {
  left: 100%;
  /*background-color: rgba(0,255,0,.5);*/
}

.nrg-ui-resizedraggerleft {
  left: -7px
  /*background-color: rgba(0,0,255,.5);*/
}



/**
 * TOP AND BOTTOM
 */
.nrg-ui-resizedraggertop, .nrg-ui-resizedraggerbottom {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 7px;
  cursor: ns-resize;
}

.nrg-ui-resizedraggertop {
  top: -7px;
  /*background-color: rgba(0,255,0,.5);*/
}

.nrg-ui-resizedraggerbottom {
  top: 100%;
  /*background-color: rgba(255,0,0,.5);*/
}




/**
 * CORNERS
 */

.nrg-ui-resizedraggertopright, 
.nrg-ui-resizedraggertopleft, 
.nrg-ui-resizedraggerbottomright, 
.nrg-ui-resizedraggerbottomleft {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: move;
}


.nrg-ui-resizedraggertopright, 
.nrg-ui-resizedraggertopleft, {
  top: calc(100% - 7px);
}

.nrg-ui-resizedraggertopright {
  left: calc(100% - 7px);
  /*background-color: orange;*/
}
