/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.nrg-ui-scrollablecontainer {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


.nrg-ui-scrollablecontainer-scrollarea {
    display: block;
    position: relative;
    width: calc(100% - 19px);
    left: 19px;
}


.nrg-ui-scrollablecontainer-zippyheader {

    position: relative;
    background-color: rgb(50,50,50);
    left: 0px;
    width: 100%;
    font-size: 10px;
    height: 1.5em;
    color: rgb(120, 120, 120);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    cursor: pointer;
    line-height: 1.5em;
    margin-bottom: 4px;
}



.nrg-ui-scrollablecontainer-zippyheader-mouseover {
    background-color: rgb(90,90,90);
    color: rgb(255,255,255);
}



.nrg-ui-scrollablecontainer-zippyheaderlabel, .nrg-ui-scrollablecontainer-zippyexpandicon {
    position: absolute;
    margin-left: .3em;
    background-color: none;
}


.nrg-ui-scrollablecontainer-zippyexpandicon {
    right: .5em;
    margin-left: -10px;
    color: rgb(0,0,0);
}


.nrg-ui-scrollablecontainer-zippyexpandicon-mouseover {
    color: rgb(0,0,0);
}




.nrg-ui-scrollablecontainer-zippycontent {
    overflow: visible;
    width: 100%;
    top: 20px;
    left: 12px;
    margin-bottom: 4px;
}



.nrg-ui-scrollablecontainer-slider {
    position: absolute;
    width: 8px;
    left: 0px;
    top: 0px;
    height: 100%;
}



.nrg-ui-scrollablecontainer-slider-thumb {
    background-color: rgb(100,100,100);
}


.nrg-ui-scrollablecontainer-slider-thumb-hovered {
    box-sizing: border-box;
    background-color: rgb(140,140,140);
    border: solid 1px rgb(100,100,100);
}


.nrg-ui-scrollablecontainer-slider-track {;
    background-color: rgba(0,0,0,0);
}


.nrg-ui-scrollablecontainer-slider-track-hovered {
    box-sizing: border-box;
    background-color: rgb(50,50,50);
    border-right: solid 1px rgb(100,100,100);
    border-left: none;
    border-top: none;
    border-bottom: none;
}

