/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.nrg-ui-slideinmenu {
    z-index: 2;    
}


.nrg-ui-slideinmenu-icon {
    max-width:100%;
    max-height:100%;
    opacity: 1; 
}


.nrg-ui-slideinmenu-icon-hovered {
    opacity: 1; 
}


.nrg-ui-slideinmenu-menuholder {
    position : absolute;	
    background-color: rgba(255,100,22,1);    
    z-index: 4000;
}


.nrg-ui-slideinmenu-menu {
  background-color: rgb(125,125,125);
  border: solid 1px rgb(50,50,50);
  z-index: 20000; 
  cursor: pointer;
  width: 130px;
}


.nrg-ui-slideinmenu-menuitem {
    overflow: visible;
    margin-left: 5px;
    margin-top: 7px;
    height: 20px;
}


.nrg-ui-slideinmenu-menuitem-highlight {
    color: white;
}

.nrg-ui-slideinmenu-menuitem-icon {
    position: absolute;
    margin-top: -3px;
    left: 5px;
    width: 20px;
    height: 20px;
}