/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.nrg-ui-thumbnailgallery {
    position: absolute;
    overflow: hidden;
}




.nrg-ui-thumbnailgallery-thumbnail {
    position: relative;
    width: 100%;
    height: 176px;
    top: 0px;
    left: 0px;
    cursor: pointer;
}


.nrg-ui-thumbnailgallery-thumbnail-image {
    position: absolute;
    width: 160px;
    height: 160px;
    top: 8px;
    left: 8px;	
    overflow-y: hidden;
    overflow-x: hidden;
    border : solid;
    border-color: rgb(255,255,255);
    border-width : 1px;
    border-radius: 0px;	 
    cursor: pointer;
}


.nrg-ui-thumbnailgallery-thumbnail-text {
    position: absolute;
    height: 70px;
    top: 8px;
    left: 176px;
    font-size: 9;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    color : rgb(255,255,255);  
    line-height: 17px;
	
}