/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.nrg-ui-zippynode-header {
    position: relative;
    outline:0;
    background-color: rgb(90,90,90);
    left: 0px;
    width: 100%;
    font-size: 12px;
    height: 1.5em;
    color: rgb(210, 210, 210);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    cursor: pointer;
    z-index: 1000;
    line-height: 1.5em;
    margin-bottom: 5px;
    margin-top: 5px;
}



.nrg-ui-zippynode-header-mouseover {
    background-color: rgb(120,120,120);
    color: rgb(255,255,255);
}



.nrg-ui-zippynode-header-label, .nrg-ui-zippynode-expandicon {
    position: absolute;
    margin-left: .3em;
    background-color: none;
}


.nrg-ui-zippynode-expandicon {
    right: .5em;
    margin-left: -10px;
    color: rgb(0,0,0);
}


.nrg-ui-zippynode-expandicon-mouseover {
    color: rgb(0,0,0);
}




.nrg-ui-zippynode-content {
    overflow: visible;
    width: 100%;
    top: 20px;
    left: 12px;
    z-index: 1000;

}


.nrg-ui-zippynode-content-sub {

}


