<!-- path: /xnat-templates/navigations/HeaderIncludes -->

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="cache-control" content="max-age=0">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="-1">
<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT">
<script type="text/javascript" src="$content.getURI('scripts/jquery/jquery.min.js')"></script>
<script type="text/javascript">
    // use 'jq' instead of '$' for jQuery functions to avoid _possible_ conflicts with Velocity
    // but $() and jQuery() should still work since we're not using noConflict()
    var jq = jQuery;
	jq.ajaxSetup({cache:false});
</script>

<script type="text/javascript">

    if (typeof XNAT == "undefined" || !XNAT) {
        /*
         * XNAT global namespace object, which will not be overwriten if
         * already defined. Also define some other top level namespaces.
         */
        var XNAT = {
                     /*
                      * Parent namespace that templates can use to put their
                      * own namespace
                      */
                     app: {
    					 displayNames : {
    					 	singular : {
    							project : "$displayManager.getSingularDisplayNameForProject()",
    							subject : "$displayManager.getSingularDisplayNameForSubject()",
    							imageSession : "$displayManager.getSingularDisplayNameForImageSession()",
    							mrSession : "$displayManager.getSingularDisplayNameForMRSession()"
    						},
    						plural : {
    							project : "$displayManager.getPluralDisplayNameForProject()",
    							subject : "$displayManager.getPluralDisplayNameForSubject()",
    							imageSession : "$displayManager.getPluralDisplayNameForImageSession()",
    							mrSession : "$displayManager.getPluralDisplayNameForMRSession()"
    						}
    					 }
					 },
                     images:{
                        grnChk:"$content.getURI("images/checkmarkGreen.gif")",
                        redChk:"$content.getURI("images/checkmarkRed.gif")"
                    },
                    data: {
                        context: {
                            projectName: "$!om.getProject($project,false).getDisplayID()",
##                            projectLabel: "$!item.getStringProperty("xnat:projectData/name")",
                            projectID: "$!om.getProject()",
                            project: "$!om.getProject()",
                            xsiType: "$!om.getXSIType()",
                            #if($om)
                                isSubject: $!om.getItem().instanceOf("xnat:subjectData"),
                                isExperiment: $!om.getItem().instanceOf("xnat:experimentData"),
                                isSubjectAssessor: $!om.getItem().instanceOf("xnat:subjectAssessorData"),
                                isImageSession: $!om.getItem().instanceOf("xnat:imageSessionData"),
                                isImageAssessor: $!om.getItem().instanceOf("xnat:imageAssessorData"),
                            #end
##                            //projectID: #if ($project) #if ($project.getId()) "$!project.getId()" #else "$!project" #end #end ,
##                            #if ($om.getSubjectId())
##                                subjectID: "$!om.getSubjectId()",
##                            #end
##                            subjectLabel: "#if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end",
                            subjectLabel: "#if($!subject.getIdentifier($project,true))$!subject.getIdentifier($project,true)#elseif($subject.getLabel())$!subject.getLabel()#else$!subject.getId()#end",
                            subjectID: "$!subject.getId()",
                            label: "#if($!om.getIdentifier($project,true))$!om.getIdentifier($project,true)#elseif($om.getLabel())$!om.getLabel()#else$!om.getId()#end",
                            ID: "$!om.getId()"
##                            subjectLabel: "$!item.getStringProperty("xnat:subjectData/name")",
                        },
                        timestamp: jq.now() // timestamp for the page when it loads
                    }
               };
    }

    if (XNAT.data.context.projectName === ""){
        #if ($!project.getName())
            #set ($projectName = $project.getName())
        #elseif ($!om.getProject($project,false).getName())
            #set ($projectName = $om.getProject($project,false).getName())
        #else
            #set ($projectName = "")
        #end
        XNAT.data.context.projectName = "$projectName";
    }

    // 'page' object is same as 'context' - easier to remember?
    XNAT.data.page = XNAT.data.context ;

    var serverRoot = "$content.getURI('')";
    var csrfToken = "$!XNAT_CSRF";
    var showReason = $showReason;
    var requireReason = $requireReason;

    XNAT.app.showLeftBar=$turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar","true"));
    XNAT.app.showLeftBarProjects=$turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-projects","true"));
    XNAT.app.showLeftBarFavorites=$turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-favorites","true"));
    XNAT.app.showLeftBarSearch=$turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-search","true"));
    XNAT.app.showLeftBarBrowse=$turbineUtils.toBoolean($siteConfig.getProperty("UI.show-left-bar-browse","true"));

    window.available_elements=new Array();

    #if($data.getSession().getAttribute("user"))
        #set ($typeObjects = $data.getSession().getAttribute("user").getBrowseableElementDisplays() )
    #end

    #foreach ($typeObject in $typeObjects)
        window.available_elements.push({
            singular: "$typeObject.getSchemaElement().getElementSecurity().getSingularDescription()",
            plural: "$typeObject.getSchemaElement().getElementSecurity().getPluralDescription()",
            element_name: "$typeObject.getElementName()",
            actions: $typeObject.getElementSecurity().getListingActionsJSON(),
            "lbg": "$!typeObject.getLightColor()",
            "dbg": "$!typeObject.getDarkColor()",
			"isSubjectAssessor":$typeObject.getSchemaElement().getGenericXFTElement().getExtendedXSITypes().contains("xnat:subjectAssessorData"),
			"isImageAssessor":$typeObject.getSchemaElement().getGenericXFTElement().getExtendedXSITypes().contains("xnat:imageAssessorData"),
			"isImageSession":$typeObject.getSchemaElement().getGenericXFTElement().getExtendedXSITypes().contains("xnat:imageSessionData"),
			"isImageScan":$typeObject.getSchemaElement().getGenericXFTElement().getExtendedXSITypes().contains("xnat:imageScanData")
        });
    #end

    window.available_elements.getByName=function(name){
      for(var aeC=0;aeC<this.length;aeC++){
        if(this[aeC].element_name==name){
          return this[aeC];
        }
      }
    };

    #if($project)
     #if($project.getId())
      window.projectScope="$!project.getId()";
     #else
      window.projectScope="$!project";
     #end
    #end

#if($item)
    #if($item.instanceOf("xnat:subjectData"))
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getId()";
    #elseif($item.instanceOf("xnat:derivedData"))
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getImageSessionData().getSubjectId()/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()";
    #else
              XNAT.app.current_uri=serverRoot+"/REST/projects/$om.getProject()/subjects/$om.getSubjectId()/experiments/$om.getId()";
    #end
#end

</script>
<script type="text/javascript">
    // quickly reference today's date
    XNAT.data.todaysDate = {} ;
    // if today was January 23, 2013...
    // m (1), mm (01), d (23), dd (23), yyyy (2013), ISO/iso (2013-01-23), US/us (01/23/2013)
    (function(dateObj){
        //var dateObj = XNAT.data.todaysDate ;
        dateObj.date = new Date();
        dateObj.gotMonth = dateObj.date.getMonth();
        dateObj.m = (dateObj.gotMonth + 1).toString() ;
        dateObj.mm = (dateObj.m.length === 1) ? '0'+ dateObj.m : dateObj.m ;
        dateObj.d = dateObj.date.getDate().toString();
        dateObj.dd = (dateObj.d.length === 1) ? '0'+ dateObj.d : dateObj.d ;
        dateObj.yyyy = dateObj.date.getFullYear().toString();
        dateObj.ISO = dateObj.iso = dateObj.yyyy + '-' +  dateObj.mm + '-' + dateObj.dd;
        dateObj.US = dateObj.us = dateObj.mm + '/' +  dateObj.dd + '/' + dateObj.yyyy;
    })(XNAT.data.todaysDate);
</script>
<script type="text/javascript" src="$content.getURI('scripts/xdat.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/DynamicJSLoad.js')"></script>
<!-- YAHOO USER INTERFACE files below here -->
<script type="text/javascript" src="$content.getURI("scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js")"></script>
##<script type="text/javascript" src="$content.getURI("scripts/yui/build/event/event.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/event/event-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/container/container-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/menu/menu-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/element/element-beta-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/button/button-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/connection/connection-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/treeview/treeview-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/cookie/cookie-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/tabview/tabview-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/datasource/datasource-min.js")"></script> 
<script type="text/javascript" src="$content.getURI("scripts/yui/build/resize/resize-min.js")"></script>   
<script type="text/javascript" src="$content.getURI("scripts/yui/build/dragdrop/dragdrop-min.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/yui/build/datatable/datatable-min.js")"></script>  
<script type="text/javascript" src="$content.getURI("scripts/yui/build/paginator/paginator-min.js")"></script>  
<script type="text/javascript" src="$content.getURI("scripts/yui/build/json/json-min.js")"></script>  
<script type="text/javascript" src="$content.getURI("scripts/yui/xnat_loader.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/LeftBarTreeView.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/justification/justification.js")"></script>
<script type="text/javascript" src="$content.getURI("scripts/utils.js")"></script>
<script type="text/javascript">
    var YUIDOM=YAHOO.util.Dom;
    YAHOO.util.Event.onDOMReady(function(){
        var myforms = document.getElementsByTagName("form");
        for (var i=0; i<myforms.length; i++) {
            var form = myforms[i];
            var el = document.createElement("input");
            el.type = "hidden";
            el.name = "XNAT_CSRF";
            el.value = "$!XNAT_CSRF";
            form.appendChild(el);
        }
    });
</script>

<!-- YUI css -->
<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/yui/build/assets/skins/sam/skin.css")">

<!-- xdat.css and xnat.css loaded last to override YUI styles -->
<link rel="stylesheet" type="text/css" href="$content.getURI("style/xdat.css")">
<link rel="stylesheet" type="text/css" href="$content.getURI("style/xnat.css")">

<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/xModal/xModal.css")">
<!-- xModal.css needs to be before xModal.js so the script doesn't insert it again -->
<script type="text/javascript" src="$content.getURI("scripts/xModal/xModal.js")"></script>

<link rel="stylesheet" type="text/css" href="$content.getURI("scripts/tabWrangler/tabWrangler.css")">
<script type="text/javascript" src="$content.getURI("scripts/tabWrangler/tabWrangler.js")"></script>

<!-- date input stuff -->
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
##<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></SCRIPT>

<script type="text/javascript" src="$content.getURI('scripts/jquery.maskedinput.min.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/ezCalendar.js')"></script>


#addGlobalCustomScreens("header")
