#* @vtlvariable name="om" type="org.nrg.xdat.om.XnatSubjectdata" *#
#* @vtlvariable name="part_id" type="java.lang.String" *#
#* @vtlvariable name="project" type="java.lang.String" *#
#* @vtlvariable name="content" type="org.apache.turbine.services.pull.tools.ContentTool" *#
#* @vtlvariable name="arc" type="org.nrg.xdat.om.ArcArchivespecification" *#
#* @vtlvariable name="link" type="org.apache.turbine.util.template.TemplateLink" *#
<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></SCRIPT>
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
<style type="text/css">
    #launchUploadAppletForm .select_label { display: inline-block ; width: 100px ; text-align: left ; }
    #launchUploadAppletForm th { padding: 0 ; }
    #launchUploadAppletForm tr { height: 25px ; line-height: 25px ; vertical-align: middle ; }
    #cal_session_date { margin-left: 4px ; padding: 2px 4px ; }
</style>
<form id="launchUploadAppletForm" class="noHide" action='$link.setPage("UploadApplet.vm")' method="post" target='_self' >
            <h3>Upload Image $displayManager.getPluralDisplayNameForImageSession()</h3>
                <p style="width:500px;margin-top:10px;margin-bottom:20px;">
                    DICOM and ECAT files can be uploaded using this online upload tool. Begin by selecting the $displayManager.getSingularDisplayNameForProject().toLowerCase(),
                    $displayManager.getSingularDisplayNameForSubject().toLowerCase(), and date for the $displayManager.getSingularDisplayNameForImageSession().toLowerCase() you wish to upload and then click the <b>Launch Uploader</b>
                    button. You will need Java installed in order and operational to use the uploader.
                    <a href="http://www.java.com/en/download/testjava.jsp" target="_blank">Check here</a> to verify that
                    your Java is working.
                </p>
        <table>
        <tr>
            <th align="left"><label for="project" class="select_label">$displayManager.getSingularDisplayNameForProject()</label></th>
            <td><select id="project" name="project" style="min-width:200px;" disabled=true></select></td>
        </tr>
        <tr>
            <th align="left"><label for="part_id" class="select_label">$displayManager.getSingularDisplayNameForSubject()</label></th>
            <td><select id="part_id" name="part_id" style="min-width:200px;" disabled=true>
                <option>(Select a $displayManager.getSingularDisplayNameForProject().toLowerCase())</option>
            </select></td>
            <td><a onclick="createSubjectForm();">Add New $displayManager.getSingularDisplayNameForSubject()</a></td>
        </tr>

            #addGlobalCustomScreens("projectSubjectForm")

        </table>
 <div id="hideIfProtocol" >
 #if ($requireDate == "false")
   <input type="hidden" id="no_session_date" name="no_session_date" value="true"/>
   <input type="hidden" id="session_date" name="session_date"/>
 #else
      <table border="0">       
        <tr>
            <th align="left"><label for="session_date" class="select_label">$displayManager.getSingularDisplayNameForImageSession() Date</label></th>
            <td>
                <input type="text" id="session_date" name="session_date"/>
                <script type="text/javascript">insertCalendar(document.getElementById("session_date"), "$displayManager.getSingularDisplayNameForImageSession() Date");</script>
		</tr>
#if ($requireTime == "true")
		<tr>
			<th align="left"><label for="session_time" class="select_label">$displayManager.getSingularDisplayNameForImageSession() Time</label></th>
			<td>
#set ($hours=[["08","8AM",8],["09","9AM",9],["10","10AM",10],["11","11AM",11],["12","12PM",12],["13","1PM",13],["14","2PM",14],["15","3PM",15],["16","4PM",16],["17","5PM",17],["18","6PM",18],["19","7PM",19],["20","8PM",20],["21","9PM",21],["22","10PM",22],["23","11PM",23],["00","12AM",0],["01","1AM",1],["02","2AM",2],["03","3AM",3],["04","4AM",4],["05","5AM",5],["06","6AM",6],["07","7AM",7]]	)
<select id="session_time_h" name="session_time_h">
        <option value="">HH</option>
        #foreach ($hour in $hours)
              <option value="$hour.get(0)" >$hour.get(1)</option>
        #end
      </select>:

      <select id="session_time_m" name="session_time_m">
        <option value="">MM</option>
        #foreach ($minute in [ 0..59 ])
           #if($minute<10)
           		#set($minuteD="0$minute")
           #else
           		#set($minuteD="$minute")
           #end
              <option value="$minuteD" >$minuteD</option>
        #end
      </select>
         
            </td>
        </tr>
#end
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="checkbox" id="no_session_date" name="no_session_date" value="false"/> <label for="no_session_date">I don't know the date or my $displayManager.getSingularDisplayNameForImageSession().toLowerCase() doesn't have a date</label>
            </td>
        </tr>
          </table>
#end        
        <script type="text/javascript" src="$content.getURI('scripts/subjectAssessorData/proj_subj_visit_selector.js')"></SCRIPT>
        <script type="text/javascript">
            #set($project = $om.getProject())
            #set($part_id = $!subject)
            window.projectSubjectVisitManager = new ProjectSubjectVisitSelector("$!project", "$!part_id");
            window.projectSubjectVisitManager.init();
        </script>

     <br>

     <input type="hidden" id="session_id" name="session_id" value=""/>

     <input type="submit" id="gojuice" name="gojuice" value="Launch Uploader" disabled="true" style="min-width:135px;font-size:13px;" />

 </div> <!-- end of hideIfProtocol -->
<div id="forProtocolContent" style="display:none"></div>

    <p style="width:500px;margin:20px 0;">Looking for other ways to upload images? <a href="$link.setPage("AlternateImageUpload.vm")">Click here.</a></p>

</form>

<script type="text/javascript">
    function createSubjectForm(){
        if (this.subjectForm!=undefined){
            this.subjectForm.close();
            this.subjectForm=null;
        }
        window.create_subject_link ="$link.setPage('XDATScreen_edit_xnat_subjectData.vm').addPathInfo('popup','true')";
        var project = document.getElementById("project").value;
        if (project == ""){
            xModalMessage('Upload Validation', 'Please select a $displayManager.getSingularDisplayNameForProject() first.');
            return;
        }
        window.create_subject_link+="/project/" + project + "/destination/JS_Parent_Return.vm";
        this.subjectForm=window.open(window.create_subject_link, '','width=600,height=850,status=yes,resizable=yes,scrollbars=yes,toolbar=no');
        if (this.subjectForm.opener == null) this.subjectForm.opener = self;
        return this.subjectForm;
    }

    window.success=function(subject_id){
        //window.psm("The $displayManager.getSingularDisplayNameForSubject().toLowerCase() you entered was stored.");
        if(this.subjectForm!=undefined){
            this.subjectForm.close();
            this.subjectForm=null;
        }
        window.projectSubjectVisitManager.defaultSubject=subject_id;
        window.projectSubjectVisitManager.loadSubjects();
    }
    window.failure=function(msg){
        //window.psm.message(msg);
        if(this.subjectForm!=undefined){
            this.subjectForm.close();
            this.subjectForm=null;
        }
    }

</script>