#if ($qcAssessor)
	<BR/>

	#set ($scanCounter = 560)
	<a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick=" return blocking($scanCounter);">
		<img ID="IMG$scanCounter" src='$content.getURI("images/plus.jpg")' />
		DTI QC
	</a>
	<span ID="span$!scanCounter" style="position:relative; display:none;">
		#foreach ($qcscan in $qcAssessor.getChildItems("scans/scan"))
			<h3>Scan $qcscan.getProperty('id')</h3>
			<table>
				<tr><th colspan="2">QC Images</th></tr>
				<tr>
					<th>Fractional Anisotropy Snapshot</th>
					<th>Fractional Anisotropy Snapshot (Color)</th>
				</tr>
				<tr>
					<td>
						<a href='$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_DTI_QC/out/resources/QC_FA/files/$qcscan.getProperty('id')/fa.png")'>
							<img src='$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_DTI_QC/out/resources/QC_FA/files/$qcscan.getProperty('id')/fathumb.png")' />
						</a>
					</td>
					<td>
						<a href='$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_DTI_QC/out/resources/QC_FA-RGB/files/$qcscan.getProperty('id')/fa-rgb.png")'>
							<img src='$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_DTI_QC/out/resources/QC_FA-RGB/files/$qcscan.getProperty('id')/fa-rgbthumb.png")' />
						</a>
					</td>
				</tr>
				<tr>
					<th>Fractional Anisotropy Histogram</th>
					<th>Trace Histogram</th>
				</tr>
				<tr>
					<td style="text-align: center;">
						<img src='$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_DTI_QC/out/resources/QC_FA-HIST/files/$qcscan.getProperty('id')/fa-hist.png")' />
					</td>
					<td style="text-align: center;">
						<img src='$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_DTI_QC/out/resources/QC_TR-HIST/files/$qcscan.getProperty('id')/tr-hist.png")' />
					</td>
				</tr>
			</table>
			<br />
			<table>
				<tr><th colspan="5">Scan Statistics</th></tr>
				<tr><th>Measure</th><th>Mean</th><th>SD</th><th>Min Intensity</th><th>Max Intensity</th></tr>
				<tr>
					<td>Whole Brain Basser/Pierpaoli fractional anisotropy</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=fa_mean]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=fa_sd]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=fa_min]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=fa_max]/additionalStatistics")</td>
				</tr>
				<tr>
					<td>Threshold Basser/Pierpaoli fractional anisotropy</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=famask_mean]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=famask_sd]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=famask_min]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=famask_max]/additionalStatistics")</td>
				</tr>
				<tr>
					<td>Whole Brain trace</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=tr_mean]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=tr_sd]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=tr_min]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=tr_max]/additionalStatistics")</td>
				</tr>
				<tr>
					<td>Threshold trace</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=trmask_mean]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=trmask_sd]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=trmask_min]/additionalStatistics")</td>
					<td>$qcscan.getProperty("scanStatistics/additionalStatistics[name=trmask_max]/additionalStatistics")</td>
				</tr>
			</table>
		#end
	</span>
	
	<BR/> <BR/>
#end
