<script language="Javascript">

    var scansToBuild = new Array();

    function disableSubmit() {
        document.getElementById("submitBtn").disabled = true;
    }

    function enableSubmit() {
        document.getElementById("submitBtn").disabled = false;
    }

    function validate() {
        return anyScansChecked() && anyRefSelected();
    }

    function anyScansChecked() {
        var total = scansToBuild[0].size;
        var anyChecked = false;
        for(i=0; i<total; i++) {
            if (document.getElementById("MPRAGE_"+i).checked) {
                anyChecked = true;
                enableSubmit();
                break
            }
        }

        if (!anyChecked) {
            alert("To run, this pipeline requires a T1 or T2 scan. Please select at least one T1 or T2 scan");
            disableSubmit();
        }

        return anyChecked;
    }

    function anyRefSelected() {
        var refs = document.getElementsByName("ref");
        var anyChecked = false;

        for(var i=0, length = refs.length; i < length; i++) {
            if(refs[i].checked) {
                anyChecked = true;
                enableSubmit();
                break
            }
        }

        if (!anyChecked) {
            alert("This pipeline requires a reference scan. Please select one.");
            disableSubmit();
        }

        return anyChecked
    }

    function disableROIs() {
        document.getElementById("rois").disabled = true;
        document.getElementById("dirs").disabled = true;
    }

    function enableROIs() {
        document.getElementById("rois").disabled = false;
        document.getElementById("dirs").disabled = false;

    }

    function roisEndisable() {
        var manual = document.getElementById("use_manual_roi").checked;
        if (manual) {
            enableROIs();
        } else {
            disableROIs();
        }

        return manual;
    }

    // function refSelect(selectedRefIndex,selectedRefId) {
    //     // var refMenu = document.getElementById("ref_menu");
    //     // var selectedRef = refMenu.selectedIndex;
    //     // var jValue = refMenu.options[selectedRef].id.substr(4,1);

    //     // var scanChecked = document.getElementById("MPRAGE_"+jValue).checked;
    //     var scanChecked = document.getElementById("MPRAGE_"+selectedRefIndex).checked;

    //     if (!scanChecked) {
    //         var msg = "The selected reference scan is not currently included in the build. Select a different reference scan, or check the box to include scan "+selectedRefId+" in the build."
    //         alert(msg);
    //     }

    //     return scanChecked;
    // }

    // function scanClick(scanIndex,scanChecked,scanId) {
    //     var isRef = document.getElementById("ref_"+scanIndex).selected;

    //     if (isRef && !scanChecked) {
    //         var msg = "The selected reference scan is not currently included in the build. Select a different reference scan, or check the box to include scan "+scanId+" in the build."
    //         alert(msg);
    //     }

    //     return
    // }

    function checkAll(key) {
        allChecked = document.getElementById("scans").checked;
        for(i=0; i<document.getElementById(key+"_rowcount").value; i++) {
            document.getElementById(key+"_"+i).checked = allChecked;
        }
    }

</script>

##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
    <DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">

<form name="FaceMaskingBuildOptions" method="post" action="$link.setAction("BuildAction")" onsubmit="return validate();">
Set the parameters required for Epicryption.
<br/> <br/>
<table>
    <tr>
        <td>
            <b>
                <font face="$ui.sansSerifFonts">
                    Session: $imageSession.getLabel()
                </font>
            </b>
        </td>
        <td>
            <b>
                <font face="$ui.sansSerifFonts">
                    Project: $imageSession.getProject()
                </font>
            </b>
        </td>
    </tr>
</table>
<br/>

#set ($mpragescanType = $buildableScanTypes.get($mpragekey))

#set ($disabled="")
#set ($mprageScans = $imageSession.getUnionOfScansByType($mpragescanType))
<table border="0"  bordercolor="#CC3333">
#if ($mprageScans.size()==0)
    <DIV class="error">This session cannot be processed as there are no T1 or T2 scans for this session</DIV><br>
    #set ($disabled = "disabled")
#else
    #set ($key = $mpragekey)
    #set ($scans = $mprageScans)
    <script language="Javascript">
        var aScanType = {};

        aScanType.key = '$key';
        aScanType.size = $scans.size();
        scansToBuild.push(aScanType);
    </script>

    <tr style="border-style:none">
        <td width="300" style="border-style:none" colspan="3">
            <b>Selected scans will be facemasked</b>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><input type="checkbox" name="scans" id="scans" checked onclick="checkAll('${key}')" />(Select/Deselect all)</td>
    </tr>
    #set ($j = 0)
    #foreach ($scan in $scans)
    <tr style="border-style:none">
        <td >
            <p>&nbsp;</p>
        </td>

        #if ($scan.getQuality().equalsIgnoreCase("usable"))
            #set ($checked="checked")
        #else
            #set ($checked="")
        #end

        <td >
            <input type="checkbox" name="${key}_$j" id="${key}_$j" value="$scan.Id" $checked>$scan.Id (<b>$!scan.getType()</b> Quality: $scan.Quality)
        </td>
    </tr>

    #set ($j = $j + 1)
    #end
    <input type="hidden" name="${key}_rowcount" id="${key}_rowcount" value="$j">
</table>
<br/>
<table border="0"  bordercolor="#CC3333">
    <!-- <tr style="border-style:none">
        <td ><b>Choose reference scan</b></td>
        <td>
            <select id="ref_menu" name="ref_menu" onchange="refSelect(this.selectedIndex,this.options[this.selectedIndex].value)">
            #set ($j = 0)
            #foreach ($scan in $scans)
                <option id="ref_$j">$scan.Id</option>
                #set ($j = $j + 1)
            #end
            </select>
        </td>
    </tr> -->
    <tr style="border-style:none">
        <td colspan="2"><b>Choose reference scan</b></td>
    </tr>
    #foreach ($session in $sessions)
    ## #if ("$session.id" != "$imageSession.id")
    #set($sessionid="$session.id")
    #set($sessionlabel="$session.label")
    <tr><td colspan="2">$sessionlabel #if("$sessionlabel"=="$imageSession.getLabel()") (This session) #end</td></tr>
    #foreach ($scan in $allScans.get($sessionid))
    #set($scanid=$scan.id)
    <tr>
        <td>&nbsp;</td>
        <td>
            <input type="radio" name="ref" value="${sessionlabel}-${scanid}">
            $scanid (<b>$!scan.getType()</b> Quality: $scan.Quality)
        </td>
    </tr>
    #end
    #end
    <tr>
        <td colspan="2">The reference scan will be oriented to the atlas, then all other scans oriented to this scan.</td>
    </tr>
</table>

<br/><br/>

<table border="0"  bordercolor="#CC3333">
    <tr style="border-style:none">
        <td colspan="3">
            <b>Build Parameters</b>
        </td>
    </tr>
    <!-- checkboxes: usebet, maskears, use_manual_roi -->
    #set ($bet = "usebet")
    <tr style="border-style:none">
        <td colspan="2">Generate an exclusion brain mask? (parameter: $bet)</td>
        <td><input type="checkbox" name="$bet" id="$bet" #if ($!projectSettings.get($bet).getCsvvalues()=="1") checked #end></td>
    </tr>
    #set ($maskears = "maskears")
    <tr style="border-style:none">
        <td colspan="2">Enable ear masking? (parameter: $maskears)</td>
        <td><input type="checkbox" name="$maskears" id="$maskears" #if ($!projectSettings.get($maskears).getCsvvalues()=="1") checked #end></td>
    </tr>
    #set ($man_roi = "use_manual_roi")
    <tr style="border-style:none">
        <td colspan="2">Enable manual ROI setings? (parameter: $man_roi)</td>
        <td><input type="checkbox" name="$man_roi" id="$man_roi" #if ($!projectSettings.get($man_roi).getCsvvalues()=="1") checked #end onclick="roisEndisable()"></td>
    </tr>
    <!-- text entry boxes: invasiveness, threshold, rois, dirs -->
    #set ($rois = "rois")
    <tr style="border-style:none">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Manual ROI(s) (parameter: $rois) <i>optional</i></td>
        <td><input type="text" name="$rois" id="$rois" value="$!projectSettings.get($rois).getCsvvalues()" disabled="roisEndisable()"></td>
    </tr>
    #set ($dirs = "dirs")
    <tr style="border-style:none">
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td>Direction(s) for manual ROI(s) (parameter: $dirs) <i>optional</i></td>
        <td><input type="text" name="$dirs" id="$dirs" value="$!projectSettings.get($dirs).getCsvvalues()" disabled="roisEndisable()"></td>
    </tr>
    #set ($inv = "invasiveness")
    <tr style="border-style:none">
        <td colspan="2">Invasiveness coefficient (parameter: $inv)</td>
        <td ><input type="text" name="$inv" id="$inv" value="$!projectSettings.get($inv).getCsvvalues()"></td>
    </tr>
    #set ($thr = "threshold")
    <tr style="border-style:none">
        <td colspan="2">Background-object intensity threshold (parameter: $thr)</td>
        <td><input type="text" name="$thr" id="$thr" value="$!projectSettings.get($thr).getCsvvalues()"></td>
    </tr>
</table>
#end


#xdatPassItemFormFields($search_element $search_field $search_value $project)

    <input type="hidden" name="facemasking_pipelinename" value="$pipeline.getLocation()">
    <input type="hidden" name="cmdprefix" value="arc-grid-queue">


#insertPipelineNotification()

    <input type="submit" id="submitBtn" $disabled name="eventSubmit_doFacemasking" value="Queue Job" />
        &nbsp;&nbsp;
    <input type="button" ONCLICK="javascript:self.close()" value="Close"/>
    <p>&nbsp;</p>
</form>

