##Copyright 2009 Washington University in St. Louis All Rights Reserved

##<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Popup.vm")
$page.setTitle("Protocol Check Setup")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
#end
<font face="$ui.sansSerifFonts">

<form ID="dicomtonifti" name="dicomtonifti" method="post" action="$link.setAction("ManagePipeline")">

<b>DICOM to NIFTI setup for $project </b>

<br/>

<p>
$newpipeline.getDescription()
</p>

#set ($schemaType = $newpipeline.getSchemaElementName())
#set ($parameters =$newpipeline.getParameters_parameter())
<br/>
<br/>

<p>
<b> Please define the following parameters for your project: </b>
</p>
<table>
    <TR>
        <TD><b>Launch pipeline automatically when session is archived.</b></TD>
        <TD> <input type="checkbox" name="auto_archive" checked/> </TD>
    </TR>
    <TR>#set ($i=9)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <TD><b>Scan types of structural scans</b></TD>
        <TD>
            <input type="text" size="45" id="${schemaType}.parameters.parameter[$i].csvValues"  name="${schemaType}.parameters.parameter[$i].csvValues" value="$parameters.get($i).csvvalues"/>
        </td>
    </tr>
    <TR>#set ($i=5)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <TD><b>Output file type</b></TD>
        <TD>
            <input type="radio" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="Y" checked="checked" /> .nii &nbsp;
            <input type="radio" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="N" /> .img/.hdr
        </td>
    </tr>
    <TR>#set ($i=6)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <TD><b>Keep QC output files?</b></TD>
        <TD>
            <input type="checkbox" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="Y" checked="checked" />
        </td>
    </tr>
    <TR>#set ($i=7)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <TD><b>Overwrite old files if they exist?</b></TD>
        <TD>
            <input type="checkbox" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="Y" checked="checked" />
        </td>
    </tr>
    <TR>#set ($i=8)
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$parameters.get($i).name"/>
        <input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$parameters.get($i).description"/>
        <TD><b>Notify by email when complete?</b></TD>
        <TD>
            <input type="checkbox" id="${schemaType}.parameters.parameter[$i].csvValues" name="${schemaType}.parameters.parameter[$i].csvValues" value="Y" checked="checked" />
        </td>
    </tr>
    <TR>
        <TD colspan="2" align="center"><input type="button" ONCLICK="javascript:window.close();" value="Close"/>&nbsp;&nbsp;&nbsp;<input type="submit"  name="eventSubmit_doAddprojectpipeline" value="Submit"/></TD>
    </TR>

</table>

#set ($i = 0)
#foreach ($params in $parameters)
#if ($i <= 4)
<input type="hidden" id="${schemaType}.parameters.parameter[$i].name" name="${schemaType}.parameters.parameter[$i].name" value="$params.name"/>
<input type="hidden" id="${schemaType}.parameters.parameter[$i].schemaLink"  name="${schemaType}.parameters.parameter[$i].schemaLink" value="$params.schemalink"/>
<input type="hidden" id="${schemaType}.parameters.parameter[$i].description" name="${schemaType}.parameters.parameter[$i].description" value="$params.description"/>
#set ($i = $i+1)
#end
#end

<input type="hidden" id="${schemaType}.stepId" name="${schemaType}.stepId" value="AUTO_ARCHIVE_DicomToNifti"/></TD>
<input type="hidden" id="${schemaType}.displayText" name="${schemaType}.displayText" value="DicomToNifti"/>
<input type="hidden" id="${schemaType}.name" name="${schemaType}.name" value="DicomToNifti"/>
<input type="hidden" id="${schemaType}.location" name="${schemaType}.location" value="$newpipeline.getLocation()"/>
<input type="hidden" id="${schemaType}.customwebpage" name="${schemaType}.customwebpage" value="$newpipeline.getCustomwebpage()"/>
<input type="hidden" id="${schemaType}.description" name="${schemaType}.description" value='$newpipeline.getDescription()'/>



<input type="hidden" name="search_element" value="xnat:projectData"/>
<input type="hidden" name="search_field" value="xnat:projectData.ID"/>
<input type="hidden" name="search_value" value="$project"/>
<input type="hidden" name="project" value="$project"/>
<input type="hidden" name="pipeline_path" value="$pipeline_path"/>
<input type="hidden" name="dataType" value="$dataType"/>
<input type="hidden" name="schemaType" value="$schemaType"/>
<input type="hidden" name="edit" value="$edit"/>
<input type="hidden" name="destination" value="JS_Parent_Return.vm"/>


</form>
