<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Metastatic Clinical Encounter Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Metastatic Clinical Encounter Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>             
								#if($om.getId())
		  							#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
								#else
       								#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
       							#end
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>Collection ID</TD><TD>#xdatStringBox("condr_mets:metsClinEncData/saCollID" $item "" $vr)</TD></TR>
							<TR><TD>Lesion Link ID</TD><TD>#xdatStringBox("condr_mets:metsClinEncData/saLinkID" $item "" $vr)</TD></TR>
							<TR><TD>Encounter Num</TD><TD>#xdatStringBox("condr_mets:metsClinEncData/nodeNum" $item "" $vr)</TD></TR>
							<TR><TD>Radiosurgery Platform</TD><TD>#xdatStringBox("condr_mets:metsClinEncData/platform" $item "" $vr)</TD></TR>
							<TR><TD>Karnofsky Performance Status</TD><TD>#xdatStringBox("condr_mets:metsClinEncData/karPerfStatus" $item "" $vr)</TD></TR>
							<TR><TD>Steroid Dose</TD><TD>#xdatStringBox("condr_mets:metsClinEncData/steroidDose" $item "" $vr)</TD></TR>
							<TR><TD>Encounter Date</TD><TD>#xdatDateBox("condr_mets:metsClinEncData/encDate" $item $vr $years)</TD></TR>
							<TR><TD>Encounter Notes</TD><TD>#xdatTextArea("condr_mets:metsClinEncData/encNotes" $item "" $vr 7 30)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left>
				##<input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/>
				<input type="submit" name="eventSubmit_doInsert" value="Submit"/>
		</TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

//   validateSubjectAssessorForm();
//   return false;
}

if (typeof confirmValues !== 'function') { 
  window.confirmValues = function(){}; 
}
</script>
