<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($qcValues = [["Failed","Failed"],["Failed-needs reprocessing","Failed-needs reprocessing"],["Passed","Passed"],["Passed with edits","Passed with edits"],["Quarantined","Quarantined"]])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Edit PET Time Course Analysis Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<hr>
								#parse("/screens/xnat_edit_experimentData.vm")
								<HR></TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
                                                        <TR>
                                                                <TD align="left" valign="top">
                        <!-- BEGIN pet:fspetTimeCourseData/validation -->
                                                                        <TABLE>
                                                                                <TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">PET Time Course QC</font></TH></TR>
                                                                                <TR>
                                                                                        <TD align="left" valign="top">
                                                                                                <TABLE>
                                                                                                        <TR><TD>Status</TD><TD>#cndaSelectBoxSimple("pet:fspetTimeCourseData/validation/status" $item $qcValues $vr)</TD></TR>
                                                                                                        <TR><TD>Date</TD><TD>#cndaDateBox("pet:fspetTimeCourseData/validation/date" $item $vr $years)</TD></TR>
                                                                                                        <TR><TD>Method</TD><TD>#xdatStringBox("pet:fspetTimeCourseData/validation/method" $item "" $vr)</TD></TR>
                                                                                                        <TR><TD>Notes</TD><TD>#xdatTextArea("pet:fspetTimeCourseData/validation/notes" $item "" $vr 10 30)</TD></TR>
                                                                                                        #xdatHiddenBox("pet:fspetTimeCourseData/validation/xnat_validationData_id" $item "")
                                                                                                        #xdatHiddenBox("pet:fspetTimeCourseData/imageSession_ID" $item "")
                                                                                                        #xdatHiddenBox("pet:fspetTimeCourseData/version" $item "")
                                                                                                </TABLE>
                                                                                        </TD>
                                                                                </TR>
                                                                        </TABLE>
                        <!-- END pet:fspetTimeCourseData/validation -->
                                                                </TD>
                                                        </TR>

					       </TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
   	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE
   document.getElementById("form1").submit();
   //validateExperimentForm();
   //return false;
}
</script>
