$page.setTitle("Edit ABCL Summary Scores")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($int_note_vals=["-999","N/A","N/R","N/K"])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ABCL Assessment #if($om.getId()) Modification Form #else Creation Form #end</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	<TR>
		<TD>
    		<TABLE width="100%">
			   <TR><TD>	
				#parse("/screens/ProjSubjExptHeader.vm")
    			</TD></TR>
               <TR><TD>	
				
			   </TD></TR>
				<TR>
					<TD width="35%" align="left">Assessment Date</TD>
					<TD align="left">#xdatDateBox("bcl:abcl1-03Ed121Data/date" $item $vr $years)</TD>
				</TR>
    		</TABLE>
        </TD>
	</TR>
	<TR>
		<TD>
			<TABLE>
        		<TR>
        			<TH align="left">Description</TH>
        			<TH>Raw Score</TH>
        			<TH>T-Score</TH>
        			<TH>Notation</TH>
        		</TR>
        		<TR>
        			<TD>Anxious/Depressed Raw Score</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/anxdp_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/anxdp_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/anxdp_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Withdrawn-Depressed</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/wthdp_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/wthdp_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/wthdp_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Somatic Complaints</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/som_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/som_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/som_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Thought Problems</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/tho_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/tho_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/tho_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Attention Problems</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/att_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/att_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/att_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Aggressive Behavior</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/agg_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/agg_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/rule_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Rule-Breaking Behaviors</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/rule_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/rule_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/agg_note" $item $int_note_vals $vr)</TD>
        		</TR>
        		<TR>
        			<TD>Intrusive Thoughts</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/int_raw" $item "" $vr)</TD>
        			<TD>#xdatTextBox("bcl:abcl1-03Ed121Data/int_t" $item "" $vr)</TD>
        			<TD>#xdatSelectBoxWSingleValue("bcl:abcl1-03Ed121Data/int_note" $item $int_note_vals $vr)</TD>
        		</TR>							
    		</TABLE>
    	</TD>
    </TR>



	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   if (validateSubjectAssessorForm()) {
      document.getElementById("form1").submit();
   }
   //validateSubject();
   return true; 
}

function validateSubjectAssessorForm()
{
   var elementName="$!item.getXSIType()";
   var matchesDIV = document.getElementById(elementName+"/subject_id");  
   var subject = matchesDIV.value;
   if (subject=="")
   {
     //window.manager.showOption1();
     alert("Please select a subject before proceeding.");
     return false;
   } 
   matchesDIV = document.getElementById(elementName+"/project");  
   var project = matchesDIV.value;
   if (project=="")
   {
     //window.manager.showOption1();
     alert("Please select a project before proceeding.");
     return false;
   } 
   return true;
}
</script>
