$page.setTitle("CLIREV")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($CLIPASS = $item.getStringProperty("CLIPASS"))
	#if ( "-4" != $CLIPASS )
		<tr>
			<th width="400px">If the visit is complete, please indicate below.</th>
			<td>
				$CLIPASS 
				#if ($CLIPASS == "1")
					- The visit is complete to my satisfaction.
			#end
			</td>
		</tr>
	#end
	#set ($CLIDATE = $item.getStringProperty("CLIDATE"))
		<tr>
			<th width="400px">Approval Date</th>
			<td>
				$!CLIDATE
			</td>
		</tr>
	#set ($CLICOMM = $item.getStringProperty("CLICOMM"))
	#if ( "-4" != $CLICOMM )
		<tr>
			<th width="400px">Comments:</th>
			<td>
				$!CLICOMM
			</td>
		</tr>
	#end
	#set ($CLIPASSWD = $item.getStringProperty("CLIPASSWD"))
	#if ( "-4" != $CLIPASSWD )
		<tr>
			<th width="400px">I certify that I am using my own personal username and password and understand that by using my username and password, I am authorizing this electronic signature to be the legally binding equivalent of my handwritten signature executed on paper. Enter Your Password:</th>
			<td>
				$!CLIPASSWD
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
