$page.setTitle("IPIPPT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<script type="text/javascript" src="$content.getURI("scripts/FileViewer.js")"></script>
<script type="text/javascript">
  var obj=new Object();
  obj.uri=serverRoot + "/REST/projects/$!om.getProject()/subjects/$!om.SubjectData.getLabel()/experiments/$!om.getId()";
  
  #if ($item.canEdit($data.getSession().getAttribute("user")))
	obj.canEdit=true;
  #else
	obj.canEdit=false;
  #end
  
  obj.catalogs=new Object();
  obj.catalogs.ids=new Array();
  window.viewer=new FileViewer(obj);
    
  function showFiles(){
    window.viewer.render();
  }
</script>

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<td >
			<table >
                  <TR><TH>QC Information</TH></TR>
                  <TR><TD>Status</TD><TD>$!item.getStringProperty("ipip:ipipptData/validation/status")</TD></TR>
				  <TR><TD>Date</TD><TD>$!item.getStringProperty("ipip:ipipptData/validation/date")</TD></TR>
				  <TR><TD>Method</TD><TD>$!item.getStringProperty("ipip:ipipptData/validation/method")</TD></TR>
				  <TR><TD>Notes</TD><TD>$!item.getStringProperty("ipip:ipipptData/validation/notes")</TD></TR>
             </table>
			 <br />
        </td>
    </TR>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>

<table id="uds_form"  width="600px">
	<tr>
		<th width="400px" style="padding-left:20px;">Source</th>
		<td>$!item.getStringProperty("source")</td>
	</tr>
	<tr>
		<th colspan="2">Code for data entry<br>1. Very inaccurate <br>2. Moderately inaccurate<br>3. Neither inaccurate nor accurate<br>4. Moderately accurate<br>5. Very accurate<br>9. No Response</th>
	</tr>	#set ($Q1 = $item.getStringProperty("Q1"))
	#if ( "-4" != $Q1 )
		<tr>
			<th width="400px" style="padding-left:20px;">1.  Worry about things</th>
			<td>
				$!Q1
			</td>
		</tr>
	#end
	#set ($Q2 = $item.getStringProperty("Q2"))
	#if ( "-4" != $Q2 )
		<tr>
			<th width="400px" style="padding-left:20px;">2.  Make friends easily</th>
			<td>
				$!Q2
			</td>
		</tr>
	#end
	#set ($Q3 = $item.getStringProperty("Q3"))
	#if ( "-4" != $Q3 )
		<tr>
			<th width="400px" style="padding-left:20px;">3.  Have a vivid imagination</th>
			<td>
				$!Q3
			</td>
		</tr>
	#end
	#set ($Q4 = $item.getStringProperty("Q4"))
	#if ( "-4" != $Q4 )
		<tr>
			<th width="400px" style="padding-left:20px;">4.  Trust others</th>
			<td>
				$!Q4
			</td>
		</tr>
	#end
	#set ($Q5 = $item.getStringProperty("Q5"))
	#if ( "-4" != $Q5 )
		<tr>
			<th width="400px" style="padding-left:20px;">5.  Complete tasks successfully</th>
			<td>
				$!Q5
			</td>
		</tr>
	#end
	#set ($Q6 = $item.getStringProperty("Q6"))
	#if ( "-4" != $Q6 )
		<tr>
			<th width="400px" style="padding-left:20px;">6.  Get angry easily</th>
			<td>
				$!Q6
			</td>
		</tr>
	#end
	#set ($Q7 = $item.getStringProperty("Q7"))
	#if ( "-4" != $Q7 )
		<tr>
			<th width="400px" style="padding-left:20px;">7.  Love large parties.</th>
			<td>
				$!Q7
			</td>
		</tr>
	#end
	#set ($Q8 = $item.getStringProperty("Q8"))
	#if ( "-4" != $Q8 )
		<tr>
			<th width="400px" style="padding-left:20px;">8.  Believe in the importance of art.</th>
			<td>
				$!Q8
			</td>
		</tr>
	#end
	#set ($Q9 = $item.getStringProperty("Q9"))
	#if ( "-4" != $Q9 )
		<tr>
			<th width="400px" style="padding-left:20px;">9.  Use others for my own ends</th>
			<td>
				$!Q9
			</td>
		</tr>
	#end
	#set ($Q10 = $item.getStringProperty("Q10"))
	#if ( "-4" != $Q10 )
		<tr>
			<th width="400px" style="padding-left:20px;">10.  Like to tidy up</th>
			<td>
				$!Q10
			</td>
		</tr>
	#end
	#set ($Q11 = $item.getStringProperty("Q11"))
	#if ( "-4" != $Q11 )
		<tr>
			<th width="400px" style="padding-left:20px;">11.  Often feel blue</th>
			<td>
				$!Q11
			</td>
		</tr>
	#end
	#set ($Q12 = $item.getStringProperty("Q12"))
	#if ( "-4" != $Q12 )
		<tr>
			<th width="400px" style="padding-left:20px;">12.  Take charge</th>
			<td>
				$!Q12
			</td>
		</tr>
	#end
	#set ($Q13 = $item.getStringProperty("Q13"))
	#if ( "-4" != $Q13 )
		<tr>
			<th width="400px" style="padding-left:20px;">13.  Experience emotions intensely</th>
			<td>
				$!Q13
			</td>
		</tr>
	#end
	#set ($Q14 = $item.getStringProperty("Q14"))
	#if ( "-4" != $Q14 )
		<tr>
			<th width="400px" style="padding-left:20px;">14.  Love to help others</th>
			<td>
				$!Q14
			</td>
		</tr>
	#end
	#set ($Q15 = $item.getStringProperty("Q15"))
	#if ( "-4" != $Q15 )
		<tr>
			<th width="400px" style="padding-left:20px;">15.  Keep my promises</th>
			<td>
				$!Q15
			</td>
		</tr>
	#end
	#set ($Q16 = $item.getStringProperty("Q16"))
	#if ( "-4" != $Q16 )
		<tr>
			<th width="400px" style="padding-left:20px;">16.  Find it difficult to approach others</th>
			<td>
				$!Q16
			</td>
		</tr>
	#end
	#set ($Q17 = $item.getStringProperty("Q17"))
	#if ( "-4" != $Q17 )
		<tr>
			<th width="400px" style="padding-left:20px;">17.  Am always busy</th>
			<td>
				$!Q17
			</td>
		</tr>
	#end
	#set ($Q18 = $item.getStringProperty("Q18"))
	#if ( "-4" != $Q18 )
		<tr>
			<th width="400px" style="padding-left:20px;">18.  Prefer variety to routine</th>
			<td>
				$!Q18
			</td>
		</tr>
	#end
	#set ($Q19 = $item.getStringProperty("Q19"))
	#if ( "-4" != $Q19 )
		<tr>
			<th width="400px" style="padding-left:20px;">19.  Love a good fight</th>
			<td>
				$!Q19
			</td>
		</tr>
	#end
	#set ($Q20 = $item.getStringProperty("Q20"))
	#if ( "-4" != $Q20 )
		<tr>
			<th width="400px" style="padding-left:20px;">20.  Work hard</th>
			<td>
				$!Q20
			</td>
		</tr>
	#end
	#set ($Q21 = $item.getStringProperty("Q21"))
	#if ( "-4" != $Q21 )
		<tr>
			<th width="400px" style="padding-left:20px;">21.  Go on binges</th>
			<td>
				$!Q21
			</td>
		</tr>
	#end
	#set ($Q22 = $item.getStringProperty("Q22"))
	#if ( "-4" != $Q22 )
		<tr>
			<th width="400px" style="padding-left:20px;">22.  Love excitement</th>
			<td>
				$!Q22
			</td>
		</tr>
	#end
	#set ($Q23 = $item.getStringProperty("Q23"))
	#if ( "-4" != $Q23 )
		<tr>
			<th width="400px" style="padding-left:20px;">23.  Love to read challenging material</th>
			<td>
				$!Q23
			</td>
		</tr>
	#end
	#set ($Q24 = $item.getStringProperty("Q24"))
	#if ( "-4" != $Q24 )
		<tr>
			<th width="400px" style="padding-left:20px;">24.  Believe I  am better than others</th>
			<td>
				$!Q24
			</td>
		</tr>
	#end
	#set ($Q25 = $item.getStringProperty("Q25"))
	#if ( "-4" != $Q25 )
		<tr>
			<th width="400px" style="padding-left:20px;">25.  Am always prepared</th>
			<td>
				$!Q25
			</td>
		</tr>
	#end
	#set ($Q26 = $item.getStringProperty("Q26"))
	#if ( "-4" != $Q26 )
		<tr>
			<th width="400px" style="padding-left:20px;">26.  Panic easily</th>
			<td>
				$!Q26
			</td>
		</tr>
	#end
	#set ($Q27 = $item.getStringProperty("Q27"))
	#if ( "-4" != $Q27 )
		<tr>
			<th width="400px" style="padding-left:20px;">27.  Radiate joy</th>
			<td>
				$!Q27
			</td>
		</tr>
	#end
	#set ($Q28 = $item.getStringProperty("Q28"))
	#if ( "-4" != $Q28 )
		<tr>
			<th width="400px" style="padding-left:20px;">28.  Tend to vote for liberal political candidates</th>
			<td>
				$!Q28
			</td>
		</tr>
	#end
	#set ($Q29 = $item.getStringProperty("Q29"))
	#if ( "-4" != $Q29 )
		<tr>
			<th width="400px" style="padding-left:20px;">29.  Sympathize with the homeless</th>
			<td>
				$!Q29
			</td>
		</tr>
	#end
	#set ($Q30 = $item.getStringProperty("Q30"))
	#if ( "-4" != $Q30 )
		<tr>
			<th width="400px" style="padding-left:20px;">30.  Jump into things without thinking</th>
			<td>
				$!Q30
			</td>
		</tr>
	#end
	#set ($Q31 = $item.getStringProperty("Q31"))
	#if ( "-4" != $Q31 )
		<tr>
			<th width="400px" style="padding-left:20px;">31.  Fear for the worst</th>
			<td>
				$!Q31
			</td>
		</tr>
	#end
	#set ($Q32 = $item.getStringProperty("Q32"))
	#if ( "-4" != $Q32 )
		<tr>
			<th width="400px" style="padding-left:20px;">32.  Feel comfortable around people</th>
			<td>
				$!Q32
			</td>
		</tr>
	#end
	#set ($Q33 = $item.getStringProperty("Q33"))
	#if ( "-4" != $Q33 )
		<tr>
			<th width="400px" style="padding-left:20px;">33.  Enjoy wild flights of fantasy</th>
			<td>
				$!Q33
			</td>
		</tr>
	#end
	#set ($Q34 = $item.getStringProperty("Q34"))
	#if ( "-4" != $Q34 )
		<tr>
			<th width="400px" style="padding-left:20px;">34.  Believe that others have good intentions</th>
			<td>
				$!Q34
			</td>
		</tr>
	#end
	#set ($Q35 = $item.getStringProperty("Q35"))
	#if ( "-4" != $Q35 )
		<tr>
			<th width="400px" style="padding-left:20px;">35.  Excel in what I do</th>
			<td>
				$!Q35
			</td>
		</tr>
	#end
	#set ($Q36 = $item.getStringProperty("Q36"))
	#if ( "-4" != $Q36 )
		<tr>
			<th width="400px" style="padding-left:20px;">36.  Get irritated easily</th>
			<td>
				$!Q36
			</td>
		</tr>
	#end
	#set ($Q37 = $item.getStringProperty("Q37"))
	#if ( "-4" != $Q37 )
		<tr>
			<th width="400px" style="padding-left:20px;">37.  Talk to a lot of different people at parties</th>
			<td>
				$!Q37
			</td>
		</tr>
	#end
	#set ($Q38 = $item.getStringProperty("Q38"))
	#if ( "-4" != $Q38 )
		<tr>
			<th width="400px" style="padding-left:20px;">38.  See beauty in things others might not notice</th>
			<td>
				$!Q38
			</td>
		</tr>
	#end
	#set ($Q39 = $item.getStringProperty("Q39"))
	#if ( "-4" != $Q39 )
		<tr>
			<th width="400px" style="padding-left:20px;">39.  Cheat to get ahead</th>
			<td>
				$!Q39
			</td>
		</tr>
	#end
	#set ($Q40 = $item.getStringProperty("Q40"))
	#if ( "-4" != $Q40 )
		<tr>
			<th width="400px" style="padding-left:20px;">40.  Often forget to put things back in their proper place</th>
			<td>
				$!Q40
			</td>
		</tr>
	#end
	#set ($Q41 = $item.getStringProperty("Q41"))
	#if ( "-4" != $Q41 )
		<tr>
			<th width="400px" style="padding-left:20px;">41.  Dislike myself</th>
			<td>
				$!Q41
			</td>
		</tr>
	#end
	#set ($Q42 = $item.getStringProperty("Q42"))
	#if ( "-4" != $Q42 )
		<tr>
			<th width="400px" style="padding-left:20px;">42.  Try to lead others</th>
			<td>
				$!Q42
			</td>
		</tr>
	#end
	#set ($Q43 = $item.getStringProperty("Q43"))
	#if ( "-4" != $Q43 )
		<tr>
			<th width="400px" style="padding-left:20px;">43.  Feel others' emotions</th>
			<td>
				$!Q43
			</td>
		</tr>
	#end
	#set ($Q44 = $item.getStringProperty("Q44"))
	#if ( "-4" != $Q44 )
		<tr>
			<th width="400px" style="padding-left:20px;">44.  Am concerned about others</th>
			<td>
				$!Q44
			</td>
		</tr>
	#end
	#set ($Q45 = $item.getStringProperty("Q45"))
	#if ( "-4" != $Q45 )
		<tr>
			<th width="400px" style="padding-left:20px;">45.  Tell the truth</th>
			<td>
				$!Q45
			</td>
		</tr>
	#end
	#set ($Q46 = $item.getStringProperty("Q46"))
	#if ( "-4" != $Q46 )
		<tr>
			<th width="400px" style="padding-left:20px;">46.  Am afraid to draw attention to myself</th>
			<td>
				$!Q46
			</td>
		</tr>
	#end
	#set ($Q47 = $item.getStringProperty("Q47"))
	#if ( "-4" != $Q47 )
		<tr>
			<th width="400px" style="padding-left:20px;">47.  Am always on the go</th>
			<td>
				$!Q47
			</td>
		</tr>
	#end
	#set ($Q48 = $item.getStringProperty("Q48"))
	#if ( "-4" != $Q48 )
		<tr>
			<th width="400px" style="padding-left:20px;">48.  Prefer to stick with things I know</th>
			<td>
				$!Q48
			</td>
		</tr>
	#end
	#set ($Q49 = $item.getStringProperty("Q49"))
	#if ( "-4" != $Q49 )
		<tr>
			<th width="400px" style="padding-left:20px;">49.  Yell at people</th>
			<td>
				$!Q49
			</td>
		</tr>
	#end
	#set ($Q50 = $item.getStringProperty("Q50"))
	#if ( "-4" != $Q50 )
		<tr>
			<th width="400px" style="padding-left:20px;">50.  Do more than what's expected of me</th>
			<td>
				$!Q50
			</td>
		</tr>
	#end
	#set ($Q51 = $item.getStringProperty("Q51"))
	#if ( "-4" != $Q51 )
		<tr>
			<th width="400px" style="padding-left:20px;">51.  Rarely overindulge</th>
			<td>
				$!Q51
			</td>
		</tr>
	#end
	#set ($Q52 = $item.getStringProperty("Q52"))
	#if ( "-4" != $Q52 )
		<tr>
			<th width="400px" style="padding-left:20px;">52.  Seek adventure</th>
			<td>
				$!Q52
			</td>
		</tr>
	#end
	#set ($Q53 = $item.getStringProperty("Q53"))
	#if ( "-4" != $Q53 )
		<tr>
			<th width="400px" style="padding-left:20px;">53.  Avoid philosophical discussions</th>
			<td>
				$!Q53
			</td>
		</tr>
	#end
	#set ($Q54 = $item.getStringProperty("Q54"))
	#if ( "-4" != $Q54 )
		<tr>
			<th width="400px" style="padding-left:20px;">54.  Think highly of myself</th>
			<td>
				$!Q54
			</td>
		</tr>
	#end
	#set ($Q55 = $item.getStringProperty("Q55"))
	#if ( "-4" != $Q55 )
		<tr>
			<th width="400px" style="padding-left:20px;">55.  Carry out my plans</th>
			<td>
				$!Q55
			</td>
		</tr>
	#end
	#set ($Q56 = $item.getStringProperty("Q56"))
	#if ( "-4" != $Q56 )
		<tr>
			<th width="400px" style="padding-left:20px;">56.  Become overwhelmed by events</th>
			<td>
				$!Q56
			</td>
		</tr>
	#end
	#set ($Q57 = $item.getStringProperty("Q57"))
	#if ( "-4" != $Q57 )
		<tr>
			<th width="400px" style="padding-left:20px;">57.  Have a lot of fun</th>
			<td>
				$!Q57
			</td>
		</tr>
	#end
	#set ($Q58 = $item.getStringProperty("Q58"))
	#if ( "-4" != $Q58 )
		<tr>
			<th width="400px" style="padding-left:20px;">58.  Believe there is no absolute right or wrong</th>
			<td>
				$!Q58
			</td>
		</tr>
	#end
	#set ($Q59 = $item.getStringProperty("Q59"))
	#if ( "-4" != $Q59 )
		<tr>
			<th width="400px" style="padding-left:20px;">59.  Feel sympathy for those who are worse off than myself</th>
			<td>
				$!Q59
			</td>
		</tr>
	#end
	#set ($Q60 = $item.getStringProperty("Q60"))
	#if ( "-4" != $Q60 )
		<tr>
			<th width="400px" style="padding-left:20px;">60.  Make rash decisions</th>
			<td>
				$!Q60
			</td>
		</tr>
	#end
	#set ($Q61 = $item.getStringProperty("Q61"))
	#if ( "-4" != $Q61 )
		<tr>
			<th width="400px" style="padding-left:20px;">61.  Am afraid of many things</th>
			<td>
				$!Q61
			</td>
		</tr>
	#end
	#set ($Q62 = $item.getStringProperty("Q62"))
	#if ( "-4" != $Q62 )
		<tr>
			<th width="400px" style="padding-left:20px;">62.  Avoid contact with others</th>
			<td>
				$!Q62
			</td>
		</tr>
	#end
	#set ($Q63 = $item.getStringProperty("Q63"))
	#if ( "-4" != $Q63 )
		<tr>
			<th width="400px" style="padding-left:20px;">63.  Love to daydream</th>
			<td>
				$!Q63
			</td>
		</tr>
	#end
	#set ($Q64 = $item.getStringProperty("Q64"))
	#if ( "-4" != $Q64 )
		<tr>
			<th width="400px" style="padding-left:20px;">64.  Trust what people say</th>
			<td>
				$!Q64
			</td>
		</tr>
	#end
	#set ($Q65 = $item.getStringProperty("Q65"))
	#if ( "-4" != $Q65 )
		<tr>
			<th width="400px" style="padding-left:20px;">65.  Handle tasks smoothly</th>
			<td>
				$!Q65
			</td>
		</tr>
	#end
	#set ($Q66 = $item.getStringProperty("Q66"))
	#if ( "-4" != $Q66 )
		<tr>
			<th width="400px" style="padding-left:20px;">66.  Lose my temper</th>
			<td>
				$!Q66
			</td>
		</tr>
	#end
	#set ($Q67 = $item.getStringProperty("Q67"))
	#if ( "-4" != $Q67 )
		<tr>
			<th width="400px" style="padding-left:20px;">67.  Prefer to be alone</th>
			<td>
				$!Q67
			</td>
		</tr>
	#end
	#set ($Q68 = $item.getStringProperty("Q68"))
	#if ( "-4" != $Q68 )
		<tr>
			<th width="400px" style="padding-left:20px;">68.  Do not like poetry</th>
			<td>
				$!Q68
			</td>
		</tr>
	#end
	#set ($Q69 = $item.getStringProperty("Q69"))
	#if ( "-4" != $Q69 )
		<tr>
			<th width="400px" style="padding-left:20px;">69.  Take advantage of others</th>
			<td>
				$!Q69
			</td>
		</tr>
	#end
	#set ($Q70 = $item.getStringProperty("Q70"))
	#if ( "-4" != $Q70 )
		<tr>
			<th width="400px" style="padding-left:20px;">70.  Leave a mess in my room</th>
			<td>
				$!Q70
			</td>
		</tr>
	#end
	#set ($Q71 = $item.getStringProperty("Q71"))
	#if ( "-4" != $Q71 )
		<tr>
			<th width="400px" style="padding-left:20px;">71.  Am often down in the dumps</th>
			<td>
				$!Q71
			</td>
		</tr>
	#end
	#set ($Q72 = $item.getStringProperty("Q72"))
	#if ( "-4" != $Q72 )
		<tr>
			<th width="400px" style="padding-left:20px;">72.  Take control of things</th>
			<td>
				$!Q72
			</td>
		</tr>
	#end
	#set ($Q73 = $item.getStringProperty("Q73"))
	#if ( "-4" != $Q73 )
		<tr>
			<th width="400px" style="padding-left:20px;">73.  Rarely notice my emotional reactions</th>
			<td>
				$!Q73
			</td>
		</tr>
	#end
	#set ($Q74 = $item.getStringProperty("Q74"))
	#if ( "-4" != $Q74 )
		<tr>
			<th width="400px" style="padding-left:20px;">74.  Am indifferent to the feelings of others</th>
			<td>
				$!Q74
			</td>
		</tr>
	#end
	#set ($Q75 = $item.getStringProperty("Q75"))
	#if ( "-4" != $Q75 )
		<tr>
			<th width="400px" style="padding-left:20px;">75.  Break rules</th>
			<td>
				$!Q75
			</td>
		</tr>
	#end
	#set ($Q76 = $item.getStringProperty("Q76"))
	#if ( "-4" != $Q76 )
		<tr>
			<th width="400px" style="padding-left:20px;">76.  Only feel comfortable with friends</th>
			<td>
				$!Q76
			</td>
		</tr>
	#end
	#set ($Q77 = $item.getStringProperty("Q77"))
	#if ( "-4" != $Q77 )
		<tr>
			<th width="400px" style="padding-left:20px;">77.  Do a lot in my spare time</th>
			<td>
				$!Q77
			</td>
		</tr>
	#end
	#set ($Q78 = $item.getStringProperty("Q78"))
	#if ( "-4" != $Q78 )
		<tr>
			<th width="400px" style="padding-left:20px;">78.  Dislike change</th>
			<td>
				$!Q78
			</td>
		</tr>
	#end
	#set ($Q79 = $item.getStringProperty("Q79"))
	#if ( "-4" != $Q79 )
		<tr>
			<th width="400px" style="padding-left:20px;">79.  Insult people</th>
			<td>
				$!Q79
			</td>
		</tr>
	#end
	#set ($Q80 = $item.getStringProperty("Q80"))
	#if ( "-4" != $Q80 )
		<tr>
			<th width="400px" style="padding-left:20px;">80.  Do just enough work to get by</th>
			<td>
				$!Q80
			</td>
		</tr>
	#end
	#set ($Q81 = $item.getStringProperty("Q81"))
	#if ( "-4" != $Q81 )
		<tr>
			<th width="400px" style="padding-left:20px;">81.  Easily resist temptations</th>
			<td>
				$!Q81
			</td>
		</tr>
	#end
	#set ($Q82 = $item.getStringProperty("Q82"))
	#if ( "-4" != $Q82 )
		<tr>
			<th width="400px" style="padding-left:20px;">82.  Enjoy being reckless</th>
			<td>
				$!Q82
			</td>
		</tr>
	#end
	#set ($Q83 = $item.getStringProperty("Q83"))
	#if ( "-4" != $Q83 )
		<tr>
			<th width="400px" style="padding-left:20px;">83.  Have difficulty understanding abstract ideas</th>
			<td>
				$!Q83
			</td>
		</tr>
	#end
	#set ($Q84 = $item.getStringProperty("Q84"))
	#if ( "-4" != $Q84 )
		<tr>
			<th width="400px" style="padding-left:20px;">84.  Have a high opinion of myself</th>
			<td>
				$!Q84
			</td>
		</tr>
	#end
	#set ($Q85 = $item.getStringProperty("Q85"))
	#if ( "-4" != $Q85 )
		<tr>
			<th width="400px" style="padding-left:20px;">85.  Waste my time</th>
			<td>
				$!Q85
			</td>
		</tr>
	#end
	#set ($Q86 = $item.getStringProperty("Q86"))
	#if ( "-4" != $Q86 )
		<tr>
			<th width="400px" style="padding-left:20px;">86. Feel that I'm unable to deal with things</th>
			<td>
				$!Q86
			</td>
		</tr>
	#end
	#set ($Q87 = $item.getStringProperty("Q87"))
	#if ( "-4" != $Q87 )
		<tr>
			<th width="400px" style="padding-left:20px;">87. Love life</th>
			<td>
				$!Q87
			</td>
		</tr>
	#end
	#set ($Q88 = $item.getStringProperty("Q88"))
	#if ( "-4" != $Q88 )
		<tr>
			<th width="400px" style="padding-left:20px;">88. Tend to vote for conservative political candidates</th>
			<td>
				$!Q88
			</td>
		</tr>
	#end
	#set ($Q89 = $item.getStringProperty("Q89"))
	#if ( "-4" != $Q89 )
		<tr>
			<th width="400px" style="padding-left:20px;">89. Am not interested in other people's problems</th>
			<td>
				$!Q89
			</td>
		</tr>
	#end
	#set ($Q90 = $item.getStringProperty("Q90"))
	#if ( "-4" != $Q90 )
		<tr>
			<th width="400px" style="padding-left:20px;">90. Rush into things</th>
			<td>
				$!Q90
			</td>
		</tr>
	#end
	#set ($Q91 = $item.getStringProperty("Q91"))
	#if ( "-4" != $Q91 )
		<tr>
			<th width="400px" style="padding-left:20px;">91. Get stressed out easily</th>
			<td>
				$!Q91
			</td>
		</tr>
	#end
	#set ($Q92 = $item.getStringProperty("Q92"))
	#if ( "-4" != $Q92 )
		<tr>
			<th width="400px" style="padding-left:20px;">92. Keep others at a distance</th>
			<td>
				$!Q92
			</td>
		</tr>
	#end
	#set ($Q93 = $item.getStringProperty("Q93"))
	#if ( "-4" != $Q93 )
		<tr>
			<th width="400px" style="padding-left:20px;">93. Like to get lost in thought</th>
			<td>
				$!Q93
			</td>
		</tr>
	#end
	#set ($Q94 = $item.getStringProperty("Q94"))
	#if ( "-4" != $Q94 )
		<tr>
			<th width="400px" style="padding-left:20px;">94. Distrust people</th>
			<td>
				$!Q94
			</td>
		</tr>
	#end
	#set ($Q95 = $item.getStringProperty("Q95"))
	#if ( "-4" != $Q95 )
		<tr>
			<th width="400px" style="padding-left:20px;">95.  Know how to get things done</th>
			<td>
				$!Q95
			</td>
		</tr>
	#end
	#set ($Q96 = $item.getStringProperty("Q96"))
	#if ( "-4" != $Q96 )
		<tr>
			<th width="400px" style="padding-left:20px;">96.  Am not easily annoyed</th>
			<td>
				$!Q96
			</td>
		</tr>
	#end
	#set ($Q97 = $item.getStringProperty("Q97"))
	#if ( "-4" != $Q97 )
		<tr>
			<th width="400px" style="padding-left:20px;">97. Avoid crowds</th>
			<td>
				$!Q97
			</td>
		</tr>
	#end
	#set ($Q98 = $item.getStringProperty("Q98"))
	#if ( "-4" != $Q98 )
		<tr>
			<th width="400px" style="padding-left:20px;">98. Do not enjoy going to art museums</th>
			<td>
				$!Q98
			</td>
		</tr>
	#end
	#set ($Q99 = $item.getStringProperty("Q99"))
	#if ( "-4" != $Q99 )
		<tr>
			<th width="400px" style="padding-left:20px;">99. Obstruct others' plans</th>
			<td>
				$!Q99
			</td>
		</tr>
	#end
	#set ($Q100 = $item.getStringProperty("Q100"))
	#if ( "-4" != $Q100 )
		<tr>
			<th width="400px" style="padding-left:20px;">100. Leave belongings around</th>
			<td>
				$!Q100
			</td>
		</tr>
	#end
	#set ($Q101 = $item.getStringProperty("Q101"))
	#if ( "-4" != $Q101 )
		<tr>
			<th width="400px" style="padding-left:20px;">101. Feel comfortable with myself</th>
			<td>
				$!Q101
			</td>
		</tr>
	#end
	#set ($Q102 = $item.getStringProperty("Q102"))
	#if ( "-4" != $Q102 )
		<tr>
			<th width="400px" style="padding-left:20px;">102. Wait for others to lead the way</th>
			<td>
				$!Q102
			</td>
		</tr>
	#end
	#set ($Q103 = $item.getStringProperty("Q103"))
	#if ( "-4" != $Q103 )
		<tr>
			<th width="400px" style="padding-left:20px;">103. Don't understand people who get emotional</th>
			<td>
				$!Q103
			</td>
		</tr>
	#end
	#set ($Q104 = $item.getStringProperty("Q104"))
	#if ( "-4" != $Q104 )
		<tr>
			<th width="400px" style="padding-left:20px;">104. Take no time for others</th>
			<td>
				$!Q104
			</td>
		</tr>
	#end
	#set ($Q105 = $item.getStringProperty("Q105"))
	#if ( "-4" != $Q105 )
		<tr>
			<th width="400px" style="padding-left:20px;">105. Break my promises</th>
			<td>
				$!Q105
			</td>
		</tr>
	#end
	#set ($Q106 = $item.getStringProperty("Q106"))
	#if ( "-4" != $Q106 )
		<tr>
			<th width="400px" style="padding-left:20px;">106. Am not bothered by difficult social situations</th>
			<td>
				$!Q106
			</td>
		</tr>
	#end
	#set ($Q107 = $item.getStringProperty("Q107"))
	#if ( "-4" != $Q107 )
		<tr>
			<th width="400px" style="padding-left:20px;">107. Like to take it easy</th>
			<td>
				$!Q107
			</td>
		</tr>
	#end
	#set ($Q108 = $item.getStringProperty("Q108"))
	#if ( "-4" != $Q108 )
		<tr>
			<th width="400px" style="padding-left:20px;">108. Am attached to conventional ways</th>
			<td>
				$!Q108
			</td>
		</tr>
	#end
	#set ($Q109 = $item.getStringProperty("Q109"))
	#if ( "-4" != $Q109 )
		<tr>
			<th width="400px" style="padding-left:20px;">109. Get back at others</th>
			<td>
				$!Q109
			</td>
		</tr>
	#end
	#set ($Q110 = $item.getStringProperty("Q110"))
	#if ( "-4" != $Q110 )
		<tr>
			<th width="400px" style="padding-left:20px;">110. Put little time and effort into my work</th>
			<td>
				$!Q110
			</td>
		</tr>
	#end
	#set ($Q111 = $item.getStringProperty("Q111"))
	#if ( "-4" != $Q111 )
		<tr>
			<th width="400px" style="padding-left:20px;">111. Am able to control my cravings</th>
			<td>
				$!Q111
			</td>
		</tr>
	#end
	#set ($Q112 = $item.getStringProperty("Q112"))
	#if ( "-4" != $Q112 )
		<tr>
			<th width="400px" style="padding-left:20px;">112. Act wild and crazy</th>
			<td>
				$!Q112
			</td>
		</tr>
	#end
	#set ($Q113 = $item.getStringProperty("Q113"))
	#if ( "-4" != $Q113 )
		<tr>
			<th width="400px" style="padding-left:20px;">113. Am not interested in theoretical discussions</th>
			<td>
				$!Q113
			</td>
		</tr>
	#end
	#set ($Q114 = $item.getStringProperty("Q114"))
	#if ( "-4" != $Q114 )
		<tr>
			<th width="400px" style="padding-left:20px;">114. Boast about my virtues</th>
			<td>
				$!Q114
			</td>
		</tr>
	#end
	#set ($Q115 = $item.getStringProperty("Q115"))
	#if ( "-4" != $Q115 )
		<tr>
			<th width="400px" style="padding-left:20px;">115. Have difficulty starting tasks</th>
			<td>
				$!Q115
			</td>
		</tr>
	#end
	#set ($Q116 = $item.getStringProperty("Q116"))
	#if ( "-4" != $Q116 )
		<tr>
			<th width="400px" style="padding-left:20px;">116. Remain calm under pressure</th>
			<td>
				$!Q116
			</td>
		</tr>
	#end
	#set ($Q117 = $item.getStringProperty("Q117"))
	#if ( "-4" != $Q117 )
		<tr>
			<th width="400px" style="padding-left:20px;">117. Look at the bright side of life</th>
			<td>
				$!Q117
			</td>
		</tr>
	#end
	#set ($Q118 = $item.getStringProperty("Q118"))
	#if ( "-4" != $Q118 )
		<tr>
			<th width="400px" style="padding-left:20px;">118. Believe that we should be tough on crime</th>
			<td>
				$!Q118
			</td>
		</tr>
	#end
	#set ($Q119 = $item.getStringProperty("Q119"))
	#if ( "-4" != $Q119 )
		<tr>
			<th width="400px" style="padding-left:20px;">119. Try not to think about the needy</th>
			<td>
				$!Q119
			</td>
		</tr>
	#end
	#set ($Q120 = $item.getStringProperty("Q120"))
	#if ( "-4" != $Q120 )
		<tr>
			<th width="400px" style="padding-left:20px;">120. Act without thinking</th>
			<td>
				$!Q120
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
