<!-- BEGIN XDATScreen_report_condr_mets_metsRadEncCollection.vm -->
<script type="text/javascript">
    if (console.log) console.log('BEGIN XDATScreen_report_condr_mets_metsRadEncCollection.vm');
</script>

$page.setTitle("Metastatic Radiosurgical Encounter Collection Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
    #set ($popup = $turbineUtils.GetPassedParameter("popup", $data))
    #set ($popup = "false")
#end

<script type="text/javascript">

    if (typeof XNAT.data == 'undefined') XNAT.data={};
    if (typeof XNAT.data.context == 'undefined') XNAT.data.context={};
    if (typeof CONDR == 'undefined') CONDR={};
    if (typeof CONDR.encounters == 'undefined') CONDR.encounters={};
    //CONDR.encounters.date = getParameterByName('encDate');
    CONDR.encounters.collDate = '$!item.getStringProperty("condr_mets:metsRadEncCollection/encDate")';

    XNAT.data.context.exptLabel = CONDR.encounters.collLabel = '$!item.getStringProperty("condr_mets:metsRadEncCollection/label")';
    XNAT.data.context.exptID = CONDR.encounters.collID = '$!item.getStringProperty("condr_mets:metsRadEncCollection/ID")';
##    //XNAT.data.context.subjectID = CONDR.encounters.subjID = '$!item.getStringProperty("condr_mets:metsRadEncCollection/subject_ID")';
##    //CONDR.lesionTracker.subjID = XNAT.data.context.subjectID = '$!subject.getStringProperty("subject_ID")';
##    //XNAT.data.context.subjectLabel = CONDR.encounters.subjLabel = '$!subject.getStringProperty("label")';
##    //XNAT.data.context.projectLabel = '$!item.getStringProperty("condr_mets:lesionCollection/project")';

</script>

<table width="100%">
    <tr>
        <td>
            #parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
        </td>
        <td valign="top" align="right">
            #elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
        </td>
    </tr>
##    <tr>
##        <td>
##            <table width="100%">
##                <tr>
##                    <td align="left" valign="middle">
##                        <div class="edit_header1">Metastatic Radiosurgical Encounter Collection Details</div>
##                    </td>
##                </tr>
##            </table>
##        </td>
##    </tr>
##    <tr>
##        <td>
##            <table width="100%">
##                <tr>
##                    <td valign="top">
##                        <table>
##                            <tr>
##                                <td>Collection Type</td>
##                                <td>$!item.getStringProperty("condr_mets:metsRadEncCollection/collectionType")</td>
##                            </tr>
##                            <tr>
##                                <td>Subject ID</td>
##                                <td>$!item.getStringProperty("condr_mets:metsRadEncCollection/subject_ID")</td>
##                            </tr>
##                            <tr>
##                                <td>ID</td>
##                                <td>$!item.getStringProperty("condr_mets:metsRadEncCollection/ID")</td>
##                            </tr>
##                            <tr>
##                                <td>Project</td>
##                                <td>$!item.getStringProperty("condr_mets:metsRadEncCollection/project")</td>
##                            </tr>
##                            <tr>
##                                <td>Label</td>
##                                <td>$!item.getStringProperty("condr_mets:metsRadEncCollection/label")</td>
##                            </tr>
##                        </table>
##                    </td>
##                    <td valign="top" align="right">
##                        #elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
##                    </td>
##                </tr>
##            </table>
##        </td>
##    </tr>
</table>

<br>





















<div id="CONDR_encounters" class="collection_wrapper">

    <!-- MODAL TEMPLATE START -->
    <div id="rad_enc_modal" class="html_template" style="position:fixed;left:-9999px;">
        <!-- template for lesion record modal -->
        <form class="edit_rad_enc record">
            <fieldset data-count="{{COUNT}}" data-node="{{NODE}}"><div class="pad">
                <!-- hacky data store -->
                <input type="hidden" name="subject_label" class="subject_label" data-subject-label="{{SUBJECT_LABEL}}">
                <input type="hidden" name="subject_id" class="subject_id" data-subject-id="{{SUBJECT_ID}}">
                <input type="hidden" name="lesion_id" class="lesion_id" data-lesion-id="{{LESION_ID}}">
                <input type="hidden" name="collection_id" class="collection_id" data-collection-id="{{COLLECTION_ID}}">

                <h4><b>Lesion </b><a class="edit btn" href="#"></a></h4>
                <!-- sorry for the tables -- it's the easiest way to auto-size the label width for the widest one -->
                <table class="record">

                    <tr>
                        <th><label>Treatment Volume (cc)</label></th>
                        <td><input type="text" name="treatment_volume" data-default="{{TREATMENT_VOLUME}}" style="width:12em;"></td>
                    </tr>

                    <tr>
                        <th><label>Treatment Dose (gy)</label></th>
                        <td><input type="text" name="treatment_dose" data-default="{{TREATMENT_DOSE}}" style="width:12em;"></td>
                    </tr>
                    <tr>
                        <th><label>Isodose Line</label></th> ##
                        <td><input type="text" name="isodose_line" data-default="{{ISODOSE_LINE}}" style="width:12em;"></td>
                    </tr>
                    <tr>
                        <th><label>Lesion Type</label></th>
                        <td>
                            <select required class="source" name="lesion_type" data-default="{{LESION_TYPE}}">
                                <option value="" disabled="disabled">select</option>
                                <option value="Resection Cavity">Resection Cavity</option>
                                <option value="Solid Tumor">Solid Tumor</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th><label>Number of Fractions</label></th>
                        <td><input type="text" name="number_of_fractions" data-default="{{NUMBER_OF_FRACTIONS}}" style="width:12em;"></td>
                    </tr>
                    <tr class="textarea">
                        <th><label class="valign-top">Notes on Lesion</label></th>
                        <td class="textarea">
                            <textarea style="width:20em;height:4em;" name="rad_enc_data_notes" placeholder="" data-default="{{NOTES}}">{{NOTES}}</textarea>
                            <!--<span class="hidden textarea default" data-from="lesion1-description">Put text for the description in this textarea element.</span>-->
                        </td>
                    </tr>
                </table>
            </div></fieldset>
        </form>
    ##        <form class="files">
    ##            <table>
    ##            </table>
    ##        </form>
    </div>
    <!-- MODAL TEMPLATE END -->

    <div class="container" style="display:none;width:auto;border:none;">
        <div class="pad">

            <h3>Metastatic Radiosurgical Encounter Collection Details</h3>

            <div id="rad_enc_coll_details">
                <p style="font-size:13px;margin:5px 0;"><b>Radiosurgery Platform:</b> $!item.getStringProperty("condr_mets:metsRadEncCollection/platform")</p>
                <p style="font-size:13px;margin:5px 0;"><b>Radiosurgery Date:</b> $!item.getStringProperty("condr_mets:metsRadEncCollection/encDate")</p>
            </div>

##            <br>
##            <button id="edit_rad_enc_coll_notes">Edit Notes</button>
##

            <br>

            <h3>Lesions</h3>

            <p id="lesions_identified" style="font-size:13px;margin:5px 0;">Total number of lesions identified at time of surgery: <b></b></p>

            <p id="lesions_treated" style="font-size:13px;margin:5px 0;">Total number of lesions being treated: <b></b></p>

            <div id="rad_enc_coll" class="collection_records" style="margin:20px 0;">
                <p>(no records)</p>
                <!-- filled in by javascript -->
            </div>

##                    <!-- format for rendered records: -->
##                    <!--
##                    <table id="lesion_records">
##                        <tr>
##                            <th>#</th>
##                            <th>Hemisphere</th>
##                            <th>Location</th>
##                            <th>Date of Diagnosis</th>
##                            <th>Lesion Description</th>
##                        </tr>
##                        <tr class="lesion record">
##                            <td class="lesion" data-count="1">1</td>
##                            <td class="hemisphere" data-val="right">Right</td>
##                            <td class="location" data-val="frontal">Frontal</td>
##                            <td class="date" data-val="2012-01-15" data-yyyy="2012" data-mm="01" data-dd="15">01/15/2012</td>
##                            <td class="description">
##                                <p style="display:inline-block;width:75%;margin:0;float:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
##                                <a class="edit btn" href="#" style="display:inline-block;width:20%;float:right;text-align:right;">edit record</a>
##                            </td>
##                        </tr>
##                    </table>
##                    -->

            <br>

            <button id="add_notes" type="button" style="display:none;min-width:125px;">Add Notes</button>

            <div id="rad_enc_coll_notes" style="display:block;margin:20px 0;border:1px solid #ccc;">
                <h3 style="position:relative;padding:5px 8px;background:#f0f0f0;border-bottom:1px solid #ccc;">Encounter Collection Notes:
                    <a class="edit notes btn nolink" href="#" style="position:absolute;right:8px;font-size:12px;font-weight:normal;text-decoration:underline;">edit notes</a></h3>
                <p style="min-height:5em;margin-top:5px;padding:10px;">$!item.getStringProperty("note")</p>
            </div>


        </div><!-- /.container > .pad -->
    </div><!-- /.container -->
</div><!-- /#CONDR_encounters -->





















<!-- YUI calendar stuff -->
<!--CSS file (default YUI Sam Skin) -->
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
<!-- Dependencies -->
<script type="text/javascript" src="$content.getURI('scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js')"></script>
##<script type="text/javascript" src="/scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<!-- Source file -->
<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar.js')"></script>
##<script type="text/javascript" src="/scripts/yui/build/calendar/calendar.js"></script>

<script type="text/javascript" src="$content.getURI('scripts/jquery.maskedinput.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/ezCalendar.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/lesionTracker/metsRadEncounters.js')"></script>


<script type="text/javascript">

    //////////////////////////////////////////////////
    // GET THE COLLECTION
    //////////////////////////////////////////////////
    CONDR.encounters.collection = function(){
        var collID = CONDR.encounters.collID = '$!item.getStringProperty("condr_mets:metsRadEncCollection/ID")';
        var data = '' +
            // lesion data
            'condr_mets:lesionData/ID,' +
            'condr_mets:lesionData/label,' +
            'condr_mets:lesionData/nodeNum,' +
            'condr_mets:lesionData/hemisphere,' +
            'condr_mets:lesionData/location,' +
            'condr_mets:lesionData/dateOfDiagnosis,' +
            //
            // encounter data
            //
            'condr_mets:metsRadEncData/ID,' +
            'label,' +
            'URI,' +
            'condr_mets:metsRadEncData/nodeNum,' +
            'condr_mets:metsRadEncData/saCollID,' +
            'condr_mets:metsRadEncData/saLinkID,' +
            'condr_mets:metsRadEncData/treated,' +
            'condr_mets:metsRadEncData/treatmentVolume,' +
            'condr_mets:metsRadEncData/treatmentDose,' +
            'condr_mets:metsRadEncData/isodoseLine,' + //
            'condr_mets:metsRadEncData/lesionType,' +
            'condr_mets:metsRadEncData/numberOfFractions,' +
            'condr_mets:metsRadEncData/encNotes' +  // remember comma if un-commenting the following lines:
            //'condr_mets:metsRadEncCollection/ID,' +
            //'condr_mets:metsRadEncCollection/encDate,' +
            //'condr_mets:metsRadEncCollection/platform' +
            '';
        var uri = CONDR.encounters.collectionURI = serverRoot +
            '/data' +
            '/experiments' +
            '?condr_mets:metsRadEncData/saCollID=' + collID +
            '&xsiType=condr_mets:metsRadEncData' +
            '&columns=' + data + // plethora of columns above
            '&format=json' +
            '';

        CONDR.encounters.radCollData = new XNAT.app.ResultSetResultArray(uri, [], false);
        return CONDR.encounters.radCollData ;

    };

</script>




#parse("/screens/ReportProjectSpecificFields.vm")

<script type="text/javascript">
    if (console.log) console.log('END XDATScreen_report_condr_mets_metsRadEncCollection.vm');
</script>
<!-- END XDATScreen_report_condr_mets_metsRadEncCollection.vm -->
