$page.setTitle("ABCL Summary Scores")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<TABLE width="100%">
    <TR>
        <TD>
        #parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
        </TD>
    	<TD valign="top" align="right">
    		#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
    	</TD>
    </TR>	
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ABCL Assessment</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	<TR>
		<TD colspan="2">
			<TABLE>
				<TR><TD><TABLE>
				<TR>
					<TH align="left">Description</TH>
					<TH>Raw Score</TH>
					<TH>T-Score</TH>
					<TH>Notation</TH>
				</TR>
				<TR>
					<TD>Anxious/Depressed Raw Score</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/anxdp_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/anxdp_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/anxdp_note")</TD>
				</TR>
				<TR>
					<TD>Withdrawn-Depressed</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/wthdp_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/wthdp_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/wthdp_note")</TD>
				</TR>
				<TR>
					<TD>Somatic Complaints</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/som_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/som_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/som_note")</TD>
				</TR>
				<TR>
					<TD>Thought Problems</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/tho_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/tho_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/tho_note")</TD>
				</TR>
				<TR>
					<TD>Attention Problems</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/att_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/att_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/att_note")</TD>
				</TR>
				<TR>
					<TD>Aggressive Behavior</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/agg_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/agg_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/agg_note")</TD>
				</TR>
				<TR>
					<TD>Rule-Breaking Behaviors</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/rule_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/rule_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/rule_note")</TD>
				</TR>
				<TR>
					<TD>Intrusive Thoughts</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/int_raw")</TD>
					<TD>$!item.getIntegerProperty("bcl:abcl1-03Ed121Data/int_t")</TD>
					<TD>$!item.getStringProperty("bcl:abcl1-03Ed121Data/int_note")</TD>
				</TR>							
				</TABLE></TD></TR>
			</TABLE>
		</TD>

	</TR>

</TABLE>
