## DIAN Core Visit Information Data Edit Page
## Created: 01/11/2013
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()

$page.setTitle("Edit Core Visit Information")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

<style type="text/css">
span#noVisitMsg{
   color: black;
   background: rgb(255, 153, 204);
   border: 1px solid black;
   font-size: 14px;
   padding: 1px 1px 1px 1px;
}
#date_container{
   display:none;
}
</style>

#if ($data.message)
   <font color="red" size="3">$data.message</font>
#end
   <form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
   <input type="hidden" name="project" value="$!{project}" >
#if($vr)
   <font color="red">Invalid parameters:<br/>$vr.toHTML()</font>
   <hr>
#end

<table width="100%">
   <tr><td>
   <table width="100%">
      <tr><td align="left" valign="middle">
      <div class="edit_title">Core Visit Information Details</div>
      </td></tr>
   </table>
   </td></tr>
   <tr><td>
   <table width="100%">
      <tr><td valign="top">
      <table>
         <tr><td colspan='2'>
            #parse("/screens/xnat_edit_subjectAssessorData.vm")
         </td></tr>
         <tr><td colspan="2">
            #parse("/screens/EditProjectSpecificFields.vm")
         </td></tr>
         <tr><td>#xdatDateBox("dian:coreVisitInfoData/date" $item $vr $years)</td></tr>
         <tr><td>Assessment Type:</td><td>
            <select id="dian:coreVisitInfoData/assess_type" name="dian:coreVisitInfoData/assess_type"> 
               #set($ASSESS_TYPE = $!item.getStringProperty("dian:coreVisitInfoData/assess_type"))
               #if ($ASSESS_TYPE == 'all')        <option SELECTED value="all" >All</option>                       #else <option value="all" >All</option>                        #end
               #if ($ASSESS_TYPE == 'psych')      <option SELECTED value="psych" >Psychometric Assessment</option> #else <option value="psych" >Psychometric Assessment</option>  #end
               #if ($ASSESS_TYPE == 'imaging')    <option SELECTED value="imaging" >Imaging</option>               #else <option value="imaging" >Imaging</option>                #end
               #if ($ASSESS_TYPE == 'genetics')   <option SELECTED value="genetics" >Genetics</option>             #else <option value="genetics" >Genetics</option>              #end
               #if ($ASSESS_TYPE == 'biomarkers') <option SELECTED value="biomarkers" >Biomarkers</option>         #else <option value="biomarkers" >Biomarkers</option>          #end
               #if ($ASSESS_TYPE == 'clinical')   <option SELECTED value="clinical" >Clinical Assessment</option>  #else <option value="clinical" >Clinical Assessment</option>   #end
            </select>
         </td></tr>
         <tr><td>Visit id:</td><td>
         <input type="text" size="60" id="dian:coreVisitInfoData/visit_id" name="dian:coreVisitInfoData/visit_id" value='$!item.getStringProperty("dian:coreVisitInfoData/visit_id")'>
         <span style="visibility:collapse" id="noVisitMsg">Please enter a valid visit id.</span>
         </td></tr>
         <tr><td>New label:</td><td><input size="60" type="text" disabled="true" id="label_view" name="label_view" value='$!item.getStringProperty("dian:coreVisitInfoData/label")'></td></tr>
         <tr><td>Notes:</td><td><textarea id="dian:coreVisitInfoData/note" name="dian:coreVisitInfoData/note" cols="66" rows="10">$!item.getStringProperty("dian:coreVisitInfoData/note")</textarea></td></tr>
         </td></tr>
      </table>
      </td></tr>
   </table>
   </td></tr>
   #xdatEditProps($item $edit_screen)
   <tr><td COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></td></tr>
   </td></tr>
</table></form>

<script type="text/javascript">
// Save Elements so we don't have to keep looking them up.
var label      = document.getElementById("dian:coreVisitInfoData/label");
var label_view = document.getElementById("label_view");
var visit_id   = document.getElementById("dian:coreVisitInfoData/visit_id");
var err        = document.getElementById("noVisitMsg");
var d          = new Date();

// Update the experiment label whenever the user changes the visit id.
visit_id.onchange = function updateLabel(){

   // Remove spaces from the visit_id, if "" return false
   if (visit_id.value === ""){ return false; }
   visit_id.value = visit_id.value.replace(/\s/g,'');
   
   // Remove error message, if its there.
   err.style.visibility = "collapse";
   
   // Update both label input boxes (visible and hidden)
   label.value = '$!part.getProperty("xnat:subjectData/label")'+'_'+visit_id.value+'_corevisitinfo_'+d.getMonth()+d.getDate()+d.getHours()+d.getMinutes()+d.getSeconds();
   label_view.value = label.value;
   return false;
}

function validateForm(){
   // Make sure a visit id has been entered.
   if (visit_id.value === ""){
      visit_id.focus();
      err.style.visibility = "visible";
      return false;
   }
   validateSubjectAssessorForm();
   return false;
}

## Only do this if this is our first edit
#if(!$om.getId())
// Set the hidden date field to the current date
document.getElementsByName("dian:coreVisitInfoData/date.month")[0].value = d.getMonth();
document.getElementsByName("dian:coreVisitInfoData/date.date")[0].value = d.getDate();
document.getElementsByName("dian:coreVisitInfoData/date.year")[0].value = d.getFullYear();
#end
</script>
