$page.setTitle("REMOTECS")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	<tr>
		<th colspan="2">AD8</th>
	</tr>	#set ($AD8MEM = $item.getStringProperty("AD8MEM"))
	#if ( "-4" != $AD8MEM )
		<tr>
			<th width="400px" style="padding-left:20px;">Has the P developed daily (consistent) problems with memory and thinking?</th>
			<td>
				$AD8MEM 
				#if ($AD8MEM == "1")
					- Yes
				#elseif ($AD8MEM == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8JUD = $item.getStringProperty("AD8JUD"))
	#if ( "-4" != $AD8JUD )
		<tr>
			<th width="400px" style="padding-left:20px;">Is the P having problems with judgment (decision making, financial decisions)?</th>
			<td>
				$AD8JUD 
				#if ($AD8JUD == "1")
					- Yes
				#elseif ($AD8JUD == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8HOB = $item.getStringProperty("AD8HOB"))
	#if ( "-4" != $AD8HOB )
		<tr>
			<th width="400px" style="padding-left:20px;">Does the P have less interest in hobbies/activities?</th>
			<td>
				$AD8HOB 
				#if ($AD8HOB == "1")
					- Yes
				#elseif ($AD8HOB == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8REP = $item.getStringProperty("AD8REP"))
	#if ( "-4" != $AD8REP )
		<tr>
			<th width="400px" style="padding-left:20px;">Does the P repeat things more?</th>
			<td>
				$AD8REP 
				#if ($AD8REP == "1")
					- Yes
				#elseif ($AD8REP == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8TOOL = $item.getStringProperty("AD8TOOL"))
	#if ( "-4" != $AD8TOOL )
		<tr>
			<th width="400px" style="padding-left:20px;">Is the P having trouble learning how to use a tool, appliance, or gadget (e.g. VCR, computer, microwave, remote control)?</th>
			<td>
				$AD8TOOL 
				#if ($AD8TOOL == "1")
					- Yes
				#elseif ($AD8TOOL == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8FOR = $item.getStringProperty("AD8FOR"))
	#if ( "-4" != $AD8FOR )
		<tr>
			<th width="400px" style="padding-left:20px;">Is the P forgetting what month or year it is?</th>
			<td>
				$AD8FOR 
				#if ($AD8FOR == "1")
					- Yes
				#elseif ($AD8FOR == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8FIN = $item.getStringProperty("AD8FIN"))
	#if ( "-4" != $AD8FIN )
		<tr>
			<th width="400px" style="padding-left:20px;">Is the P having trouble handling complicated financial affairs (e.g. balancing the checkbook, income taxes, paying bills)?</th>
			<td>
				$AD8FIN 
				#if ($AD8FIN == "1")
					- Yes
				#elseif ($AD8FIN == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($AD8APPT = $item.getStringProperty("AD8APPT"))
	#if ( "-4" != $AD8APPT )
		<tr>
			<th width="400px" style="padding-left:20px;">Is the P having trouble remembering appointments?</th>
			<td>
				$AD8APPT 
				#if ($AD8APPT == "1")
					- Yes
				#elseif ($AD8APPT == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($FAMHIST = $item.getStringProperty("FAMHIST"))
	#if ( "-4" != $FAMHIST )
		<tr>
			<th width="400px">If the Collateral Source says 'Yes' to two or more of the above items, an in-person clinical assessment should be done to assess for cognitive decline.<p>Collateral source reports change in participant's (P) family history</th>
			<td>
				$FAMHIST 
				#if ($FAMHIST == "1")
					- Yes
				#elseif ($FAMHIST == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MEDCOND = $item.getStringProperty("MEDCOND"))
	#if ( "-4" != $MEDCOND )
		<tr>
			<th width="400px">Collateral source reports participant has a new medical or psychological condition that could alter cognition since the last annual follow-up.</th>
			<td>
				$MEDCOND 
				#if ($MEDCOND == "1")
					- Yes
				#elseif ($MEDCOND == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MEDSPEC = $item.getStringProperty("MEDSPEC"))
	#if ( "-4" != $MEDSPEC )
		<tr>
			<th width="400px">If yes, state condition:</th>
			<td>
				$!MEDSPEC
			</td>
		</tr>
	#end
	#set ($MEMORY = $item.getStringProperty("MEMORY"))
	#if ( "-4" != $MEMORY )
		<tr>
			<th width="400px">Collateral source reports a change in memory, thinking, or language since last annual follow-up.</th>
			<td>
				$MEMORY 
				#if ($MEMORY == "1")
					- Yes
				#elseif ($MEMORY == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($ADL = $item.getStringProperty("ADL"))
	#if ( "-4" != $ADL )
		<tr>
			<th width="400px">If yes, do these activities interfere with activities of daily living?</th>
			<td>
				$ADL 
				#if ($ADL == "1")
					- Yes
				#elseif ($ADL == "0")
					- No
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
