$page.setTitle("LOCALCSF")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($LPDATE = $item.getStringProperty("LPDATE"))
		<tr>
			<th width="400px">Date of LP</th>
			<td>
				$!LPDATE
			</td>
		</tr>
	#set ($LPTIME = $item.getStringProperty("LPTIME"))
	#if ( "-4" != $LPTIME )
		<tr>
			<th width="400px">Time to the local lab</th>
			<td>
				$!LPTIME
			</td>
		</tr>
	#end
	#set ($WHITECT = $item.getStringProperty("WHITECT"))
	#if ( "-4" != $WHITECT )
		<tr>
			<th width="400px">White Blood Cell Count</th>
			<td>
				$!WHITECT
			</td>
		</tr>
	#end
	#set ($WHITEUNIT = $item.getStringProperty("WHITEUNIT"))
	#if ( "-4" != $WHITEUNIT )
		<tr>
			<th width="400px">White Blood Results Units</th>
			<td>
				$!WHITEUNIT
			</td>
		</tr>
	#end
	#set ($REDCT = $item.getStringProperty("REDCT"))
	#if ( "-4" != $REDCT )
		<tr>
			<th width="400px">Red Blood Cell Count</th>
			<td>
				$!REDCT
			</td>
		</tr>
	#end
	#set ($REDUNIT = $item.getStringProperty("REDUNIT"))
	#if ( "-4" != $REDUNIT )
		<tr>
			<th width="400px">Red Blood Results Units</th>
			<td>
				$!REDUNIT
			</td>
		</tr>
	#end
	#set ($PROTEIN = $item.getStringProperty("PROTEIN"))
	#if ( "-4" != $PROTEIN )
		<tr>
			<th width="400px">Protein Results</th>
			<td>
				$!PROTEIN
			</td>
		</tr>
	#end
	#set ($PROTUNIT = $item.getStringProperty("PROTUNIT"))
	#if ( "-4" != $PROTUNIT )
		<tr>
			<th width="400px">Unit</th>
			<td>
				$!PROTUNIT
			</td>
		</tr>
	#end
	#set ($GLUCOSE = $item.getStringProperty("GLUCOSE"))
	#if ( "-4" != $GLUCOSE )
		<tr>
			<th width="400px">Glucose</th>
			<td>
				$!GLUCOSE
			</td>
		</tr>
	#end
	#set ($GLUCUNIT = $item.getStringProperty("GLUCUNIT"))
	#if ( "-4" != $GLUCUNIT )
		<tr>
			<th width="400px">Unit</th>
			<td>
				$!GLUCUNIT
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
