<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("PETTimeCourse Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>PETTimeCourse Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:petTimeCourseData/ID")</TD></TR>
							<TR><TD>PET Session ID</TD><TD>$!item.getStringProperty("cnda:petTimeCourseData/imageSession_ID")</TD></TR>
							<TR><TD>Date</TD><TD>$!item.getProperty("cnda:petTimeCourseData/date") $!item.getProperty("cnda:petTimeCourseData/time")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	
	<TR>
		<TD>
			<TABLE width="100%">
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">PET Time Course QC</font></TH></TR>
				<TR><TD>Status</TD><TD>$!item.getStringProperty("cnda:petTimeCourseData/validation/status")</TD></TR>
				<TR><TD>Date</TD><TD>$!item.getStringProperty("cnda:petTimeCourseData/validation/date")</TD></TR>
				<TR><TD>Method</TD><TD>$!item.getStringProperty("cnda:petTimeCourseData/validation/method")</TD></TR>
				<TR><TD>Notes</TD><TD>$!item.getStringProperty("cnda:petTimeCourseData/validation/notes")</TD></TR>
			</TABLE>
		</TD>	
	</TR>
	<TR><TD><BR /></TR></TD>

  				#set ($sectionCounter = 0)
	<TR><TD>
	 <b>Binding Potentials:</b>
  					        <br>
  					        <BR>
	  					        <table BORDER=1 STYLE="	border-collapse: collapse;">
		  					          <tr>
		  					             <td> &nbsp; </td>   <td align="center" colspan=3> <b> 30-60 Minutes </b> </td>  
		  					          </tr> 
		  					          <tr>
		  					             <td><b>Region<b></td><td><b>Slope<b></td><td><b>Binding Pot.<b></td><td><b>Correl.<b></td></td>
		  					          </tr>
		  					          #foreach ($region in $sorted_durations.iterator())
		  					          #set ($d30_60Bp = $d30_60.get($region))
		  					              <tr>
		  					                 <td> $!region </td> <td>$!d30_60Bp.getSlopeText()</td><td>$!d30_60Bp.getBpText()</td><td>$!d30_60Bp.getCorrelText()</td>
		  					              </tr>
		  					          #end
	  					        </table>
	</TD></TR>
					<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.jpg")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Time Course</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:none;">
	         <IMG src="$content.getURI("/app/template/IMGFile.vm?file_name=$om.getPlot().getUri()")" border=0> 
		  					  </span>
					   </td>
  				</tr>
  				<!-- end section -->
  				<!-- begin section -->
  				#set ($sectionCounter = 2)
  				<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.jpg")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Logan Graphs</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:none;">
	  					     #set ($loganPlotNewRow = 1)
	  					     #set ($loganPlotNewCol = 0)
	  					     <table>
	       #foreach($loganPlot in $om.getLoganPlots())
             #if ($loganPlotNewRow == 1) <tr> #end
				               <td> <IMG src="$content.getURI("/app/template/IMGFile.vm?file_name=$loganPlot.getUri()")" border=0> </td>
		             #if ($loganPlotNewCol < 1) 
               #set ($loganPlotNewCol = $loganPlotNewCol + 1)
		               #set ($loganPlotNewRow = 0)
		             #else 
				               #set ($loganPlotNewCol = 0)
		               #set ($loganPlotNewRow = 1)
		             #end  
		             #if ($loganPlotNewRow == 1) </tr> #end
		       #end     
	      </table>
  					  </span>
					   </td>
  				</tr>
  				<!-- end section -->
  				<!-- begin section -->
  				#set ($sectionCounter = 3)
  				<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.jpg")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Raw Time Course Data</b></font></a><br>
	  					  <span ID="span$!sectionCounter" style="position:relative; display:none;">
	  					   <BR><table BORDER=1 STYLE="	border-collapse: collapse;">
	  					   	 <tr>
	  					   	  <td>
	  					   	   #if($om)
	  					   	    <table>
	  					   	     <tr>
	  					   	      <td></td>
	  					   	     #foreach($region in $om.getRegions_region())
	  					   	      <td><b>$!region.getName()</b> #if($!region.getHemisphere()!="both")$!region.getHemisphere()#end</td>
	  					   	     #end
	  					   	     </tr>
	  					   	     #foreach($row in $om.getActivityByTime())
	  					   	     <tr> 
	  					   	      #foreach($entry in $row)
	  					   	      <td>$!entry</td>
	  					   	      #end
	  					   	     </tr>
	  					   	     #end
	  					   	    </table>
	  					   	   #else
	  					   	    Unavailable.
	  					   	   #end
	  					   	  </td>
	  					   	 </tr>
	  					   </table>
	  					  </span>
					   </td>
  				</tr>
</TABLE>
