<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("PETTimeCourse Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

<script type="text/javascript">
var slideShown = 2;
var viewMode = "PET";

function showNext() {
  slideShown++;
  slideShown %=4;
  for (var i=0;i<=3;i++)
  {
    if (i==slideShown) {
      setTransverseVisibility("MPRAGE",'block',i);
      setTransverseVisibility("PET",'block',i);
    }else {
      setTransverseVisibility("MPRAGE",'none',i);
      setTransverseVisibility("PET",'none',i);
    }
    
  } 
}

function enableBtns() {
	var orival = document.getElementById('layoutSelector').options[document.getElementById('layoutSelector').selectedIndex].text; 
	if (orival=="Both") {
		document.getElementById('toggleBtn').disabled="disabled";
		document.getElementById('showBothBtn').disabled="disabled";
		setZoomBtnDisplay('disabled');
		setTransverseVisibility('PET','block');
		setTransverseVisibility('MPRAGE','block');
	}else {
		document.getElementById('toggleBtn').disabled="";
		document.getElementById('showBothBtn').disabled="";
		document.getElementById('toggleBtn').value = "PET/MPRAGE";
		if (orival=="Transverse") {
			setTransverseVisibility('PET','block');
			setTransverseVisibility('MPRAGE','block');
		}else {
			setTransverseVisibility('PET','none');
			setTransverseVisibility('MPRAGE','none');
			setZoomBtnDisplay('');
		}
	setOverlayBtn();
	}
}

function setZoomBtnDisplay(display) {
   document.getElementById('zoomPlusBtn').disabled=display;
   document.getElementById('zoomMinusBtn').disabled=display;
}

function getImageBeingDisplayed() {
  return viewMode;
}

function zoomUp() {
  for (var i=0;i<=3;i++)
  {
   var mprageImgId = "T_MPRAGE_" + i + "_IMG" ;	
   var petImgId = "T_PET_" + i + "_IMG" ;	
   var  oldheight = document.getElementById(mprageImgId).height;
   document.getElementById(petImgId).height=oldheight+10;
   document.getElementById(mprageImgId).height=oldheight+10;
 }
}

function zoomDown() {
  for (var i=0;i<=3;i++)
  {
   var mprageImgId = "T_MPRAGE_" + i + "_IMG" ;	
   var petImgId = "T_PET_" + i + "_IMG" ;	
   var  oldheight = document.getElementById(mprageImgId).height;
   document.getElementById(petImgId).height=oldheight-10;
   document.getElementById(mprageImgId).height=oldheight-10;
 }
}


function prepareToToggle() {
	var orival = document.getElementById('layoutSelector').options[document.getElementById('layoutSelector').selectedIndex].text; 
	if (orival=="Both") {
		setTransverseVisibility('PET','block');
		setTransverseVisibility('MPRAGE','block');
	}else {
		setTransverseVisibility('PET',"none");
		setTransverseVisibility('MPRAGE',"none");
	}
	setOverlayBtn();
}

function setOverlayBtn() {
       var currentshow = document.getElementById('showBothBtn').value;
       if (currentshow=="Show Overlay") {
	document.getElementById('showBothBtn').value = "Show Both";
	document.getElementById('toggleBtn').disabled='';
	var val = document.getElementById('toggleBtn').value;
 	toggleImages(val);
       }else {
	document.getElementById('showBothBtn').value = "Show Overlay";
	document.getElementById('toggleBtn').disabled='disabled';
       }
}


function setTransverseVisibility(type,display) {
	setTransverseVisibility(type,display,slideShown);
}


function setTransverseVisibility(type,display,slide) {
	document.getElementById('T_'+type+"_"+slide ).style.display=display;
}


function toggleImages(pastval) {
	var val = "MPRAGE";
	if (document.getElementById('toggleBtn').value=="MPRAGE") {
		val = "PET";
	}
	if (pastval != null) {
	   val = pastval;	
	}
	document.getElementById('toggleBtn').value = val;
	var orival = document.getElementById('layoutSelector').options[document.getElementById('layoutSelector').selectedIndex].text; 
	if (orival=="Transverse") {
	       if (val=="MPRAGE") {
		setTransverseVisibility('PET','');
		setTransverseVisibility('MPRAGE','none');
	       }else {
		setTransverseVisibility('PET','none');
		setTransverseVisibility('MPRAGE','');
	       }
	 }      
}


function toggle(id)
{
	if(document.getElementById(id).style.display=='none' )
	{
	  document.getElementById(id).style.display = 'block';
	}
	else
	{
	  document.getElementById(id).style.display = 'none';
	}
}

function toggleTxt(ele){
	if (ele.innerHTML=="View Full Results") {
		ele.innerHTML="View Summary";
		toggle("short_summary");
		toggle("full_summary");

	}else{
		ele.innerHTML="View Full Results";
		toggle("full_summary");
		toggle("short_summary");

	}
}
</script>

#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>PET Time Course Analysis Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

#set ($isstatic_field="ISSTATIC")
#set ($tracer_field="TRACER")
#set ($tracer=$om.getFieldByName($tracer_field).trim())

#set ($integer=0)
#set ($isstatic=$integer.parseInt($om.getFieldByName($isstatic_field).trim()))

#set ($mov_log_prefix="T1001")
#set ($proc_folder_name="pib_proc")
#set ($fdg_tracer_name="FDG")
#if ($tracer.equalsIgnoreCase($fdg_tracer_name))
#set ($isstatic=1)
#set ($proc_folder_name="fdg_proc")
#set ($mov_log_prefix="$om.getImageSessionData().getLabel()")
#end


#set ($id=".ID")
#set ($field="$om.getImageSessionData().getXSIType()$id")
#set ($fs_id_field="FreeSurfer_ID")
#set ($fs_id=$om.getFieldByName($fs_id_field).trim())
#set ($url = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$om.getImageSessionData().getXSIType()).addPathInfo('search_field',$field).addPathInfo('search_value',$om.getImageSessionData().getId()).addPathInfo('project',$om.getProject())")
	
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
#set ($field="fs:fsData.ID")
#set ($url = "$link.setPage('Fs_fsData_QC_64.vm').addPathInfo('search_element','fs:fsData').addPathInfo('search_field',$field).addPathInfo('search_value',$fs_id).addPathInfo('project',$om.getProject())")

							<TR><TD>Date</TD><TD>$!item.getProperty("pet:fspetTimeCourseData/date") $!item.getProperty("pet:fspetTimeCourseData/time")</TD></TR>
							<TR><TD>Freesurfer</TD>
								<TD>
									<a  href="" onclick="return popupWithProperties('$url','','width=950,height=600,status=yes,resizable=yes,scrollbars=yes')" >View Snapshots</a>
								</TD>
							</TR>
                            <TR><TD>&nbsp;</TD></TR>
                            <TR><TD>
                                            <TR><TH>QC Information</TH></TR>
                                            <TR><TD>Status</TD><TD>$!item.getStringProperty("pet:fspetTimeCourseData/validation/status")</TD></TR>
                    						<TR><TD>Date</TD><TD>$!item.getStringProperty("pet:fspetTimeCourseData/validation/date")</TD></TR>
                    						<TR><TD>Method</TD><TD>$!item.getStringProperty("pet:fspetTimeCourseData/validation/method")</TD></TR>
                    						<TR><TD>Notes</TD><TD>$!item.getStringProperty("pet:fspetTimeCourseData/validation/notes")</TD></TR>
							</TD></TR>
							<TR><TD>&nbsp;</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>

	

 	<TR><TD>
#set ($sectionCounter = 0)
	 <b>Results Summary: (<A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onclick="toggleTxt(this);">View Full Results</a>)</b>
	 #set ($pref_name="PREF_FS")
	 #set ($prefRoi=$om.GetRoi($pref_name))
	 #set ($rac_name="ctx-rostralanteriorcingulate")
	 #set ($racRoi=$om.GetRoi($rac_name))
	 #set ($prec_name="ctx-precuneus")
	 #set ($precRoi=$om.GetRoi($prec_name))
	 #set ($temp_name="TEMP_FS")
	 #set ($tempRoi=$om.GetRoi($temp_name))
	 #set ($gr_name="GR_FS")
	 #set ($grRoi=$om.GetRoi($gr_name))
	 #set ($par_name="ctx-inferiorparietal")
	 #set ($parRoi=$om.GetRoi($par_name))
	 #set ($occ_name="OCC_FS")
	 #set ($occRoi=$om.GetRoi($occ_name))
	 #set ($cau_name="Caudate")
	 #set ($cauRoi=$om.GetRoi($cau_name))
	 #set ($mcbp_name="MCBP")
	 #set ($mcbpRoi=$om.GetRoi($mcbp_name))
	 
  					        <br/>
  					        <BR/>
         <span id="short_summary" style="position:relative; display:block;">

#if ($isstatic == 0)

	  					        <table  class="ruled" cellspacing="0" cellpadding="3" width="500">
		  					          <tr>
		  					             <th>SUMMARY</th><th>BINDING POT.</th><th>CORRELATION</th><th>SUVR</th>
		  					          </tr>
		  					          <tr>
		  					             <td>PREF</td><td>$prefRoi.getBp()</td><td>$prefRoi.getR2Bp()</td><td>$prefRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>PREC</td><td>$precRoi.getBp()</td><td>$precRoi.getR2Bp()</td><td>$precRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>RAC</td><td>$racRoi.getBp()</td><td>$racRoi.getR2Bp()</td><td>$racRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>TEMP</td><td>$tempRoi.getBp()</td><td>$tempRoi.getR2Bp()</td><td>$tempRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>GR</td><td>$grRoi.getBp()</td><td>$grRoi.getR2Bp()</td><td>$grRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>PAR</td><td>$parRoi.getBp()</td><td>$parRoi.getR2Bp()</td><td>$parRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>OCC</td><td>$occRoi.getBp()</td><td>$occRoi.getR2Bp()</td><td>$occRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>CAU</td><td>$cauRoi.getBp()</td><td>$cauRoi.getR2Bp()</td><td>$cauRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>$mcbp_name</td><td>$mcbpRoi.getBp()</td><td>$mcbpRoi.getR2Bp()</td><td>$mcbpRoi.getSuvr()</td></td>
		  					          </tr>
	  					        </table>
#else
	  					        <table class="ruled" cellspacing="0" cellpadding="3" width="500">
		  					          <tr>
		  					             <th>SUMMARY</th><th>SUVR</th>
		  					          </tr>
		  					          <tr>
		  					             <td>PREF</td><td>$prefRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>PREC</td><td>$precRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>RAC</td><td>$racRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>TEMP</td><td>$tempRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>GR</td><td>$grRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>PAR</td><td>$parRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>OCC</td><td>$occRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>CAU</td><td>$cauRoi.getSuvr()</td></td>
		  					          </tr>
		  					          <tr>
		  					             <td>$mcbp_name</td><td>$mcbpRoi.getSuvr()</td></td>
		  					          </tr>
	  					        </table>

#end
</span>

         <span id="full_summary" style="position:relative; display:none;">

#if ($istatic==0)

	<table  class="ruled" cellspacing="0" cellpadding="3" width="500">
		  <tr>
		     <th>SUMMARY</th><th>BINDING POT.</th><th>CORRELATION</th><th>SUVR</th>
		  </tr>
		#foreach( $roi in $om.getRois_roi())
			<tr>
			<td>$roi.getName()</td><td>$roi.getBp()</td><td>$roi.getR2Bp()</td><td>$roi.getSuvr()</td>
			</tr>
		#end
	</table>	 
#else
			<table  class="ruled" cellspacing="0" cellpadding="3" width="500">
				  <tr>
				     <th>SUMMARY</th><th>SUVR</th>
				  </tr>
					#foreach( $roi in $om.getRois_roi())
						  <tr>
						     <td>$roi.getName()</td><td>$roi.getSuvr()</td>
						  </tr>
					#end
			</table>

#end
</span>
	</TD></TR>
				<!-- begin section -->
  					<tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
	  				</tr>				
	<TR><TD>
	 <b>Quality Control Results: </b>
#set ($a_reg_field="ERROR_A_T4_RESOLVE")
#set ($b_reg_field="ERROR_B_T4_RESOLVE")
#set ($c_reg_field="ERROR_C_T4_RESOLVE")
#set ($mov_error_field="ERROR_MOV_LOG")

#if ($isstatic == 0)
#set ($a_reg_val=$integer.parseInt($om.getFieldByName($a_reg_field).trim()))
#set ($b_reg_val=$integer.parseInt($om.getFieldByName($b_reg_field).trim()))
#end

#set ($c_reg_val=$integer.parseInt($om.getFieldByName($c_reg_field).trim()))
#set ($mov_error_val=$integer.parseInt($om.getFieldByName($mov_error_field).trim()))


	  					        <table class="ruled" cellspacing="0" cellpadding="3" width="500">
		  					          <tr>
		  					             <th>Error</th><th>Measure</th>
		  					          </tr>
#if ($isstatic == 0)
		  					          <tr>
		  					             	
		  					             <td>
		  					              <div style="float:left;width:80%;">A image registration</div>
								       <div style="float:right;width:20%;">
								       	<a  href="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/DATA/files/${proc_folder_name}/${om.getImageSessionData().getLabel()}_a_t4_resolve.log")" >
								     		<img border="0" src="$content.getURI("/images/download.gif")" alt="Download log file"/>
								     	</a>
								     	</div>
								     </td>	
									<td><div class="button QC  #if ($a_reg_val > 200 ) bad  #elseif ($a_reg_val < 100)  good #else acceptable #end ">$a_reg_val</div></td>
								 </tr>
		  					          <tr>
		  					             	
		  					             <td>
		  					              <div style="float:left;width:80%;">B image registration</div>
								       <div style="float:right;width:20%;">
								       	<a  href="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/DATA/files/${proc_folder_name}/${om.getImageSessionData().getLabel()}_b_t4_resolve.log")" >
								     		<img border="0" src="$content.getURI("/images/download.gif")" alt="Download log file"/>
								     	</a>
								     	</div>
								     </td>	
									<td><div class="button QC #if ($b_reg_val > 200 ) bad  #elseif ($b_reg_val < 100)  good #else acceptable #end">$b_reg_val</div></td>
								 </tr>
#end
		  					          <tr>
		  					             	
		  					             <td>
		  					              <div style="float:left;width:80%;">C image registration</div>
								       <div style="float:right;width:20%;">
								       	<a  href="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/DATA/files/${proc_folder_name}/${om.getImageSessionData().getLabel()}_c_t4_resolve.log")" >
								     		<img border="0" src="$content.getURI("/images/download.gif")" alt="Download log file"/>
								     	</a>
								     	</div>
								     </td>	
									<td><div class="button QC #if ($c_reg_val > 200 ) bad  #elseif ($c_reg_val < 100)  good #else acceptable #end ">$c_reg_val</div></td>
								 </tr>
		  					          <tr>
		  					             	
		  					             <td>
		  					              <div style="float:left;width:80%;">Movement Error</div>
								       <div style="float:right;width:20%;">
								       	<a  href="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/DATA/files/${proc_folder_name}/${mov_log_prefix}_${tracer}_MR_mov.log")" >
								     		<img border="0" src="$content.getURI("/images/download.gif")" alt="Download log file"/>
								     	</a>
								     	</div>
								     </td>	
									<td><div class="button QC #if ($mov_error_val > 200 ) bad  #elseif ($mov_error_val < 100)  good #else acceptable #end">$mov_error_val</div></td>
								 </tr>
		  					          
		  					 </table>         
	</TD></TR>

  				<!-- end section -->

				<!-- begin section -->
 
 <tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
 <tr>

  		
 #set ($sectionCounter = 1)
 <td  colspan=2><A name="LINK${sectionCounter}" HREF="#LINK${sectionCounter}" onClick=" return blocking($sectionCounter);">
			          <img ID="IMG$sectionCounter" src="$content.getURI("images/plus.gif")" border=0><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b>Quality Control Images</b></font></a>
  					  <div ID="span$!sectionCounter" style="position:relative;display:none">
	  					
<div id="BTN_TABLE" >  
					<input name="nextBtn" id="nextBtn" type="button" style="width:80" value="Next"  onClick="showNext();"/>
					<input name="zoomPlusBtn" id="zoomPlusBtn" type="button" value="+" onClick="zoomUp();" />
					<input name="zoomMinusBtn" id="zoomMinusBtn" type="button" value="-" onClick="zoomDown();" />

</div>
					#foreach ($i in [0..3])
 					#if ($i!=2)
   					#set($displaySlide ='style="display:none"')
    					#else
  					#set($displaySlide ='')
    					#end
 
 					<div id="T_MPRAGE_$i" $displaySlide>       
	  				<table >
					<tr><td>
	         <IMG id="T_MPRAGE_${i}_IMG" height="150" src="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/SNAPSHOTS/files/SNAPSHOTS/${om.getImageSessionData().getLabel()}_m${i}_t.jpg")" border=0> 
					</td></tr>
					</table>
					</div>
  					<div id="T_PET_$i" $displaySlide>       
	  				<table >
 					<tr><td>
	         <IMG id="T_PET_${i}_IMG" height="150" src="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/SNAPSHOTS/files/SNAPSHOTS/${om.getImageSessionData().getLabel()}_p${i}_t.jpg")" border=0> 
					</td></tr>
					</table>
					</div>
					#end
  					<script type="text/javascript">
 					slideShown = 2;
 					viewMode = "PET";
 					</script>
 
	  </div>
					   </td>
  				</tr>
  		


 
 <!-- end section -->

				<!-- begin section -->
#if ($isstatic == 0)

 
 <tr>
  					 <td  colspan=2>
	  					  <BR>
					   </td>
  				</tr>				
  				<tr>
  					 <td  colspan=2><font face="$ui.sansSerifFonts" size="2" style="line-height:18px;">
			          <b> Time Course Plot</b></font><br>
	         <IMG src="$content.getURI("/data/archive/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/SNAPSHOTS/files/SNAPSHOTS/${om.getImageSessionData().getLabel()}_roi_activity_plot.jpg")" border=0> 
					   </td>
  				</tr>
  				<!-- end section -->
#end
  </TABLE>
