$page.setTitle("VISFREQ")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	<tr>
		<th colspan="2">This form is to be completed at each yearly contact (phone or in-person) to determine the participant's in-person visit frequency.</th>
	</tr>	#set ($AGE = $item.getStringProperty("AGE"))
	#if ( "-4" != $AGE )
		<tr>
			<th width="400px" style="padding-left:20px;">Participant's (P) current age</th>
			<td>
				$!AGE
			</td>
		</tr>
	#end
	#set ($PARENTAO = $item.getStringProperty("PARENTAO"))
	#if ( "-4" != $PARENTAO )
		<tr>
			<th width="400px" style="padding-left:20px;">Parent's age at onset</th>
			<td>
				$!PARENTAO
			</td>
		</tr>
	#end
	#set ($MQRSCAN = $item.getStringProperty("MQRSCAN"))
	#if ( "-4" != $MQRSCAN )
		<tr>
			<th width="400px" style="padding-left:20px;">Based on above, please mark the current in-person visit frequency</th>
			<td>
				$MQRSCAN 
				#if ($MQRSCAN == "1")
					- P >10 years younger--follow-up every 5 years
				#elseif ($MQRSCAN == "2")
					- P 10 - >3 years younger--follow-up every 3 years
				#elseif ($MQRSCAN == "3")
					- P 3 - 0 years younger--annual follow-up
				#elseif ($MQRSCAN == "4")
					- P 0 - <3 years older--annual follow-up
				#elseif ($MQRSCAN == "5")
					- P >
				#elseif ($MQRSCAN == "6")
					- If a remote assessment triggers an in-clinic visit and cognitive change is confirmed--annual follow-up
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
