<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("PLASMA Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>PLASMA Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE border=1 TABLE BORDER=1 CELLSPACING=0>
							##<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:plasmaData/subject_ID")</TD></TR>
							##<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:plasmaData/age")</TD></TR>
							##<TR><TD><b>Date</b></TD><TD>$!item.getProperty("dian:plasmaData/date")</TD></TR>
							##<TR><TD>time</TD><TD>$!item.getProperty("dian:plasmaData/time")</TD></TR>
							##<TR><TD>duration</TD><TD>$!item.getProperty("dian:plasmaData/duration")</TD></TR>
							##<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:plasmaData/delay")</TD></TR>
							##<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:plasmaData/delay/ref_expt_id")</TD></TR>
							##<TR><TD>note</TD><TD>$!item.getStringProperty("dian:plasmaData/note")</TD></TR>
							##<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:plasmaData/acquisition_site")</TD></TR>
							##<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:plasmaData/ID")</TD></TR>
							##<TR><TD>project</TD><TD>$!item.getStringProperty("dian:plasmaData/project")</TD></TR>
							##<TR><TD><b>Visit ID</b></TD><TD>$!item.getStringProperty("dian:plasmaData/visit_id")</TD></TR>
							##<TR><TD>label</TD><TD>$!item.getStringProperty("dian:plasmaData/label")</TD></TR>
							##<TR><TD><b>Blood Coll Sess</b></TD><TD>$!item.getStringProperty("dian:plasmaData/bldCollSess")</TD></TR>
							<TR><TD><b>Ab40</b></TD><TD>$!item.getDoubleProperty("dian:plasmaData/Ab40") $!item.getStringProperty("dian:plasmaData/Ab40Units")</TD></TR>
							## <TR><TD><b>Ab40 Units</b></TD><TD>$!item.getStringProperty("dian:plasmaData/Ab40Units")</TD></TR>
							<TR><TD><b>Ab42</b></TD><TD>$!item.getDoubleProperty("dian:plasmaData/Ab42") $!item.getStringProperty("dian:plasmaData/Ab42Units")</TD></TR>
							##<TR><TD><b>Ab42 Units</b></TD><TD>$!item.getStringProperty("dian:plasmaData/Ab42Units")</TD></TR>
							<TR><TD><b>Abx40</b></TD><TD>$!item.getDoubleProperty("dian:plasmaData/Abx40") $!item.getStringProperty("dian:plasmaData/Abx40Units")</TD></TR>
							##<TR><TD><b>Abx40 Units</b></TD><TD>$!item.getStringProperty("dian:plasmaData/Abx40Units")</TD></TR>
							<TR><TD><b>Abx42</b></TD><TD>$!item.getDoubleProperty("dian:plasmaData/Abx42") $!item.getStringProperty("dian:plasmaData/Abx42Units")</TD></TR>
							##<TR><TD><b>Abx42 Units</b></TD><TD>$!item.getStringProperty("dian:plasmaData/Abx42Units")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE><BR>
