/*
 * @author Sunil Kumar (kumar.sunil.p@gmail.com) 
 */

@import "compass/reset";
@import "../../nrg/sass/nrg";
@import "layoutframe";
@import "xyzvlayout";
@import "thumbnail";


@mixin xiv-darkgray-border($size: 1px){
    border: solid $size rgb(50,50,50);
}

@mixin xiv-inner-border{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.xiv-ui-xtkcontroller {
    display: block;
    position: relative;
    width: 95%;
    margin-bottom: 10px;
    margin-top: 5px;
}


.xiv-ui-xtkcontroller-label {
    @include nrg-font;
}


.xiv-ui-xtkcontroller-component {

}




/*
 * Standard styling for the scroll gallery
 *
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-xtkcontroller-scrollgallery {
    top: 25px;
    left: 0px;
    width: 100%;
    height: 90%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


.xiv-ui-xtkcontroller-scrollgallery-scrollarea {
    position: relative;
    width: 166px;
    left: 14px;
}


.xiv-ui-xtkcontroller-scrollgallery-zippyheader {
    position: relative;
    background-color: rgb(70,70,70);
    left: 0px;
    @include nrg-font(1.5em, rgb(0,0,0));
    cursor: pointer;
}


.xiv-ui-xtkcontroller-scrollgallery-slider-widget {
    width: 7;
    background-color: rgb(0,0,0);
    border: none;
}



.xiv-ui-xtkcontroller-scrollgallery-slider-thumb {
    height: 60px;
    background-color: rgb(120,120,120);
    border: none;
}/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-vis-xtkplane-disabledoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: table;
    @include nrg-font(20px, black);
    text-align: center;
    z-index: 100;
    background-color: rgb(120,120,120);
    opacity: 0;
}
.xiv-ui-displayall {
    
}


.xiv-ui-displayall-checkboxholder {
    position: absolute;
    left: 30%;
}

.xiv-ui-sliderbase {
    
}




.xiv-ui-sliderbase-slider {
    position: absolute;
    left: calc(55% - 65px);
    width: calc(55% - 65px);
    top: 2px;
    outline: none;
}



.xiv-ui-sliderbase-slider-track {
    position: absolute;
    height: 1px;
    width: 100%;
    top: calc(50% - 2px);
    background-color: rgba(150,150,150,1);
    z-index: -1;
    outline: 0;
}



.xiv-ui-sliderbase-slider-thumb {
    position: absolute;
    height: 7px;
    width: 7px;
    border-radius: 0px;
    margin-top: -5px;
    background-color: rgba(200,200,200,1);
    border: solid 1px white;
    overflow: hidden;
    outline: 0;
    top: 4px;
    border-radius: 2px;

    box-sizing: content-box;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0);
    transition-property: box-shadow;
    @include nrg-transitionable;
    transition-timing-function: ease-out; 
}

.xiv-ui-sliderbase-slider-thumb:hover,
.xiv-ui-sliderbase-slider-thumb:active {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, .55);
}


.xiv-ui-sliderbase-slider-track-hover {
    box-sizing: content-box;
}


.xiv-ui-sliderbase-valueinput {
    position: absolute;
    top: 0px;
    left: calc(100% - 56px);
    width: 50px;
    @include nrg-font;
    outline: none;
}


.xiv-ui-sliderbase-valueinput-display, 
.xiv-ui-sliderbase-valueinput-box
{
    @include nrg-font;
}

.xiv-ui-sliderbase-valueinput-box
{
    height: 17px;
}

.xiv-ui-sliderbase-valueinput-display {
}


.xiv-ui-sliderbase-valueinput-box {
}.xiv-ui-slidercontroller {
    
}




.xiv-ui-slidercontroller-slider {
    position: absolute;
    left: calc(55% - 65px);
    width: calc(55% - 65px);
    outline: none;
}



.xiv-ui-slidercontroller-slider-track {
    @extend .xiv-ui-sliderbase-slider-track;
}



.xiv-ui-slidercontroller-slider-track-hover {
    box-sizing: content-box;
}


.xiv-ui-slidercontroller-value-input {
    top: -3px;
    width: 46px;
    left: calc(100% - 56px);
    background-color: rgba(0,0,0,0);
    @include nrg-font;
}

.xiv-ui-buttoncontroller {
    @include nrg-font;
    text-align: center;
}

.xiv-ui-buttoncontroller-element { 
    top: 5px;
    @include nrg-font;
    color: black;
    cursor: pointer;
    height: 22px;
    border-radius: 0px;
    border: none;
    background: rgb(200,200,200);
    width: 60px;
    font-weight: normal;
}

.xiv-ui-twothumbslidercontroller {
    outline: 0;
}




.xiv-ui-twothumbslidercontroller-slider {
    position: absolute;
    top: 20px;
    left: 25%;
    width: calc(70% - 140px);
    outline: 0;
}



.xiv-ui-twothumbslidercontroller-slider-track {
    @extend .xiv-ui-sliderbase-slider-track;
}


.xiv-ui-twothumbslidercontroller-slider-thumb{
    top: -1px;
}

.xiv-ui-twothumbslidercontroller-slider-thumb-extent {
    @extend .xiv-ui-sliderbase-slider-thumb;
    @extend .xiv-ui-twothumbslidercontroller-slider-thumb;
}


.xiv-ui-twothumbslidercontroller-slider-thumb-value {
    @extend .xiv-ui-sliderbase-slider-thumb;
    @extend .xiv-ui-twothumbslidercontroller-slider-thumb;
    left: 0px;
}



.xiv-ui-twothumbslidercontroller-value-input,
.xiv-ui-twothumbslidercontroller-extent-input {
    position: absolute;
    top: 0px;
    @include nrg-font;
}


.xiv-ui-twothumbslidercontroller-value-input {
    left: calc(100% - 140px);
}


.xiv-ui-twothumbslidercontroller-extent-input {
    left: calc(100% - 68px);
}.xiv-ui-checkboxcontroller {
        outline: none;
}



.xiv-ui-checkboxcontroller-checkboxholder {
    position: absolute;
    top: 0px;
    left: 50%;
    outline: none;
}.xiv-ui-radiobuttoncontroller-radiobutton{
    position: absolute;
    top: 0px;
    left: 50%;
}.xiv-ui-colorpalettecontroller {
    position: absolute;
    width: 450px;
    height: 300px;
    top: 0px;
    left: 30%;
}


.xiv-ui-colorpalettecontroller-colorsquare {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 11px;
    width: 11px;
    border: solid 1px rgb(90, 90, 90);
    background-color: rgb(255,0,0);
    cursor: pointer;
}


.xiv-ui-colorpalettecontroller-colorpaletteholder {
/*
    position: absolute;
    top: 15px;
    left: 0px;
    width: 420px;
    height: 300px;
    background-color: rgb(0,0,0);
    border: solid 1px white;
*/
}


.xiv-ui-colorpalettecontroller-colorpalette {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
}


.xiv-ui-colorpalettecontroller-closebutton {
    position: absolute; 
    cursor: pointer;
    top: 5px;
    left: 100%;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    content:url('../../../../images/viewer/xiv/ui/Modal/close.png');
}/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-helpdialog {
    position: absolute;
    background-color: rgba(0,0,0,.9);
    border-radius: 5px;
    border: solid 1px white;
    font-size: 8px;
    color: white;
    text-align: left;
    top: 10%;
    left: 10%;
    height: 300px;
    width: 400px;
    z-index: 20000;
}


.xiv-ui-helpdialog-title {
    height: 15px;
}

.xiv-ui-helpdialog-closebutton {
   top: 2px;
   left: calc(100% - 12px);
}


.xiv-ui-helpdialog-scrollablezippytree {
    position : absolute;
    top : 25px;
    left : 0px;
    width : calc(100% - 14px);
    height : calc(100% - 40px);
}



.xiv-ui-helpdialog-text {
    position: absolute;
    text-align: left;
    @include nrg-font(12px); 
    white-space: normal;
    padding: 8px;
    top: 20px;
    left: 20px;
}
/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-viewbox {
    top: 0px;
    left: 80px;
    width: 500px;
    height: 500px;
    position: absolute;
box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  z-index:0;
}

.xiv-ui-viewbox:hover {
  z-index:2;
}


.xiv-ui-viewbox-hidden {
    visibility: hidden;
}


.xiv-ui-viewbox-draganddrophandle {
    position: absolute; 
    cursor: pointer;
    width: 6px;
    height: 13px;
    opacity: .4;
    z-index: 1000;
    margin-left: -10px;
}



.xiv-ui-viewbox-tabdragger {
    background-color: rgb(40,40,40);
    height: 10px;
}


.xiv-ui-viewbox-tabdragger-handle {
    position: absolute;
    top: calc(50% - 1.5px);
    left: calc(50% - 15px);
    width: 30px;
    height: 3px;
    background-color: rgb(100,100,100);
}



.xiv-ui-viewbox-viewlayoutmenu {
    height: 14px; 
    width: 14px;
    cursor: pointer;
}


@mixin viewframe-border {
    background-color: rgb(50,50,50);
    position: absolute;
    z-index: 1;
}

@mixin viewframe-border-vert {
    @include viewframe-border;
    top: 0px;
    width: 1px;
    height: 100%;
}

@mixin viewframe-border-horiz {
    @include viewframe-border;
    left: 0px;
    width: 100%;
    height: 1px;
}


.xiv-ui-viewbox-viewframe {
    position: absolute;
    top: 0px;
    left: 22px;
    width: calc(100% - 22px);
    height: calc(100% - 2px);
    background-color: black;
    position: absolute;
    overflow: visible;
}


.xiv-ui-viewbox-viewframe-border-right {
    @include viewframe-border-vert;
    right: 0px;
}


.xiv-ui-viewbox-viewframe-border-left {
    @include viewframe-border-vert;
    left: 0px;
}


.xiv-ui-viewbox-viewframe-border-top {
    @include viewframe-border-horiz;
    top: 0px;
}


.xiv-ui-viewbox-viewframe-border-bottom {
    @include viewframe-border-horiz;
    bottom: 0px;
}



.xiv-ui-viewbox-ziptabs {
    left: 0px;
    width: 100%;
}


.xiv-ui-viewbox-ziptab-bounds {
    position: absolute;
    cursor: auto;
    left: 0px;
    top: 300px;
    height: calc(100% - 300px);
    width: 100%;
    background-color: rgba(255,0,0,0);
}


.xiv-ui-viewbox-viewlayouthandler {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}


.xiv-ui-viewbox-viewablegroupmenu {
    z-index: 100;
}


.xiv-ui-viewbox-menu-left, 
.xiv-ui-viewbox-menu-top-left {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    position: absolute;
    display: block;
    overflow: hidden;
    width: 22px;
    border-top: solid rgb(100,100,100) 1px;
    border-left: solid rgb(100,100,100) 1px;
    border-bottom: solid rgb(100,100,100) 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(0,0,0);
    opacity: .5;
    transition-property: opacity;
    z-index: 0;
    @include nrg-transitionable;
}

.xiv-ui-viewbox-menu-left:hover{
  opacity: 1;
}

.xiv-ui-viewbox-menu-top-left:hover {
  opacity: 1;
}





.xiv-ui-viewbox-menu-left {
    top: calc(50% - 57px);
}



.xiv-ui-viewbox-button-threedtoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}


.xiv-ui-viewbox-button-threedtoggle-on {
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewbox-button-crosshairtoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}
.xiv-ui-viewbox-button-crosshairtoggle-on {
    opacity: 1;
    background-color: black;
}



.xiv-ui-viewbox-button-brightnesscontrasttoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}
.xiv-ui-viewbox-button-brightnesscontrasttoggle-on {
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewbox-component-highlight {
    /*box-shadow: 0px 0px 1px 1px rgba(255,255,255, 1);*/
}



.xiv-ui-viewbox-inusedialog {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 125px);
    width: 250px;
    height: 120px;
    background: black;
    background-color: black;
    border: 1px solid white;
    padding: 4px;
    @include nrg-font(12px);
    border-radius: 10px;
    outline: 0;
    z-index: 200;
}



.xiv-ui-viewbox-emptymenubutton {
    width: 15px;
    height: 15px;
}



/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-viewboxdialogs-generic-toggle{
    width: 15px;
    height: 15px;
    opacity: .5;
    background-color: black;
}


.xiv-ui-viewboxdialogs-generic-toggle-on{
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewboxdialogs-infodialog {
    position: absolute;
    background-color: rgba(0,0,0,0);
    @extend %nrg-metadata-text;
    color: rgb(155,155,155) !important;
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 10;
    border: none;
    cursor: default;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgba(255,255,255,0);
    background-color: rgba(60,60,60,0);
    transition-property: color, background-color, border-color; 
    @include nrg-transitionable;
}


.xiv-ui-viewboxdialogs-infodialog-text {
    color: rgb(155,155,155);
    transition-property: color; 
    @include nrg-transitionable;
}


.xiv-ui-viewboxdialogs-infodialog:hover { 
    color: rgb(255,255,255) !important;  
    border-color: rgba(255,255,255,1);
    background-color: rgba(60,60,60,.5);
}


.xiv-ui-viewboxdialogs-infodialog-content:hover > .xiv-ui-viewboxdialogs-infodialog-text { 
    color: rgb(255,255,255);
}


.xiv-ui-viewboxdialogs-infodialog-title { 
    opacity: 0;
    transition-property: opacity; 
}



.xiv-ui-viewboxdialogs-infodialog,
.xiv-ui-viewboxdialogs-infodialog-title { 
    transition-duration: .15s;
    transition-timing-function: ease-out;    
}


.xiv-ui-viewboxdialogs-infodialog:hover > .xiv-ui-viewboxdialogs-infodialog-title {    
    opacity: 1;
}


.xiv-ui-viewboxdialogs-infodialog-content {    

}


.xiv-ui-viewboxdialogs-infodialog-closebutton {    

}


.xiv-ui-viewboxdialogs-infodialog-closebutton-image {    

}


.xiv-ui-viewboxdialogs-infodialog-text {
    white-space: nowrap;
    text-align: left;
    font-size: 12px;
}










/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */

.xiv-ui-viewboxinteractorhandler-generic-toggle
 {
    width: 15px;
    height: 15px;
    opacity: .5;
}

.xiv-ui-viewboxinteractorhandler-generic-toggle-on
{
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewboxinteractorhandler-generic-zippytree {
    top: 30px;
    width: calc(100% - 20px);
    height: calc(100% - 30px);
}



.xiv-ui-viewboxinteractorhandler-generic-dialog  {
    width: 470px;
    height: 330px;
    cursor: default;
    z-index: 1000000;
}



.xiv-ui-viewboxinteractorhandler-viewframe-grab {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}



.xiv-ui-viewboxinteractorhandler-viewframe-grabbing {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

.xiv-ui-viewboxinteractorhandler-viewframe-grab-custom {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}


.xiv-ui-viewboxinteractorhandler-viewframe-grabbing-custom {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}


.xiv-ui-viewboxinteractorhandler-viewframe-zoom-in {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}


.xiv-ui-viewboxinteractorhandler-viewframe-zoom-out {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
}



.xiv-ui-viewboxinteractorhandler-zoom-follower {
    @include nrg-font;
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    text-wrap: none;
    width: 200px;
}



.xiv-ui-viewboxinteractorhandler-levelsdialog  {
    position: absolute;
    font-size: 12px;
    top: 0px;
    color: white;
    left: 0px;
    width: 200px;
    z-index: 10;
    cursor: default;
    overflow: hidden;
    /* transition styles */
    height: 150px;
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    transition-property: height, background-color, border-color;
}

 
.xiv-ui-viewboxinteractorhandler-levelsdialog:hover { 
    height: 440px;
    background-color: rgba(0,0,0,.9);
    border-color: rgba(255,255,255, 1);
}


.xiv-ui-viewboxinteractorhandler-levelsdialog-title {
    opacity: 0;
    transition-property: opacity;
}

.xiv-ui-viewboxinteractorhandler-levelsdialog,
.xiv-ui-viewboxinteractorhandler-levelsdialog-title {
    transition-duration: .3s;
    /*transition-timing-function: ease-out;*/
}

.xiv-ui-viewboxinteractorhandler-levelsdialog:hover > .xiv-ui-viewboxinteractorhandler-levelsdialog-title{ 
    opacity: 1;
}

.xiv-ui-viewboxinteractorhandler-levelsdialog-max:hover > .xiv-ui-viewboxinteractorhandler-levelsdialog-title{ 
    opacity: 1;
}




.xiv-ui-viewboxinteractorhandler-histdetails {    
    position: relative;
    height: 17px;
    width: 100%;
    cursor: pointer;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    @include nrg-font;
    border: solid 1px rgba(80, 80, 80, 0);
    transition-property: height, border;
    transition-duration: .3s;
    overflow: hidden;
}


.xiv-ui-viewboxinteractorhandler-histdetails-expandbutton {    
    background-color: rgba(80,80,80, 1);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 15px;
    width: 100%;
    padding-left: 5px;
    padding-top: 1px;
    z-index: 2;
}



.xiv-ui-viewboxinteractorhandler-histdetails-fadebottom {
    visibility: hidden;
    position: absolute;
    width: 100%;
    top: calc(100% - 100px);
    height: 100px;
    left: 0px;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); 
}


.xiv-ui-viewboxinteractorhandler-histdetails:hover {    
    border: solid 1px rgba(80, 80, 80, 1);
    height: 110px;
}
/*
 * Standard styling for the Modal
 *
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-nomobilemodal {
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px; 
    height: 100%;
    width: 100%;
}


.xiv-ui-nomobilemodal-content {
    @include nrg-font(12px);
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



.xiv-ui-modal {
    position: fixed;
    background-color: rgba(0,0,0,1);
    border: none;
    z-index: 2;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}


.xiv-ui-modal-windowed {
    position: fixed;
    border: solid 1px black;
    border-radius: 20px;
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}




.xiv-ui-modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
    display: inline-block;
}


.xiv-ui-modal-background-black {
    background-color: rgba(0,0,0,1);
    color: rgba(0,0,0,1);
}


.xiv-ui-modal-close-button {
    position: absolute; 
    cursor: pointer;
    top: 10px;
    left: 100%;
    margin-left: -20px;
    width: 10px;
    height: 10px;
}


.xiv-ui-modal-fullscreen-button, .xiv-ui-modal-windowed-button {
    position: absolute; 
    cursor: pointer;
    top: 27px;
    left: 100%;
    margin-left: -20px;
    width: 11px;
    height: 11px;
}


.xiv-ui-modal-windowed-button {
}


.xiv-ui-modal-fullscreen-button {

}

.xiv-ui-modal-popup-button {
    position: absolute; 
    cursor: pointer;
    top: 45px;
    left: 100%;
    margin-left: -21px;
    width: 12px;
    height: 12px;
}




.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button,
.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
    position: absolute;
    cursor: pointer; 
    z-index: 2;
}



.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button {
    left: 100%;
    top: 50%;
    margin-left: -19px;
    width: 8px;
    height: 24px;    
}


.xiv-ui-modal-insertcolumn-button {
    margin-top: -10px;  
}


.xiv-ui-modal-removecolumn-button {
    margin-top: 10px;
}




.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
    top: 100%;
    left: 50%;
    margin-top: -23px;
    width: 24px;
    height: 8px;    
}



.xiv-ui-modal-insertrow-button {
    margin-left: -10px;  
}


.xiv-ui-modal-removerow-button {
    margin-left: 10px;
}


.xiv-ui-modal-projecttab-bounds {
    position: absolute;
    top: 29px;
    left: 0px;
    height: calc(100% - 58px);
    width: 30%;
    background-color: rgba(120,220,120, 0);
}


.xiv-ui-modal-projecttab {
    left: 0px;
    height: calc(100% - 60px);
    top: 29px;
    border-radius: 0px;
}


.xiv-ui-modal-projecttab-dragger {
    left: calc(100%);
    width: 10px;
    background-color: rgba(45,45,45,1);
    top: 29px;
    height: calc(100% - 58px);
    border-radius: 0px 4px 4px 0px;
    opacity: 0;
}



.xiv-ui-modal-projecttab-dragger-handle {
    position: absolute;
    width: 4px;
    left: 3px;
    height: 30px;
    top: calc(50% - 15px);
    background-color: rgb(100,100,100);
    border-radius: 4px;
}



.xiv-ui-modal-addsubjects {
    width: 87%;
    height: 40px;
    line-height: 40px;
    top: calc(100% - 50px);
    background-color: rgb(100,100,100);
    position: absolute;
    left: 8%;
    z-index: 200;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    opacity: .7;
    border-radius: 5px;
    @include nrg-font;
}


.xiv-ui-modal-addsubjects-hovered {
    opacity: 1;
}


.xiv-ui-modal-foldericon {
    position: absolute;
    left: calc(50% - 9px);
    height: 15px;
    width: 15px;
    opacity: .5;
    top: 5px;
}/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */




/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-thumbnailgallery {
    position: absolute;
    left: 0px;
    width: calc(100% - 10px);
}



.xiv-ui-thumbnailgallery-thumbnail-dragging {
    position: absolute;
    width: 87px;
    height: 87px;
    top: 0px;
    left: 0px;
    cursor: pointer;
    background-color: rgb(0,0,0);
    z-index: 2;
    opacity: .85;
    width: 150px;
    background-color: rgba(0,0,0,0);
    opacity: .5
}/*#
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-viewboxhandler-handle {
    position: relative; 
    cursor: pointer;
    width: 7px;
    margin-left: -1px;
    height: 17px;
    opacity: .5;
}



.xiv-ui-viewboxhandler-viewboxdragclone {
    border: solid 1px rgb(255,255,255);
    background-color: rgba(0,0,0,.5);
    z-index: 10000
}


.xiv-ui-viewboxhandler-closebutton {
    position: absolute;
    height: 9px;
    width: 9px;
    outline: 0;
    cursor: pointer;
    opacity: .6;
}



.xiv-ui-viewboxhandler-closebutton-hovered {
    opacity: 1;
}



.xiv-ui-viewboxhandler-addrowbutton {
    position: absolute;
    height: 5px;
    width: 10px;
    outline: 0;
    cursor: pointer;
    opacity: .6;
}



.xiv-ui-viewboxhandler-addrowbutton-hovered {
    opacity: 1;
}


.xiv-ui-viewboxhandler-addcolumnbutton {
    position: absolute;
    height: 10px;
    width: 5px;
    margin-left: 5px;
    outline: 0;
    cursor: pointer;
    opacity: .6;
}



.xiv-ui-viewboxhandler-addcolumnbutton-hovered {
    opacity: 1;
}/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-layouts-layouthandler {
    position: absolute;
    background: black;
}


.xiv-ui-layouts-hoverframe {

}




/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-layouts-layout {
    position: absolute;
    width: 100%;
    height: 100%;
}
/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-levelscontroller {
    position: absolute;
    width: 100%;
    height: 100%;
}



.xiv-ui-levelscontroller-sliderlabel,
.xiv-ui-levelscontroller-twothumbsliderlabel {
    position: absolute;
    font-size: 12px;
    top: 6px;
}


.xiv-ui-levelscontroller-twothumbsliderlabel {
    left: 10px;
    font-size: 10px;
    top: 0px;
}

.xiv-ui-levelscontroller-slidercontroller, 
.xiv-ui-levelscontroller-twothumbslidercontroller {
    height: 40px;
}


.xiv-ui-levelscontroller-slidercontroller {
    width: 80%;
}

.xiv-ui-levelscontroller-twothumbslidercontroller {
    height: 45px;
    width: 90%;
}



.xiv-ui-levelscontroller-slider{
    left: 0%;
    top: 28px;
    width: 95%;
}


.xiv-ui-levelscontroller-twothumbslider {
    left: 7%;
    top: 24px;
    width: 100%;
}


.xiv-ui-levelscontroller-slidervalue {
    left: calc(100% - 52px);
    width: 50px;
    top: 4px;
}


.xiv-ui-levelscontroller-twothumbslidervalue,
.xiv-ui-levelscontroller-twothumbsliderextent {
    left: 10px;
    top: 32px;
}

.xiv-ui-levelscontroller-twothumbsliderextent {
    left: calc(100% - 37px);
}




.xiv-ui-levelscontroller-checkbox {
    top: 28px;
    width: 110px;
}

.xiv-ui-levelscontroller-checkboxholder {
    top: 0px;
    width: 10px;
    outline: none;
    left: calc(100% - 15px);
}


.xiv-ui-levelscontroller-checkboxcontroller {
    height: 15px;
    outline: none;
}/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */






.xiv-ui-layouts-conventional {
    position: absolute;
    width: 100%;
    height: 100%;
}


.xiv-ui-layouts-conventional-x,  .xiv-ui-layouts-conventional-y,
.xiv-ui-layouts-conventional-z, .xiv-ui-layouts-conventional-v {
    position: absolute;
}


.xiv-ui-layouts-conventional-v {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 65%;
    z-index: 4;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px rgb(50,50,50);
}



.xiv-ui-layouts-conventional-x,  .xiv-ui-layouts-conventional-y,
.xiv-ui-layouts-conventional-z {
    top: 65%;
    height: 35%;
    width: 33.33%;
}


.xiv-ui-layouts-conventional-x {
    left: 33.33%;
    /*border-left: solid 1px rgb(50,50,50);*/
}


.xiv-ui-layouts-conventional-y {
    left: 66.66%;
    border-left: solid 1px rgb(50,50,50);
}


.xiv-ui-layouts-conventional-z {
    left: 0px;
    border-right: solid 1px rgb(50,50,50);
}



.xiv-ui-layouts-conventional-x-resizeboundary,
.xiv-ui-layouts-conventional-y-resizeboundary,
.xiv-ui-layouts-conventional-z-resizeboundary,
.xiv-ui-layouts-conventional-v-resizeboundary {
    position : absolute;
    z-index: -1;
}


.xiv-ui-layouts-conventional-x-resizeboundary {
    /**
    background-color: purple;
    opacity: .5;
    z-index: 20;
    */
}



/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-layouts-fourup {
    position: absolute;
    width: 100%;
    height: 100%;
}


.xiv-ui-layouts-fourup-x,  .xiv-ui-layouts-fourup-y, 
.xiv-ui-layouts-fourup-z, .xiv-ui-layouts-fourup-v {
    position: absolute;
  width: 50%;
  height: 50%;
}


.xiv-ui-layouts-fourup-x-resizeboundary {
    /*
    background-color: blue;
    opacity: .3;
    */
    z-index: -1;
}


.xiv-ui-layouts-fourup-v {
    left: 50%;
    top: 0%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: solid 1px rgb(50,50,50);
}




.xiv-ui-layouts-fourup-x {
    left: 0%;
    top: 50%;
    border-left: none;
    border-top: none;
    border-right: solid 1px rgb(50,50,50);
    border-bottom: none;
}


.xiv-ui-layouts-fourup-y {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: none;
    left: 50%;
    top: 50%;
}


.xiv-ui-layouts-fourup-z {
    border-left: none;
    border-top: none;
    border-right: solid 1px rgb(50,50,50);
    border-bottom: solid 1px rgb(50,50,50);
    left: 0%;
    top: 0%;
}


/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-layouts-twodrow {
    position: absolute;
    width: 100%;
    height: 100%;
}



.xiv-ui-layouts-twodrow-x,  .xiv-ui-layouts-twodrow-y, 
.xiv-ui-layouts-twodrow-z {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 33.33%;

}


.xiv-ui-layouts-twodrow-x {
    left: 0px;
}


.xiv-ui-layouts-twodrow-y {
    left: 33.33%;
    border-left: solid 1px rgb(50,50,50); 
}


.xiv-ui-layouts-twodrow-z {
    left: 66.66%; 
    border-left: solid 1px rgb(50,50,50);
}



.xiv-ui-layouts-twodrow-x-resizeboundary,
.xiv-ui-layouts-twodrow-y-resizeboundary,
.xiv-ui-layouts-twodrow-z-resizeboundary {
    position : absolute;
    z-index: -1;
}



/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-layouts-twodwidescreen {
    position: absolute;
    width: 100%;
    height: 100%;
}



.xiv-ui-layouts-twodwidescreen-y, 
.xiv-ui-layouts-twodwidescreen-z {
    position: absolute;
    left: 66%;
    height: 50%;
    width: 33.33%;
}


.xiv-ui-layouts-twodwidescreen-y {
    top: 0px;
    border-bottom: solid 1px rgb(50,50,50);
}


.xiv-ui-layouts-twodwidescreen-z {
    top: 50%;
}


.xiv-ui-layouts-twodwidescreen-x {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 66%;
    height: 100%;
    border-right: solid 1px rgb(50,50,50);
}



.xiv-ui-layouts-twodwidescreen-x-resizeboundary,
.xiv-ui-layouts-twodwidescreen-y-resizeboundary,
.xiv-ui-layouts-twodwidescreen-z-resizeboundary {
    position : absolute;
    z-index: -1;
}


.xiv-ui-progressbarpanel  {
    position: absolute;
    top: 1px;
    left: 1px;
    height: calc(100% - 2px); 
    width: calc(100% - 2px);
    background-color: rgb(0, 0, 0);
    text-align: middle;
    z-index: 2;
}

.xiv-ui-progressbarpanel-thumb  {
    position: absolute;
    height: 100%;
    top: 0px;
    background-color: rgb(100, 149, 237);
    border-radius: 1px;
}

.xiv-ui-progressbarpanel-progbarholder  {
    position: absolute;
    height: 1px; 
    width: 95%;
    top: calc(50% - 1px);
    background-color: rgba(30,30,30,1);
    border-radius: 1px;
    border: none;
    left: 2.5%;
    overflow: visible;
}


.xiv-ui-progressbarpanel-progressbar  {
    background: rgba(100,149,237, 1);
    height: 100%;
    top: 0px;
}


.xiv-ui-progressbarpanel-labelholder  {
    position: absolute;
    height: 15px; 
    top: calc(50% - 15px);
    left: 2.5%;
    @include nrg-font;
    visibility: hidden;
}



@-webkit-keyframes endNode {
  from { 
      background-color: rgba(255,255,255, .9);
      box-shadow: 0px 0px 2px 1px rgba(255,255,255, .05);
  }
/*
  50% { 
      background-color: rgba(255,255,255, 1);
      box-shadow: 0px 0px 2px 3px rgba(255,255,255, .8);
  }
*/
  to { 
      background-color: rgba(255,255,255, 1);
      box-shadow: 0px 0px 2px 3px rgba(255,255,255, .8);
  }
}


.xiv-ui-progressbarpanel-endnode {
    position: absolute;
    top: 0px;
    left: calc(100% - 4px);
    height: 100%; 
    width: 4px;
    border-radius: 2px;
    z-index: 2;
    background-color: rgba(255,255,255, .9);
    box-shadow: 0px 0px 2px 1px rgba(255,255,255, .05);
}


.xiv-ui-progressbarpanel-endnode-glow {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: endNode;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: endNode;
    animation-duration: .5s;
    animation-iteration-count: 1;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */

.xiv-ui-histogram  {
    position: absolute;
    height: 120px;
    z-index: 5000;
    top: -12px;
}

.xiv-ui-histogram-canvas,
.xiv-ui-histogram-linecanvas {
    position: absolute;
    left: calc(10% - 1px);
    width: calc(80% - 2px);
    height: 85px;
    top: 20px;
}


.xiv-ui-histogram-canvas {
    background-color: white;
}



.xiv-ui-histogram-clipmax,
.xiv-ui-histogram-clipmin,
.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
    @include nrg-font;
    position: absolute;
    height: 14px;
    white-space: nowrap;
}


.xiv-ui-histogram-clipmax,
.xiv-ui-histogram-clipmin {
    top: 7px;
}



.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
    top: calc(100% - 12px);
}


.xiv-ui-histogram-max {
    width: 100%;
    text-align: right;
}


.xiv-ui-histogram-min {
    left: 0px;
    text-align: left;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-viewablegroupmenu {
    cursor: pointer;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(50,50,50,1);
    border: solid 1px rgb(155,155,155);
    border-radius: 4px;
    z-index: 5002;
}


.xiv-ui-viewablegroupmenu-thumbnailgallery {
    position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    left: 0px;
    top: 20px;
    height: calc(100% - 20px);
    width: 100%;
    background-color: black;
    border-top: solid 1px rgb(155,155,155);
}


.xiv-ui-viewablegroupmenu-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    margin-top: 2px;
    margin-left: 4px;
    @include nrg-font;
}


.xiv-ui-viewablegroupmenu-thumbnail {
    width: 100%;
    height: 150px;
}


.xiv-ui-viewablegroupmenu-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: black;
    
}



.xiv-ui-viewablegroupmenu-thumbnail-image {
    width: 140px;
    height: 140px;
    top: 5px;
    left: 5px;	
    border: solid 1px rgba(100,100,100,1);
}


.xiv-ui-viewablegroupmenu-thumbnail-text {
    position: absolute;
    left: 160px;
    top: calc(50% - 7px);
    @include nrg-font(14px); 
}


/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */



.xiv-ui-crosshairs-vertical, 
.xiv-ui-crosshairs-horizontal {
    position: absolute;
    background-color: rgba(125,125,125, 1);
}



.xiv-ui-crosshairs-vertical {
    width: 1px;
    height: 100%;
    top: 0px;
    left: 50%;
}


.xiv-ui-crosshairs-horizontal {
    width: 100%;
    height: 1px;
    top: 50%;
    left: 0px;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-framedisplay {
    position: absolute;
    top: 6px;
    height: 20px;
    width: 80px;
    left: calc(100% - 90px);
    text-wrap: none;
}


.xiv-ui-framedisplay-text {
    font-size: 10px;
}
/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-zoomdisplay {
    position: absolute;
    top: 22px;
    height: 20px;
    width: 80px;
    left: calc(100% - 90px);
    text-wrap: none;
    font-size: 10px !important;
}


.xiv-ui-zoomdisplay-text {
    font-size: 10px;
}/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */


.xiv-ui-playbutton-image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 6px;
    width: 9px;
    opacity: .6;
}



.xiv-ui-playbutton {
    cursor: pointer;
    @extend .xiv-ui-playbutton-image;
    opacity: 1;
    left: 9px;
    top: calc(100% - 13px);
}


