.xiv-ui-ctrl-colorpalettecontroller {
    
}


.xiv-ui-ctrl-colorpalettecontroller-colorsquare {
    position: absolute;
    top: 0%;
    left: 30%;
    height: 11px;
    width: 11px;
    border: solid 1px rgb(90, 90, 90);
    background-color: rgb(255,0,0);
    cursor: pointer;
}


.xiv-ui-ctrl-colorpalettecontroller-colorpaletteholder {
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 210px);
    width: 420px;
    height: 300px;
    z-index: 2;
    background-color: rgb(0,0,0);
    border: solid 1px white;
}


.xiv-ui-ctrl-colorpalettecontroller-colorpalette {
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
}


.xiv-ui-ctrl-colorpalettecontroller-closebutton {
    position: absolute; 
    cursor: pointer;
    top: 5px;
    left: 100%;
    margin-left: -15px;
    width: 10px;
    height: 10px;
    content:url('../../../../images/viewer/xiv/ui/Modal/close.png');
}