/**
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


/**
* 
* Indent
*
*/
.xiv-ui-ui-controllermenu-slider-indent1 {
    margin-left: 10px;
}
.xiv-ui-ui-controllermenu-slider-indent2 {
    margin-left: 20px;
}



/**
* Row
*/
.xiv-ui-ui-controllermenu-row {
    margin-top: 2px;
    position: relative;
    display: block;
    width: 100%;
    height: 15px;
}




/**
* Labels
*/
.xiv-ui-ui-controllermenu-label, .xiv-ui-ui-controllermenu-slider-value  {
    //position: relative;
    top: 0px;

    color: rgb(220, 220, 220);
    font-size: 11px;
    font-family: Helvetica, 'Helvetica neue', Arial, sans-serif;
    height: 20px;
    z-index: 50000;
    overflow: visible;
}

.xiv-ui-ui-controllermenu-label-button {

}

.xiv-ui-ui-controllermenu-value {

    left: 250px;
    overflow: visible;
    font-size: 9px;
    color: rgb(160,160,160);
}


/**
* 
* SLIDER DISPLAY
*
*/
.xiv-ui-ui-controllermenu-slider-widget, .xiv-ui-ui-controllermenu-twothumbslider-widget {
    position: absolute;
    margin-top: 0px;
    left: 100px;
    width: 120px;
    height: 12px;
    background: rgba(0,0,0,0);
    overflow: visible;
    z-index: 1000;
}




.xiv-ui-ui-controllermenu-twothumbslider-widget {
    margin-top: 2px;
}



.xiv-ui-ui-controllermenu-slider-track, .xiv-ui-ui-controllermenu-twothumbslider-track {
    position: absolute;
    height: 2px;
    margin-top: -8px;
    top: 13px;
    left: 0;
    width: 100%;
    background-color: rgb(80,80,80);
    border: none;
    border-radius: 2px;
}


.xiv-ui-ui-controllermenu-twothumbslider-track {
    margin-top: -8px;
}


.xiv-ui-ui-controllermenu-twothumbslider-thumb, .xiv-ui-ui-controllermenu-slider-thumb {
    position : absolute;
    width : 5px;
    height : 8px;
    background: rgb(220,220,220);
    border: 0px;
    border-radius: 3px;
    margin-top: 2px;
    cursor: pointer;
}



.xiv-ui-ui-controllermenu-twothumbslider-thumb, {
    left: 5px;
}


.xiv-ui-ui-controllermenu-thumb-hover {
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, .55);
}



.xiv-ui-ui-controllermenu-button {
    cursor: pointer;
    position: absolute;
    left: 155px;
    margin-top: -1px;
    margin-left: -3px;
    z-index: 10000;
    overflow: visible;
}


.xiv-ui-ui-controllermenu-button-radio {
    margin-top: 1px;
}


