/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-fourup {
    position: absolute;
    width: 100%;
    height: 100%;
}


.xiv-ui-layouts-fourup-x,  .xiv-ui-layouts-fourup-y, 
.xiv-ui-layouts-fourup-z, .xiv-ui-layouts-fourup-v {
    position: absolute;
  width: 50%;
  height: 50%;
}


.xiv-ui-layouts-fourup-x-resizeboundary {
    /*
    background-color: blue;
    opacity: .3;
    */
    z-index: -1;
}


.xiv-ui-layouts-fourup-v {
    left: 50%;
    top: 0%;
}




.xiv-ui-layouts-fourup-x {
    left: 0%;
    top: 50%;
}


.xiv-ui-layouts-fourup-y {
    border-top: solid 2px rgb(50,50,50);
    left: 50%;
    top: 50%;
}


.xiv-ui-layouts-fourup-z {
    left: 0%;
    top: 0%;
}


