/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-ctrl-histogram  {
    position: absolute;
    width: 250px;
    height: 120px;
    z-index: 5000;
}

.xiv-ui-ctrl-histogram-canvas,
.xiv-ui-ctrl-histogram-linecanvas {
    position: absolute;
    height: calc(100% - 47px);
    width: calc(100% - 20px);
    border-top: solid 10px rgb(120,120,120);
    border-left: solid 10px rgb(120,120,120);
    border-right: solid 10px rgb(120,120,120);
    border-bottom: solid 15px rgb(120,120,120);
    top: 20px;
}


.xiv-ui-ctrl-histogram-canvas {
    background-color: white;
}


.xiv-ui-ctrl-histogram-max,
.xiv-ui-ctrl-histogram-min {
    position: absolute;
    height: 14px;
    width: 50px;
    top: calc(100% - 18px);
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    color: white;
}



.xiv-ui-ctrl-histogram-max {
    left: calc(100% - 60px);
    text-align: right;
}


.xiv-ui-ctrl-histogram-min {
    left: 10px;
    text-align: left;
}

