/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;	
    font-size: 16;		
    font-family: Helvetica, Helvetica neue, Arial, sans-serif;
    border : solid;
    border-color: rgba(50,50,50,1);
    color: rgba(255,255,255,1);
    border-width : 0;
    border-radius: 0;	 
    overflow: hidden;
}


.xiv-ui-holder-tabcontent {
    position: absolute;
    color: rgb(255,255,255);
    top: 30px; 
    height: 100%;
    width: 100%;
    z-index: 10000;
    font-size: 12;		
    font-family: Helvetica, Helvetica neue, Arial, sans-serif;
}

.xiv-ui-holder-tabcontent-info-highimportance {
    font-size: 18px;
    font-weight:bold;
}

.xiv-ui-holder-tabcontent-info-lowimportance {
    font-size: 12px;
}

.xiv-ui-holder-tabcontent-info-label {
    position: absolute;
    left: 15px;
    width: 100%;
    overflow: visible;
}

.xiv-ui-holder-tabcontent-info-value {
    position: absolute;
    top: 0px;
    left: 90px;
}