/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.xiv-ui-layouts-interactors-inputcontroller {
    position: absolute;
    top: 3px;
    width: 100px;
    height: 17px;
    left: calc(100% - 110px);
}


.xiv-ui-layouts-interactors-inputcontroller-listen-element,
.xiv-ui-layouts-interactors-inputcontroller-display,
.xiv-ui-layouts-interactors-inputcontroller-inputbox {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    color: rgb(255,255,255);
    font-size: 12px;
    line-height: 17px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
}


.xiv-ui-layouts-interactors-inputcontroller-listen-element {
    z-index: 3;
}


.xiv-ui-layouts-interactors-inputcontroller-display {
    color: rgb(255,255,255);
    text-align: right;
    text-wrap: none;
}



.xiv-ui-layouts-interactors-inputcontroller-inputbox {
    opacity: 0;
    width: 56px;
    left: calc(100% - 56px);
    background-color: rgb(0,0,0);
    border: solid 1px rgb(95,95,95);
    outline: 0;
    color: rgb(255,255,255);
    z-index: 3;
}