/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-layoutframe {
    position: absolute;
    border: solid 1px rgb(90,90,90);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  overflow: hidden;
  background: black;
}


.xiv-ui-layouts-layoutframe-sagittal, .xiv-ui-layouts-layoutframe-coronal, 
.xiv-ui-layouts-layoutframe-transverse, .xiv-ui-layouts-layoutframe-threed {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
