/*
 * Standard styling for the Modal
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */




.xiv-ui-modal {
    position: fixed;
    background-color: rgba(0,0,0,1);
    border: none;
    z-index: 2;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}


.xiv-ui-modal-windowed {
    position: fixed;
    border: solid 1px black;
    border-radius: 20px;
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}




.xiv-ui-modal-background {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
    display: inline-block;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif
}


.xiv-ui-modal-background-black {
    background-color: rgba(0,0,0,1);
    color: rgba(0,0,0,1);
}


.xiv-ui-modal-close-button {
    position: absolute; 
    cursor: pointer;
    top: 10px;
    left: 100%;
    margin-left: -20px;
    width: 10px;
    height: 10px;
    z-index: 103;
}


.xiv-ui-modal-fullscreen-button, .xiv-ui-modal-windowed-button {
    position: absolute; 
    cursor: pointer;
    top: 27px;
    left: 100%;
    margin-left: -20px;
    width: 11px;
    height: 11px;
    z-index: 1000;
}


.xiv-ui-modal-windowed-button {
}


.xiv-ui-modal-fullscreen-button {

}

.xiv-ui-modal-popup-button {
    position: absolute; 
    cursor: pointer;
    top: 45px;
    left: 100%;
    margin-left: -21px;
    width: 12px;
    height: 12px;
    z-index: 1000;
}




.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button,
.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
    position: absolute;
    cursor: pointer; 
    z-index: 2;
}



.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button {
    left: 100%;
    top: 50%;
    margin-left: -19px;
    width: 8px;
    height: 24px;    
}


.xiv-ui-modal-insertcolumn-button {
    margin-top: -10px;  
}


.xiv-ui-modal-removecolumn-button {
    margin-top: 10px;
}




.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
    top: 100%;
    left: 50%;
    margin-top: -23px;
    width: 24px;
    height: 8px;    
}



.xiv-ui-modal-insertrow-button {
    margin-left: -10px;  
}


.xiv-ui-modal-removerow-button {
    margin-left: 10px;
}


.xiv-ui-modal-projecttab-bounds {
    position: absolute;
    top: 29px;
    left: 0px;
    height: calc(100% - 58px);
    width: 30%;
    background-color: rgba(120,220,120, 0);
}


.xiv-ui-modal-projecttab {
    left: 0px;
    height: calc(100% - 58px);
    top: 29px;
}


.xiv-ui-modal-projecttab-dragger {
    left: calc(100%);
    width: 10px;
    background-color: rgba(45,45,45,1);
    top: 29px;
    height: calc(100% - 58px);
}


.xiv-ui-modal-projecttab-dragger-handle {
    position: absolute;
    width: 4px;
    left: 3px;
    height: 30px;
    top: calc(50% - 15px);
    background-color: rgb(100,100,100);
    border-radius: 4px;
}



.xiv-ui-modal-addsubjects {
    width: 87%;
    height: 40px;
    line-height: 40px;
    top: calc(100% - 50px);
    background-color: rgb(100,100,100);
    position: absolute;
    left: 8%;
    z-index: 200;
    color: white;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    opacity: .7;
    font-size: 12px;
    border-radius: 5px;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif
}


.xiv-ui-modal-addsubjects-hovered {
    opacity: 1;
}