/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xtk-planeholder {
    position: absolute;
    top: 0;
    left: 0;
    height: 95%;
    width: 100%;	
    font-size: 16;		
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: Helvetica, Helvetica neue, Arial, sans-serif;
    border : solid;
    border-color: rgba(50,50,50,1);
    color: rgba(255,255,255,1);
    border-width : 0;
    border-radius: 0;	 
    overflow: visible;
}

