.xiv-ui-ctrl-slidercontroller {
    
}




.xiv-ui-ctrl-slidercontroller-slider {
    position: absolute;
    left: calc(55% - 65px);
    width: calc(55% - 65px);
    outline: none;
}



.xiv-ui-ctrl-slidercontroller-slider-track {
    height: 4px;
    top: calc(50% - 4px);
    border-radius: 3px;
    background-color: rgba(20,20,20,1);
    border: solid 1px rgba(150,150,150,1);
}



.xiv-ui-ctrl-slidercontroller-slider-thumb {
    height: 15px;
    width: 7px;
    border-radius: 3px;
    margin-top: -5px;
    background-color: rgba(200,200,200,1);
    border: solid 1px white;
}

.xiv-ui-ctrl-slidercontroller-slider-thumb-hover {
    box-sizing: content-box;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, .55);
}


.xiv-ui-ctrl-slidercontroller-slider-track-hover {
    box-sizing: content-box;
}


.xiv-ui-ctrl-slidercontroller-value-input {
    position: absolute;
    top: 0px;
    border: solid 1px rgb(100,100,100);
    width: 55px;
    left: calc(100% - 65px);
    font-size: 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
}