/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-layouts-twodwidescreen {
    position: absolute;
    width: 100%;
    height: 100%;
}



.xiv-ui-layouts-twodwidescreen-y, 
.xiv-ui-layouts-twodwidescreen-z {
    position: absolute;
    left: 66%;
    height: 50%;
    width: 33.33%;
}


.xiv-ui-layouts-twodwidescreen-y {
    top: 0px;
}


.xiv-ui-layouts-twodwidescreen-z {
    top: 50%;
}


.xiv-ui-layouts-twodwidescreen-x {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 66%;
    height: 100%;
}



.xiv-ui-layouts-twodwidescreen-x-resizeboundary,
.xiv-ui-layouts-twodwidescreen-y-resizeboundary,
.xiv-ui-layouts-twodwidescreen-z-resizeboundary {
    position : absolute;
    z-index: -1;
}



