.xiv-ui-ctrl-twothumbslidercontroller {
    
}




.xiv-ui-ctrl-twothumbslidercontroller-slider {
    position: absolute;
    top: calc(50% - 3px);
    left: 25%;
    width: calc(70% - 160px);
}



.xiv-ui-ctrl-twothumbslidercontroller-slider-track {
    position: absolute;
    height: 4px;
    width: 100%;
    top: 50%;
    border-radius: 3px;
    background-color: rgba(20,20,20,1);
    border: solid 1px rgba(150,150,150,1);
    z-index: -1;
}



.xiv-ui-ctrl-twothumbslidercontroller-slider-thumb {
    position: absolute;
    height: 15px;
    width: 7px;
    border-radius: 3px;
    margin-top: -5px;
    background-color: rgba(200,200,200,1);
    border: solid 1px white;
    overflow: hidden;
}


.xiv-ui-ctrl-twothumbslidercontroller-slider-thumb-extent {
    left: calc(100% - 7px);
}


.xiv-ui-ctrl-twothumbslidercontroller-slider-thumb-value {
    left: 0px;
}

.xiv-ui-ctrl-twothumbslidercontroller-slider-thumb-hover {
    box-sizing: content-box;
    box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, .55);
}


.xiv-ui-ctrl-twothumbslidercontroller-slider-track-hover {
    box-sizing: content-box;
}


.xiv-ui-ctrl-twothumbslidercontroller-value-input,
.xiv-ui-ctrl-twothumbslidercontroller-extent-input {
    position: absolute;
    top: 0px;
    border: solid 1px rgb(100,100,100);
    width: 60px;
    font-size: 10px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
}


.xiv-ui-ctrl-twothumbslidercontroller-value-input {
    left: calc(100% - 148px);
}


.xiv-ui-ctrl-twothumbslidercontroller-extent-input {
    left: calc(100% - 69px);
}