/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewbox {
    top: 0px;
    left: 80px;
    width: 500px;
    height: 500px;
    position: absolute;
}


.xiv-ui-viewbox-hidden {
    visibility: hidden;
}


.xiv-ui-viewbox-draganddrophandle {
    position: absolute; 
    cursor: pointer;
    width: 6px;
    height: 13px;
    opacity: .4;
    z-index: 1000;
    margin-left: -10px;
}



.xiv-ui-viewbox-tabdragger {
    background-color: rgb(40,40,40);
    height: 10px;
}


.xiv-ui-viewbox-tabdragger-handle {
    position: absolute;
    top: calc(50% - 1.5px);
    left: calc(50% - 15px);
    width: 30px;
    height: 3px;
    background-color: rgb(100,100,100);
}



.xiv-ui-viewbox-viewlayoutmenu {
    height: 15px; 
    width: 15px;
    cursor: pointer;
    z-index: 1000002;
}




.xiv-ui-viewbox-viewframe {
    position: absolute;
    top: 0px;
    left: 22px;
    width: calc(100% - 22px);
    height: 100%;
    position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
      border: solid 1px rgb(100,100,100);
      overflow: visible;
}




.xiv-ui-viewbox-ziptabs {
    left: 0px;
    width: 100%;
}


.xiv-ui-viewbox-ziptab-bounds {
    position: absolute;
    cursor: auto;
    left: 0px;
    top: 300px;
    height: calc(100% - 300px);
    width: 100%;
    background-color: rgba(255,0,0,0);
}


.xiv-ui-viewbox-viewlayouthandler {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
}


.xiv-ui-viewbox-viewablegroupmenu {
    z-index: 100;
}


.xiv-ui-viewbox-menu-left, 
.xiv-ui-viewbox-menu-top-left {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    position: absolute;
    display: block;
    overflow: hidden;
    width: 22px;
    border-top: solid rgba(90,90,90,1) 1px;
    border-left: solid rgba(90,90,90,1) 1px;
    border-bottom: solid rgba(90,90,90,1) 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(0,0,0);
    z-index: 100;

}


.xiv-ui-viewbox-menu-left {
    top: calc(50% - 57px);
}



.xiv-ui-viewbox-button-threedtoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}


.xiv-ui-viewbox-button-threedtoggle-on {
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewbox-button-crosshairtoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}
.xiv-ui-viewbox-button-crosshairtoggle-on {
    opacity: 1;
    background-color: black;
}



.xiv-ui-viewbox-button-brightnesscontrasttoggle {
    width: 15px;
    height: 15px;
    opacity: .5;
}
.xiv-ui-viewbox-button-brightnesscontrasttoggle-on {
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewbox-component-highlight {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    border: solid rgba(250,250,250,1) 1px;
    background-color: black;
}



.xiv-ui-viewbox-inusedialog {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 125px);
    width: 250px;
    height: 120px;
    background: black;
    background-color: black;
    border: 1px solid white;
    padding: 4px;
    color: white;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    border-radius: 10px;
    outline: 0;
    z-index: 200;
}



