/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewboxdialogs-generic-toggle{
    width: 15px;
    height: 15px;
    opacity: .5;
    background-color: black;
    z-index: 11;
}


.xiv-ui-viewboxdialogs-generic-toggle-on{
    opacity: 1;
    background-color: black;
}




.xiv-ui-viewboxdialogs-infodialog {
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
    color: white;
    top: 0px;
    left: 0px;
    width: 200px;
    z-index: 10;
    border: none;
    cursor: default;
}


.xiv-ui-viewboxdialogs-infodialog-hovered {    
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    background-color: rgba(60,60,60,.5);
}


.xiv-ui-viewboxdialogs-infodialog-title { 
    height: 7px;
    background-color: rgba(100,100,100,1);
}


.xiv-ui-viewboxdialogs-infodialog-content {    
    padding-left: 5px;
    padding-top: 0px;
}


.xiv-ui-viewboxdialogs-infodialog-closebutton {    
    height: 7px;
    top: -3px;
    left: calc(100% - 10px);
    width: 7px;
}


.xiv-ui-viewboxdialogs-infodialog-closebutton-image {    
    height: 7px;
    width: 7px;
}


.xiv-ui-viewboxdialogs-infodialog-text {
    position: absolute;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    white-space: nowrap;
    top: 0px;
    left: 0px;
    height: 0px;
    width: 0px;
}


.xiv-ui-viewboxdialogs-inusedialog {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 125px);
    width: 250px;
    height: 100px;
    background: black;
    background-color: black;
    border: 1px solid white;
    padding: 4px;
    color: white;
    font-size: 12px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    border-radius: 10px;
    outline: 0;
    z-index: 1000;
    cursor: default;
}







