/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */

.xiv-ui-viewboxinteractorhandler-generic-toggle
 {
    width: 15px;
    height: 15px;
    opacity: .5;
}

.xiv-ui-viewboxinteractorhandler-generic-toggle-on
{
    opacity: 1;
    background-color: black;
}


.xiv-ui-viewboxinteractorhandler-generic-zippytree {
    top: 30px;
    width: calc(100% - 20px);
    height: calc(100% - 50px);
}



.xiv-ui-viewboxinteractorhandler-generic-dialog  {
    width: 400px;
    height: 330px;
    cursor: default;
    z-index: 999;
}



.xiv-ui-viewboxinteractorhandler-viewframe-grab {
  cursor:hand;
  cursor:grab;
  cursor:-moz-grab;
  cursor:-webkit-grab;
}



.xiv-ui-viewboxinteractorhandler-viewframe-grabbing {
  cursor:grabbing;
  cursor:-moz-grabbing;
  cursor:-webkit-grabbing;
}

.xiv-ui-viewboxinteractorhandler-viewframe-grab-custom {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}


.xiv-ui-viewboxinteractorhandler-viewframe-grabbing-custom {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}


.xiv-ui-viewboxinteractorhandler-viewframe-zoom-in {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}


.xiv-ui-viewboxinteractorhandler-viewframe-zoom-out {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
}



.xiv-ui-viewboxinteractorhandler-zoom-follower {
    color: white;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif;
    font-size: 10px;
    position: absolute;
    z-index: 1000;
    visibility: hidden;
    text-wrap: none;
    width: 200px;
}