/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewablegroupmenu {
    cursor: pointer;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(50,50,50,1);
    
    border: solid 2px rgb(155,155,155);
}


.xiv-ui-viewablegroupmenu-thumbnailgallery {
    position: absolute;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
    left: 0px;
    top: 20px;
    height: calc(100% - 20px);
    width: 100%;
    background-color: black;
    border-top: solid 1px rgb(155,155,155);
}


.xiv-ui-viewablegroupmenu-header {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    font-size: 14;
    margin-top: 2px;
    margin-left: 4px;
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    color : rgb(255,255,255);  
}


.xiv-ui-viewablegroupmenu-thumbnail {
    width: 100%;
    height: 150px;
}


.xiv-ui-viewablegroupmenu-background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgba(70,70,70,.5);
}



.xiv-ui-viewablegroupmenu-thumbnail-image {
    width: 140px;
    height: 140px;
    top: 5px;
    left: 5px;	
    border: solid 1px rgba(100,100,100,1);
}


.xiv-ui-viewablegroupmenu-thumbnail-text {
    position: absolute;
    left: 160px;
    top: calc(50% - 7px);
    font-size: 14px;		
    font-family: Helvetica,"Helvetica neue", Arial, sans-serif; 
    color : rgb(255,255,255);  
}


