/*#
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-viewboxhandler-handle {
    position: relative; 
    cursor: pointer;
    width: 7px;
    margin-left: -1px;
    height: 17px;
    opacity: .5;
}



.xiv-ui-viewboxhandler-viewboxdragclone {
    border: solid 1px rgb(255,255,255);
    background-color: rgba(0,0,0,.5);
    z-index: 10000
}


.xiv-ui-viewboxhandler-closebutton {
    position: absolute;
    height: 9px;
    width: 9px;
    outline: 0;
    cursor: pointer;
    opacity: .6;
    z-index: 5000;
}



.xiv-ui-viewboxhandler-closebutton-hovered {
    opacity: 1;
}



.xiv-ui-viewboxhandler-addrowbutton {
    position: absolute;
    height: 5px;
    width: 10px;
    outline: 0;
    cursor: pointer;
    opacity: .6;
    z-index: 5000;
}



.xiv-ui-viewboxhandler-addrowbutton-hovered {
    opacity: 1;
}


.xiv-ui-viewboxhandler-addcolumnbutton {
    position: absolute;
    height: 10px;
    width: 5px;
    margin-left: 5px;
    outline: 0;
    cursor: pointer;
    opacity: .6;
    z-index: 5000;
}



.xiv-ui-viewboxhandler-addcolumnbutton-hovered {
    opacity: 1;
}