
/*
.goog-slider-thumb {
	position: absolute;
    margin-top: -3px;
	width: 6px;
	height: 9px;
	background: #888;
    border: 0px;
    border-radius: 4px;
}


.goog-slider-thumb,
.goog-twothumbslider-value-thumb,
.goog-twothumbslider-extent-thumb {
    position: absolute;
    margin-top: -2px;
	width: 4px;
	height: 6px;
	background: #eee;
    border: 1px solid #333;
    border-radius: 4px;
}
*/



.xiv-ui-ctrl-xtkcontroller {
    display: block;
    position: relative;
    width: 95%;
    margin-bottom: 10px;
}


.xiv-ui-ctrl-xtkcontroller-label {
    color: white;
    font-size: 12px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
}


.xiv-ui-ctrl-xtkcontroller-component {

}




/*
 * Standard styling for the scroll gallery
 *
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */



.xiv-ui-ctrl-xtkcontroller-scrollgallery {
    top: 25px;
    left: 0px;
    width: 100%;
    height: 90%;
    position: absolute;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}


.xiv-ui-ctrl-xtkcontroller-scrollgallery-scrollarea {
    position: relative;
    width: 166px;
    left: 14px;
}


.xiv-ui-ctrl-xtkcontroller-scrollgallery-zippyheader {

    position: relative;
    background-color: rgb(70,70,70);
    left: 0px;
    height: 1.5em;
    color: rgb(0,0,0);
    font-size: 12px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    cursor: pointer;

}


.xiv-ui-ctrl-xtkcontroller-scrollgallery-slider-widget {
    width: 7;
    background-color: rgb(0,0,0);
    border: none;
}



.xiv-ui-ctrl-xtkcontroller-scrollgallery-slider-thumb {
    height: 60px;
    background-color: rgb(120,120,120);
    border: none;
}