/*
 * @author sunilk@mokacreativellc.com (Sunil Kumar)
 */


.xiv-vis-xtkplane-disabledoverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    display: table;
    color: black;
    font-size: 20px;
    font-family:  Helvetica,"Helvetica neue", Arial, sans-serif;
    text-align: center;
    z-index: 100;
    background-color: rgb(120,120,120);
    opacity: 0;
}
